﻿@using TownSend.Web.Views.Shared.Components.Document
@model DocumentViewModel
@section Scripts
{
    <script src="~/lib/dropzone/dropzone.js"></script>    

}
<style>
    .dz-error-message, .dz-error-mark, .dz-progress {
        display: none !important;
    }
</style>
@{
    var documentactiveclass = "";
    if (TempData["teamtab"] != null && TempData["teamtab"].ToString() == "Documents")
    {
        documentactiveclass = "show active";
    }
    if (TempData["partnertab"] != null && TempData["partnertab"].ToString() == "Documents")
    {
        documentactiveclass = "show active";
    }
    if(TempData["membertab"]!=null && TempData["membertab"].ToString() == "Documents")
    {
         documentactiveclass = "show active";
    }


}
<div class="tab-pane @documentactiveclass" id="documents-info" role="tabpanel">
    <div id="Documents">
        <div class="row">
            <div class="col-5">
                <h2> Document List</h2>
            </div>

            @*@if (User.IsInRole("Admin"))
                {*@
            <div class="col-3 offset-4">
                <button class="btn btn-secondary float-right icon-space" data-toggle="modal" id="CreateDocModal" data-target="#DocumentCreateModal"><i class="fas fa-plus-circle"></i>ADD A DOCUMENT</button>
            </div>
            @*}*@
        </div>

        @if (Model != null && Model.Documents != null && Model.Documents.Any())
        {
            <table class="table table-hover">
                <thead class="table-header-dark">
                    <tr>
                        @*<th class="hidden-col"></th>*@
                        <th scope="col">DOCUMENT NAME</th>
                        <th scope="col">UPLOAD DATE</th>
                        <th scope="col">VISIBLE START</th>
                        <th scope="col">VISIBLE END</th>
                        <th scope="col">SIZE</th>

                        <th class="hidden-col td-download"></th>

                        @*@if (User.IsInRole("Admin"))
                            {*@
                        <th class="hidden-col td-edit"></th>
                        <th class="hidden-col td-delete"></th>
                        @*}*@
                    </tr>
                </thead>
                <tbody>
                    @foreach (var doc in Model.Documents)
                    {
                        <tr>
                            @*<th class="hidden-col"></th>*@
                            <td scope="col">@doc.Name</td>

                            <td scope="col">@doc.CreationTime.Date.ToString("MM-dd-yyyy")</td>
                            @*<td scope="col">@doc.CreationTime.Date.Year-@doc.CreationTime.Date.Month-@doc.CreationTime.Date.Day</td>*@
                            @*<td scope="col">@doc.CreationTime.Date.Month-@doc.CreationTime.Date.Day-@doc.CreationTime.Date.Year</td>*@
                            @if (@doc.VisibleDateFrom == null || @doc.VisibleDateTo == null)
                            {
                                <td scope="col">Not Scheduled</td>
                                <td scope="col">Not Scheduled</td>
                            }
                            else
                            {
                                <td scope="col">@doc.VisibleDateFrom.Value.ToString("MM-dd-yyyy")</td>
                                //<td scope="col">@doc.VisibleDateFrom.Value.Year-@doc.VisibleDateFrom.Value.Month-@doc.VisibleDateFrom.Value.Day</td>
                                <td scope="col">@doc.VisibleDateTo.Value.ToString("MM-dd-yyyy")</td>
                                //<td scope="col">@doc.VisibleDateTo.Value.Year-@doc.VisibleDateTo.Value.Month-@doc.VisibleDateTo.Value.Day</td>

                            }

                            <td scope="col">@string.Format("{0} KB", doc.Size)  </td>
                            <td class="hidden-col">
                                <a class="btn btn-secondary float-right" style="margin-left: 10px" asp-controller="Common" asp-action="DownLoadDocument" asp-route-Type="@Model.Type" asp-route-MapId="@Model.MapId" asp-route-id="@doc.Id" asp-route-mapId="@Model.MapId" asp-route-type="@Model.Type" data-toggle="tooltip" data-placement="top" title="Download"><i class="fas fa-download"></i></a>
                                @*<button data-action-link="true" data-param-documentid="239" data-param-contextlinkid="75" href="/Partners/PartnerProfile?handler=DownloadFile&amp;ContextLinkID=75&amp;DocumentID=239&amp;DocumentPath=Partner/test 4 test /2020-02-21/21.png&amp;Name=21.png" class="btn btn-secondary btn-sm btn-download" data-default-spinner-message="Downloading...">
                                        <i class="fas fa-download" style="padding-right:5px"></i>DOWNLOAD
                                    </button>*@
                            </td>
                            <td class="hidden-col">
                                @*<a class="btn btn-secondary float-right" style="margin-left: 10px" asp-controller="Partners" asp-action="EditPartner" asp-route-id="@document.Id" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fas fa-pencil-alt"></i></a>*@
                                <button id="EditDoc" onclick="editDoc(@doc.Id)" class="btn btn-secondary float-right" data-doc="@doc" data-target="#EditDocumentModal" data-toggle="modal" data-placement="top" title="Edit"><i class="fas fa-pencil-alt"></i></button>
                                @*<a data-is-modal="true" data-ajax="true" data-ajax-update="#ModalContainer" data-ajax-url="/Partners/PartnerProfile?handler=EditDocumentModal&amp;ContextLinkID=75&amp;DocumentID=239" data-view-loader-refresh="#Documents" data-ajax-begin="onBeginModal(xhr, this)" data-ajax-failure="onFailure(xhr, status, error);" data-ajax-success="onSuccessShowModal(this);" class="btn btn-secondary  btn-sm"><i class="fas fa-pencil-alt" style="padding-right:5px"></i>EDIT</a>*@
                            </td>
                            <td class="hidden-col">
                                <a href="#" class="btn btn-secondary float-right delete-document" style="margin-left: 10px" data-document-id="@doc.Id" data-document-type="@Model.Type" data-document-mapid="@Model.MapId" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash"></i></a>
                                @*<button data-action-link="true" data-param-documentid="239" data-param-contextlinkid="75" data-url="/Partners/PartnerProfile?handler=DisablePartnerDocument" data-confirm="Are you sure you want to delete this Document?" data-view-loader-refresh-parent="true" class="btn btn-danger btn-sm">
                                        <i class="fa fa-trash"></i>
                                        DELETE
                                    </button>*@
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        }

    </div> <!-- Document Part Is Not Complete-->
</div>



@*Create Document Modal*@
<div class="modal fade" id="DocumentCreateModal" tabindex="-1" role="dialog" aria-labelledby="DocumentCreateModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <form enctype="multipart/form-data" onsubmit="return submitForm(this);" method="post" name="form" action="/@Model.Type.ToString()/UploadFile"
              id="PartnerDocumentForm" role="form" class="form-validation">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">UPLOAD DOCUMENT</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-labelledby="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <input type="hidden" name="MapId" value="@Model.MapId" id="PartnerId" />
                    <input type="hidden" name="Type" value="@Model.Type" />
                    <input hidden type="file" id="filelist" name="filelist" multiple />
                    <div class="alert alert-success d-none" role="alert" id="alert-upload-success">
                        File(s) uploaded successfully!
                    </div>

                    <div class="alert alert-danger d-none" role="alert" id="alert-upload-error">
                        We've encountered a problem. Please refresh the page and try again.
                    </div>
                    <div class="alert alert-danger d-none" role="alert" id="alert-upload-empty">
                        No files selected. Please select a file.
                    </div>
                    <div id="overlay">
                        <div class="lds-dual-ring"></div>
                    </div>


                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div id="validation-summary" class="text-danger" hidden="hidden">
                        <ul></ul>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="dropzone" id="myDropzone2"></div><br />
                            @*<form method="post" class="dropzone needsclick dz-clickable" id="uploader" data-ajax="true" action="/Partners/PartnerProfile/?handler=Upload" data-ajax-loading="#FileUploadModal #spinner" data-ajax-success="onModalSuccess(data, status, xhr,'#FileUploadModal')" data-ajax-failure="onFailure(xhr, status, error,'#FileUploadModal')">*@
                            @Html.AntiForgeryToken()
                            @*<div class="dz-message needsclick">
                                    Drop files here or click to upload.<br>
                                </div>*@
                            @*</form>*@

                            <div class="row form-group">
                                <div class="col">
                                    <div class="form-check">
                                        <label class="custom-form-label"><input type="checkbox" value="true" id="RestrictCreate" name="Restrict" class="form-check-input" />  Restrict Visibility</label>
                                    </div>
                                    @*   @Html.DefaultCheckboxTrio(x => x.RestrictedVisibility, onClick: "toggleVisibilityDates()", isChecked: Model.RestrictedVisibility)*@
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col visibility-date" style="display:none;">
                                    <label class="custom-form-label" for="VisibleDateFrom">Visible From</label>
                                    <input type="text" id="visiblefrom" name="VisibleDateFrom" class="form-control" />
                                </div>

                            </div>
                            <div class="row form-group ">
                                <div class="col visibility-date" style="display:none;">
                                    <label class="custom-form-label" for="VisibleDateTo">Visible To</label>
                                    <input type="text" id="visibleto" name="VisibleDateTo" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-sm" id="SubmitButton">SAVE<span id="spinner" style="display: none"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i></span></button>
                    <button type="button" class="btn btn-dark btn-sm" data-dismiss="modal">CLOSE</button>

                </div>
            </div>
        </form>
    </div>
</div>


<div class="modal fade" id="EditDocumentModal" data-backdrop="static" role="dialog">
    <form method="post" asp-controller="Common" id="EditDocumentFormForDoc" asp-action="UpdateDocument">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">EDIT DOCUMENT</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-labelledby="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" value="" name="Id" id="Id" />
                    <input type="hidden" value="@Model.Type" name="Type" />
                    <input type="hidden" value="@Model.MapId" name="MapId" id="PId" />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div id="validation-summary" class="text-danger" hidden="hidden">
                        <ul></ul>
                    </div>
                    <div style="display:none">
                        @*@Html.DefaultEditorDuo(model => model.DocumentID)
                            @Html.DefaultEditorDuo(model => model.ContextLinkID)*@
                    </div>
                    <div class="row form-group">
                        <div class="col">
                            <label class="custom-form-label">Name</label>
                            <input type="text" class="form-control" id="Name" name="Name" value="" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col">
                            <label class="custom-form-label">Description</label>
                            <input type="text" class="form-control" name="Description" id="Desc" value="" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col">
                            <div class="form-check">
                                <label class="custom-form-label"><input type="checkbox" value="true" id="RestrictEdit" name="Restrict" class="form-check-input" />  Restrict Visibility</label>
                            </div>
                            @*   @Html.DefaultCheckboxTrio(x => x.RestrictedVisibility, onClick: "toggleVisibilityDates()", isChecked: Model.RestrictedVisibility)*@
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col visibility-date" style="display:none;">
                            <label class="custom-form-label" for="VisibleDateFrom">Visible From</label>
                            @*@Html.DefaultDatePickerTrio(x => x.VisibleDateFrom, customClass: "temp", customAppendageClass: "btn-dark", data: new { Data_Change_Month = true, Data_Change_Year = true })*@
                            <input type="text" id="visiblefromedit" name="StringVisibleDateFrom" class="form-control" value="" />
                        </div>

                    </div>
                    <div class="row form-group ">
                        <div class="col visibility-date" style="display:none;">
                            <label class="custom-form-label" for="VisibleDateFrom">Visible To</label>
                            <input type="hidden" id="dateTest" />
                            @*@Html.DefaultDatePickerTrio(x => x.VisibleDateTo, customClass: "temp", customAppendageClass: "btn-dark", data: new { Data_Change_Month = true, Data_Change_Year = true })*@
                            <input type="text" id="visibletoedit" name="StringVisibleDateTo" class="form-control" value="" />
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-sm">SAVE<span id="spinner" style="display: none"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i></span></button>
                    <button type="button" class="btn btn-dark btn-sm" data-dismiss="modal">CLOSE</button>

                </div>
            </div>
        </div>
    </form>
</div>
