@using System.Text.Encodings.Web
@using TownSend.Web.Views.Shared.Components.RecommendedLink
@model RecommendedLinksViewModel
@section Scripts
{
   <script type="text/javascript">
      
   </script>
}
<div id="RecommendedLinks">
    <div class="content-container">
        <div class="card" style="        margin-bottom: 35px;
">
            <div class="card-header">
                <h4><strong>RECOMMENDED LINKS FOR MEMBERS  |       @Model.GetRecommendedLinksOutput.RecommendedLinks.Count  Items</strong></h4>
            </div>
            <div class="card-body">
                <table class="table">
                    <tbody class="tbody">
                        @foreach (var item in Model.GetRecommendedLinksOutput.RecommendedLinks)
                        {
                            <tr style="border-top:0px;">
                                <th scope="col" width="25%"><a title="@item.LinkUrl" href="@item.LinkUrl" target="_blank">@item.LinkName</a></th>
                                <th scope="col" width="25%">@item.LinkType</th>
                                <th scope="col" width="50%">
                                    <p style="position:absolute">@item.Description</p>
                                    <div style="position:absolute;right:10px">
                                        <button type="button" class="btn" style="background-color:red;padding-left:10px;padding-right:10px" id="delete-links_@item.Id" onclick="fnDeleteClick(@item.Id)"><i class="fa fa-trash" style="color:white"></i></button>
                                        <button id="Delete-Link_@item.Id" style="display:none; background-color:red;" class="btn"><i class="fa fa-trash" style="color:white"><a asp-controller="Partners" asp-action="DeleteLink" asp-route-Id="@item.Id" asp-route-PartnerId="@item.PartnerId" style=" color:white;margin-right: 1em;"> Yes, Delete</a></i></button>
                                        <button data-action-link="true" data-view-loader-refresh="#myAccountForm" type="button" style="display:none; color:white;margin-right: 1em;" class="btn btn-secondary" id="CancelDelete_@item.Id" onclick="toggleConfirm(this)">CANCEL</button>
                                    </div>
                                </th>
                                @*@await  Html.ActionLink("","", new { })*@
                                
                                @*<th scope="col"><a asp-controller="Partners" asp-route-Id="@item.Id" asp-route-PartnerId="@item.PartnerId" asp-action="DeleteLink"><i class="
                                    fa fa-trash" style="color:red" aria-hidden="true"></i></a></th>*@
                               @* <th scope="col"><a asp-controller="Partners" asp-route-Id="@item.Id" asp-route-PartnerId="@item.PartnerId" asp-action="DeleteLink"><i class="fa fa-trash" style="color:red" aria-hidden="true"></i></a></th>*@
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <button type="button" data-toggle="modal" data-target="#RecommendedLinksCreateModal" class="btn" style="width:100%"><i class="fas fa-plus-circle"></i><h6 style="display:inline-block; margin:0 15px
                ">Add Recommended Links</h6></button>
            </div>
        </div>
    </div>
</div>



