﻿@using TownSend.Web.Models.Common.Modals
@model TownSend.Web.Models.Users.EditUserModalViewModel

<link href="~/Townsend/lib/dropzone/dropzone.css" rel="stylesheet" />
<link href="~/Townsend/lib/dropzone/basic.css" rel="stylesheet" />

<div class="customer-header">
    <div class="row padding customer-header-row">
        <div class="col-3 border-right-blue" style="padding: 1%;">
            <div class="customer-photo float-left">
                <i class="fa fa-user fa-2x"></i>
            </div>
            <div id="TitleInfo" class="customer-name float-right">
                <p id="team-name">@(Model.User.EmailAddress)</p>
                <p class="info-text-small">Added on @Model.User.CreationTime.ToLongDateString()</p>
            </div>
        </div>

        <div class="col customer-header-right">
            <nav class="nav" role="tablist">
                <a class="nav-link active" id="basic-info-tab" data-toggle="tab" href="#basic-info" role="tab">Basic Info</a>
            </nav>
        </div>
    </div>
</div>

<div class="customer-body" id="team-detail">
    <div class="row padding h-100">
        <div id="ContactInfo" class="col-4 col-xl-3 customer-body-left">
            <div class="row padding customer-body-left-row contact-info">
                <div class="col">
                    <label class="custom-form-label">CONTACT INFO</label>
                    <div class="row">
                        <div class="col-1">
                            <div class="icon"><i class="fa fa-phone"></i></div>
                            <div class="icon"><i class="fa fa-envelope"></i></div>
                            <div class="icon"><i class="fa fa-user"></i></div>
                        </div>
                        <div class="col">
                            <div class="icon">
                                @*<a href="@(Model != null ? Model.User.PhoneNumber">*@
                                @Model.User.PhoneNumber
                                @*</a>*@
                            </div>
                            <div class="icon">
                                <a href="@(Model != null ? "mailto:" + Model.User.EmailAddress : "")">
                                    @(Model != null ? Model.User.EmailAddress : "")
                                </a>
                            </div>
                            <div class="icon">@(String.IsNullOrWhiteSpace(Model.User.EmailAddress) ? "" : Model.User.EmailAddress + ", ")</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col customer-body-right tab-content">
            <div class="row">
                <div class="col">

                    <div class="tab-pane show active" id="basic-info" role="tabpanel">
                        <div id="myAccountForm">
                            <div class="content-container">
                                <div class="card">
                                    <form name="UserEditForm" asp-controller="Users" asp-action="UpdateUser" class="form-validation">
                                        <div class="card-header">
                                            <h2>Basic Info</h2>
                                            @if (User.IsInRole("Admin"))
                                            {
                                                <div class="profile-action-btns-container">
                                                    @*<button type="button" class="btn btn-secondary float-right h-100 icon-space" id="Start Payment-info"><i class="fas fa-pen"></i>Start Processing Payment</button><br />*@
                                                    <button type="button" class="btn btn-secondary float-right h-100 icon-space" onclick="toggleConfirm(this)" id="edit-info"><i class="fas fa-pen"></i> EDIT INFO</button>
                                                    <button type="submit" style="display: none;margin-right: 1em;" class="btn btn-success float-right h-100" id="EditBasicInfo"><i class='fas fa-save'></i> SAVE</button>
                                                    <button data-action-link="true" data-view-loader-refresh="#myAccountForm" type="button" style="display: none;margin-right: 1em;" class="btn btn-secondary float-right h-100" onclick="toggleConfirm(this)" id="cancel-edit-info">CANCEL</button>
                                                </div>
                                                <div class="profile-action-btns-container">
                                                    <a asp-action="Index" asp-controller="Users" class="btn btn-secondary float-right h-100 icon-space">Back To User List</a>
                                                </div>
                                            }
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-8">

                                                    <input type="hidden" name="Id" value="@Model.User.Id" />

                                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                    <div id="validation-summary" class="text-danger" style="display: none">
                                                        <ul></ul>
                                                    </div>
                                                    <div class="row" style="padding-bottom:20px">
                                                        <div class="col-6">
                                                            <label class="custom-form-label" for="FirstName">First Name</label>
                                                            <input class="form-control info text-box single-line" disabled="disabled" id="Name" name="Name" tabindex="1" type="text" value="@Model.User.Name">
                                                        </div>
                                                        <div class="col-6">
                                                            <label class="custom-form-label" for="LastName">Last Name</label>
                                                            <input class="form-control info text-box single-line" disabled="disabled" id="Surname" name="Surname" tabindex="2" type="text" value="@Model.User.Surname">

                                                        </div>
                                                    </div>
                                                    <div class="row" style="padding-bottom:20px">
                                                        <div class="col-6">
                                                            <label class="custom-form-label" for="PhoneNumber">Phone Number</label>
                                                            <input class="form-control info text-box single-line" disabled="disabled" id="PrimaryPhone" name="PhoneNumber" tabindex="12" type="text" value="@Model.User.PhoneNumber">
                                                        </div>
                                                        <div class="col-6">
                                                            <label class="custom-form-label" for="EmailAddress">Email Address</label>
                                                            <input class="form-control info text-box single-line" disabled="disabled" id="EmailAddress" name="EmailAddress" tabindex="11" type="email" value="@Model.User.EmailAddress" readonly />
                                                        </div>
                                                    </div>

                                                    <div class="row" style="padding-bottom:20px">
                                                        <div class="col-6">
                                                            <label class="custom-form-label" for="Status">User Status</label>
                                                            <br />
                                                            <input type="checkbox" class="info text-box single-line" name="IsActive" value="true" disabled=@(Model.User.IsDeleted ? true : false) checked=@(Model.User.IsActive ? true : false) /> Active<br />
                                                            <input type="checkbox" class="info text-box single-line" name="IsDeleted" value="true" disabled=@(Model.User.IsActive ? true : false) checked=@(Model.User.IsDeleted ? true : false) /> Deleted

                                                        </div>
                                                        <div class="col-6">
                                                            <label class="custom-form-label" for="AccessFailedCount">AccessFailedCount</label>
                                                            <p>@Model.User.AccessFailedCount</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-4">
                                                    <div class="card">

                                                        <div class="card-header" style="background-image:url(/images/Header-Image-2.png);color: #FFFFFF;font-size: 14px;padding: 20px;">PERMISSIONS</div>

                                                        <div class="card-body" style="border:1px solid; color:rgb(223, 223, 223);">

                                                            <div class="row" style="padding-bottom:20px">
                                                                <div class="col">
                                                                    <div class="form-check">
                                                                        <label class="custom-form-label">
                                                                            <input type="checkbox" name="IsEmailConfirmed" disabled="disabled" checked=@(Model.User.IsEmailConfirmed ? true : false) readonly />Email is Confirmed
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="row" style="padding-bottom:20px">
                                                                <div class="col">
                                                                    <div class="form-check">
                                                                        <label class="custom-form-label">
                                                                            <input type="checkbox" name="IsEmailConfirmed" disabled="disabled" checked=@(Model.User.IsLockoutEnabled ? true : false) readonly />Account is lockable
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="card">
                                        <form typeof="post" asp-controller="Users" asp-action="ChangeUserPassword" id="ChangeUserPassword">
                                            <input type="hidden" asp-for="ResetPassword.UserId" name="UserId" value="@Model.User.Id" />
                                            <div class="card-header">
                                                <h5>
                                                    <button  type="reset"style="width:100%; color:white;" class="btn btn-link"  data-toggle="collapse" data-target="#password-collapse" aria-expanded="true" aria-controls="password-collapse">
                                                        <h3><span class="float-left">Change Password</span></h3>
                                                        <span class="collapse-heading-right float-right"><i class="fa fa-lg fa-sort-down"></i></span>
                                                    </button>
                                                </h5>
                                            </div>

                                            <div id="password-collapse" class="collapse">
                                                <div class="card-body">
                                                    <div id="validation-summary" class="text-danger" hidden="hidden">
                                                        <ul></ul>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-8">
                                                            <div class="row" style="padding-bottom:20px">
                                                                <div class="col-6">
                                                                    <label class="custom-form-label" for="Password">Password</label><input class="form-control text-box single-line password" data-val="true" asp-for="ResetPassword.NewPassword" data-val-required="The Password field is required." id="Password" name="NewPassword" type="password"><span class="field-validation-valid text-danger" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                                                                </div>
                                                                <div class="col-6">
                                                                    <label class="custom-form-label" for="ConfirmPassword">Confirm Password</label><input class="form-control text-box single-line password" data-val="true" data-val-equalto="The password does not match." data-val-equalto-other="*.NewPassword" data-val-required="The Confirm Password field is required." id="ConfirmPassword" name="ConfirmPassword" type="password"><span class="field-validation-valid text-danger" data-valmsg-for="ConfirmPassword" data-valmsg-replace="true"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-4" style="margin-top:32px;">
                                                            <button type="submit" style=" margin-right: 2.5em; " class="btn btn-secondary float"><i class="fas fa-save"></i> SAVE</button>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script src="~/view-resources/Views/Users/_EditUserModal.js" asp-append-version="true"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#UserInfo').ViewLoader();
            $('#Settings').ViewLoader();
            $('#UserLocation').ViewLoader();

        });
        $(".basic-info-field").prop("disabled", function (i, v) {
            if ($(this).is("select")) {
                $(this).next("button").toggleClass("disabled");
            }
            return !v;
        });

    </script>
    <script type="text/javascript">

        if ($("#PrimaryPhone").val() == "0")
            $("#PrimaryPhone").val("");
        $("#PrimaryPhone").inputmask("+1 (999) 999-9999");
        $("#PrimaryPhone").inputmask({ removeMaskOnSubmit: true });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $.validator.addMethod('regex', function (value, element, param) {
                return this.optional(element) ||
                    value.match(typeof param == 'string' ? new RegExp(param) : param);
            },
                'Your password must be have at least 8 characters long, 1 uppercase, 1 lowercase character, 1 number and 1 special character.'
            );

           
        });
         $("#ChangeUserPassword").validate({
                rules: {
                    NewPassword: {
                        required: true,
                        regex: '^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@@#\$%\^&\*])(?=.{8,})'
                    },
                    ConfirmPassword: {
                        required: true,
                        equalTo: Password
                    }
                },
                messages: {
                    NewPassword: {
                        required: "The Field is Required"

                    },
                    ConfirmPassword: {
                        required: "The Field is Required",
                        equalTo: "Password and Confirm Password Does Not Match"
                    }
                }

            });
    </script>
}