﻿@using Abp.Authorization.Users
@using TownSend.Web.Startup
@model TownSend.Web.Models.Users.UserListViewModel
@{
    ViewBag.CurrentPageName = PageNames.Users; // The menu item will be active for this page.
}
@section scripts
{
    <script type="text/javascript">
      $(function () {
            $(".UserType, .Status").selectpicker({ noneSelectedText: '' });
        });
    </script>
    <environment names="Development">
        <script src="~/view-resources/Views/Users/Index.js" asp-append-version="true"></script>
    </environment>
}
<div style="height: 100%">

    <div class="content">
        <div class="row padding list-header">
            <div class="col-4">
                <h2>User List</h2>
            </div>
            <div class="col-2 offset-md-6">
                <button class="btn btn-secondary float-right text-uppercase icon-space" data-toggle="modal" data-target="#UserCreateModal"><i class="fas fa-plus-circle"></i>ADD ADMINISTRATOR</button>
            </div>
        </div>
        <hr />
        @using (Html.BeginForm("Index", "Users", FormMethod.Post, new { Id = "userList" }))
        {
            <div class="row d-flex padding filters" style="padding-right: 0px;">
                <div class="col-lg-8 col-sm-1 form-inline filter-border-right">
                </div>
                <div class="col-lg-4 col-sm-11 float-right text-right form-inline">
                    <div class="col-4 form-group filter-select" style="padding-left: 0px; padding-right: 0px">
                        <div class="form-group">
                            <select class="form-control text-box single-line UserType" name="UserType" id="UserType" multiple="multiple" asp-for="@Model.UserType" title="All User Types" data-live-search="true">
                                <option value="10">Admin</option>
                                <option value="4">Partner</option>
                                <option value="6">Member</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-5 form-group filter-select" style="padding-left: 0px; padding-right: 50px;">
                        <div class="form-group">
                           <select class="form-control text-box single-line Status" name="StatusIds" id="StatusIds" multiple="multiple" asp-for="@Model.StatusIds" title="Select Status" data-live-search="true">
                                <option value="1">Active</option>
                                <option value="2">InActive</option>
                                <option value="3">Deleted</option>
                            </select>
                        </div>
                    </div>

                    <button class="btn btn-primary" type="submit">Refresh</button>

                </div>
            </div>
        }
            <div class="seperator"></div>

            <div class="row padding">
                <div id="UserList" class="col-sm-12 view-loaded" data-form="#UserListForm" data-is-datatable="true">

                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-hover dataTableClass" id="">
                                <thead class="table-header-dark">
                                    <tr>
                                        <th scope="col">First Name</th>
                                        <th scope="col">Last Name</th>
                                        <th scope="col">UserName</th>
                                        <th scope="col">User Type</th>
                                        <th scope="col">User Status</th>
                                        <th class="hidden-col no-sort"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var user in Model.Users)
                                    {
                                        <tr>
                                            <td>@user.Name</td>
                                            <td>@user.Surname</td>
                                            <td>@user.EmailAddress</td>

                                            <td class="td">
                                                @foreach (var role in user.Roles)
                                                {
                                                    @role.Name<br />
                                                }
                                            </td>
                                            <td><a class="material-icons" style="color:@(user.IsDeleted ? "Red":(user.IsActive ? "green" : "#0D5080"));">@(user.IsDeleted ? "Delete" : (user.IsActive ? "Active" : "Not Active"))</a></td>
                                            <td>
                                                @if (user.IsDeleted)
                                                {
                                                    <a class="btn btn-secondary float-right" style="margin-left: 10px; background-color:red;" asp-controller="Users" asp-action="UnDeleteUser" asp-route-userid="@user.Id" data-partner-id="@user.Id" data-toggle="tooltip" data-placement="top" title="UnDelete"><i class="fas fa-trash "></i></a>
                                                }
                                                else
                                                {
                                                    <a class="btn btn-secondary float-right delete-user" style="margin-left: 10px" onclick="deleteUser(@user.Id)" data-user-id="@user.Id" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fas fa-trash"></i></a>
                                                    @*<a href="#" class="waves-effect waves-block delete-user" data-user-id="@user.Id" ><i class="fas fa-trash"></i></a>*@
                                                }

                                                <a class="btn btn-secondary float-right" style="margin-left: 10px" asp-controller="Users" asp-action="EditUserModal" asp-route-userid="@user.Id" data-user-id="@user.Id" data-toggle="tooltip" data-placement="top" title="View Profile"><i class="fas fa-eye"></i></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
    </div>

    

</div>