﻿@using System.Globalization
@using Abp.Configuration.Startup
@using Abp.Web.Security.AntiForgery
@using TownSend
@using TownSend.Web.Resources
@inject TownSend.Timing.AppTimes AppTimes
@inject IAbpAntiForgeryManager AbpAntiForgeryManager
@inject IMultiTenancyConfig MultiTenancyConfig
@inject IWebResourceManager WebResourceManager
@{
    Layout = null;
    AbpAntiForgeryManager.SetCookie(Context);
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>TownSend</title>

    <link rel="stylesheet" href="~/Townsend/css/bootstrap.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="~/Townsend/lib/jquery-datetimepicker//jquery.datetimepicker.min.css">
    <link rel="stylesheet" href="~/Townsend/js/jquery-growl/css/jquery.growl.css" />
    <link rel="stylesheet" href="~/Townsend/lib/datatables/css/dataTables.bootstrap4.css" />
    <link rel="stylesheet" href="~/Townsend/lib/datatables/css/dataTables.jqueryui.css" />
    <link rel="stylesheet" href="~/Townsend/css/mmenu.css" />
    <link rel="stylesheet" href="~/Townsend/css/site.css" />
    <link href="~/Townsend/css/custom.css" rel="stylesheet" />
    <style type="text/css">
        #hubone-page-wrapper {
            left: 0px;
            width: 100%;
            margin-top: 0 !important;
            height: 100%
        }

        #footer-contents {
            height: 5rem;
            opacity: 0.8;
        }

        .container {
            height: 100%;
        }
    </style>
    @RenderSection("Styles", required: false)

    <script type="text/javascript">
        // This is used to get the application's root path from javascript. It's useful if you're running application in a virtual directory under IIS.
        var abp = abp || {};
        abp.appPath = '@ApplicationPath';
    </script>
</head>
<body>
    <div id="hubone-page-wrapper">
        <div class="container">
            @RenderBody()
        </div>

        <footer>
            <div id="footer-contents" class="d-flex justify-content-center align-items-center">
                <span style="font-size: 11px; color: white;">&copy; 2014-@DateTime.UtcNow.Year Flowmark Systems, Inc. - All Rights Reserved</span>
                <div id="separator" style="width: 3rem;"></div>
                <img alt="Powered by HubOne Systems" class="float-right" src="~/images/Powered-By-HubOne-Logo.png" width="200" />
            </div>
        </footer>
    </div>

    <script src="~/lib/json2/json2.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>
    <script src="~/lib/moment/min/moment-with-locales.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js" asp-append-version="true"></script>
    <script src="~/lib/blockUI/jquery.blockUI.js" asp-append-version="true"></script>
    <script src="~/lib/toastr/toastr.js" asp-append-version="true"></script>
    <script src="~/lib/sweetalert/dist/sweetalert.min.js" asp-append-version="true"></script>
    <script src="~/lib/spin.js/spin.js" asp-append-version="true"></script>
    <script src="~/lib/spin.js/jquery.spin.js" asp-append-version="true"></script>
    <script src="~/lib/Waves/dist/waves.js" asp-append-version="true"></script>
    <script src="~/lib/abp-web-resources/Abp/Framework/scripts/abp.js" asp-append-version="true"></script>
    <script src="~/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.jquery.js" asp-append-version="true"></script>
    <script src="~/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.toastr.js" asp-append-version="true"></script>
    <script src="~/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.blockUI.js" asp-append-version="true"></script>
    <script src="~/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.spin.js" asp-append-version="true"></script>
    <script src="~/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.sweet-alert.js" asp-append-version="true"></script>
    <script src="~/js/admin.js" asp-append-version="true"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>
    <script src="~/view-resources/Views/Shared/Message.js" asp-append-version="true"></script>
    <script src="~/Townsend/js/jquery-growl/js/jquery.growl.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/Townsend/lib/bootstrap/js/bootstrap.bundle.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

    <script src="~/Townsend/js/site.js"></script>
    @if (TempData["Type"] != null && TempData["Message"] != null)
    {
        <script type="text/javascript">
            showMessage('@TempData["Type"]','@TempData["Message"]');
        </script>
    }
    <script>
    // Localizing momentjs
    moment.locale('@CultureInfo.CurrentUICulture.Name');
    </script>

    <!-- Dynamic scripts of ABP system (They are created on runtime and can not be bundled) -->
    <script src="~/AbpServiceProxies/GetAll?v=@(AppTimes.StartupTime.Ticks)" type="text/javascript"></script>
    <script src="~/AbpScripts/GetScripts?v=@(AppTimes.StartupTime.Ticks)" type="text/javascript"></script>

    @WebResourceManager.RenderScripts()

    <!-- View specific scripts -->
    @RenderSection("scripts", required: false)
</body>

</html>
