﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<header>
    <nav class="navbar fixed-top navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        @*<partial name="_LoginPartial" />*@
        <a asp-page="/Index" class="navbar-brand"><img style="margin-left:10px;width:150px;height:60px" src="~/Townsend/images/mytlg-header-logo.png" /></a>
    </nav>
</header>