﻿@model TownSend.Users.Dto.ForgotPasswordDto
@{
    ViewData["Title"] = "ForgotPassword";
}

@*@section Scripts{
        <script>

            $("#ResetPassword").validate({
                rules: {
                    Password: {
                        required: true,
                        //regex:'/^.*(?=.{8,})(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[#$%&]).*$/',
                    },
                    ConfirmPassword: {
                        required: true,
                        equalTo: Password
                    }
                },
                messages: {
                    Password: {
                        required: "The Field is Required",
                        //regex:"Password Is Not Secure"
                    },
                    ConfirmPassword: {
                        required: "The Field is Required",
                        equalTo:"Password and Confirm Password is not Same"
                    }
                }

                });
        </script>

    }*@
<div class="row padding">
    <div class="col"></div>
    <div class="col-xl-5 col-md-7 col-sm-12">
        <div class="card login-card">
            <div class="card-header">
                Create New Password

            </div>
            <div class="card-body">
                <div id="new-partner-create-password" class="row">
                    <div class="col">
                        <form method="post" id="ResetPassword" asp-controller="Account" asp-action="ForgotPassword">
                            <input type="hidden" asp-for="ResetCode" />
                            <input type="hidden" asp-for="InviteId" />
                            <input type="hidden" asp-for="UserId" />

                            <div class="form-group">
                                <label class="custom-form-label">Password</label>
                                <input type="password" asp-for="Password" class="form-control" required />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="custom-form-label">Confirm Password</label>
                                <input type="password" asp-for="ConfirmPassword" class="form-control" required />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                            @*Task-TLGV2-5-reCaptcha*@
                            <div class="form-group">
                                <div class="col-md-2"></div>
                                <div class="col-md-10">
                                    @*<div class="g-recaptcha" data-sitekey="@ViewData["ReCaptchaKey"]"></div>*@
                                    <div class="g-recaptcha" data-sitekey="6LcNPNoUAAAAAAwgFvsf38yik9vXhPLuEKAnASKB"></div>
                                </div>
                            </div>
                            @*Task-TLGV2-5-reCaptcha*@

                            @*<div class="form-group">
                                    <div style="margin: 0 auto;display: table" class="g-recaptcha form-group" data-sitekey="@Model.CaptchaSiteKey"></div>
                                </div>*@

                            <div class="form-group">
                                <button type="submit" class="btn btn-lg btn-secondary text-capitalize">Set Password</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="card-footer">
                <div class="row">
                    <div class="col-12">
                        <img class="float-right" src="~/Townsend/images/Powered_By_HubONE_Logo.PNG" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col"></div>
</div>
@section Scripts {
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    @*@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}*@
    @*<script src="~/view-resources/Views/Account/Reset.js"></script>*@
    <script>
        $().ready(function () {
            $.validator.addMethod('regex', function (value, element, param) {
                return this.optional(element) ||
                    value.match(typeof param == 'string' ? new RegExp(param) : param);
            },
              
                'Your password must be have at least 8 characters long, 1 uppercase, 1 lowercase character, 1 number and 1 special character.'
            );



            $("#ResetPassword").validate({
                rules: {
                    Password: {
                        required: true,                      
                        regex: '^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@@#\$%\^&\*])(?=.{8,})'
                    },
                    ConfirmPassword: {
                        required: true,
                        equalTo: Password
                    }
                },
                messages: {
                    Password: {
                        required: "The Field is Required"

                    },
                    ConfirmPassword: {
                        required: "The Field is Required",
                        equalTo: "Password and Confirm Password Does Not Match"
                    }
                }

            });
        });
    </script>
  
    <script>
        $("#ResetPassword").submit(function (event) {

            var recaptcha = $("#g-recaptcha-response").val();
            if (recaptcha === "") {
                event.preventDefault();
                abp.message.error(
                    'Please check the recaptcha and try again.',
                    'Invalid Recaptcha',
                    function (isConfirmed) {
                        if (isConfirmed) {
                        }
                    }
                );
                //alert("Please check the recaptcha");
                //messages("Please check the recaptcha");
            }
        });
    </script>
}

