﻿@using Abp.Authorization.Users
@using Abp.Extensions
@using Abp.MultiTenancy
@using TownSend
@model TownSend.Web.Models.Account.LoginFormViewModel
@*@{
        ViewData["Title"] = "Login";
        Layout = "~/Views/Account/_LoginLayout.cshtml";
    }*@

@{
    Layout = "_LoginLayout";

    Random random = new Random();
    int rInt = random.Next(1, 7);
    string imageFile = $"{rInt}.jpg";
}

@section Styles {
    <style>
        #hubone-page-wrapper {
            background-image: url(/images/login-backgrounds/@imageFile);
            background-size: cover;
            background-repeat: no-repeat;
        }

        #login-card {
            background-color: white;
            padding-left: 3.5rem;
            padding-right: 3.5rem;
            padding-top: 2rem;
            padding-bottom: 2rem;
            border-radius: 5px;
        }

        .form-group {
            margin-top: 2rem;
            margin-bottom: 2rem;
        }

        button[type="submit"] {
            width: 100%;
            height: 4rem;
        }

        #logo-container {
            width: 100%;
        }
    </style>
}

<div class="row padding" id="LoginArea" style="height: inherit;">
    <div class="col"></div>
    <div class="col-xl-5 col-md-7 col-sm-12 d-flex flex-column align-content-center justify-content-center" id="﻿LoginArea">
        <div id="login-card">
            <div id="logo-container" class="d-flex justify-content-center">
                <img alt="myTLG logo" src="~/images/myTLG-Logo-Color-High-Res.png" width="250" />
            </div>
            <form id="LoginForm" asp-controller="Account" asp-action="Login" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
                <input type="hidden" name="returnUrlHash" />
                <div class="form-group">
                    <label class="custom-form-label">Email Address</label>
                    <input type="text" class="form-control" name="usernameOrEmailAddress" required autofocus maxlength="@AbpUserBase.MaxEmailAddressLength">
                </div>
                <div class="form-group">
                    <label class="custom-form-label">Password</label>
                    <input type="password" class="form-control" name="Password" required maxlength="@AbpUserBase.MaxPlainPasswordLength">
                    <span id="forgot-password"><a asp-action="PasswordReset" asp-controller="Account" style="color: orangered; float: right; margin-top: -2.1em; margin-right: 1em; text-decoration: none; font-size: 0.9em;">Forgot?</a></span>
                </div>
                <div class="form-group">

                </div>
                <div class="form-group">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">
                        <div class="g-recaptcha" data-sitekey="@(Constant.siteKey)"></div>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" id="btnsub" class="btn btn-lg btn-secondary">LOGIN</button>
                </div>

            </form>
        </div>
    </div>
    <div class="col"></div>
</div>
<template>
    <!-- NOTE: THIS PREVENTS THE BOTTOM SAMPLE CODE FROM BEING RENDERED. I'm just cleaning up the login a tad without deleting this code. -Nick  -->
    <div class="row padding">
        <div class="col"></div>
        <div class="col-xl-5 col-md-7 col-sm-12">
            <div class="card login-card">
                <div class="card-header">
                    2-Step Verification <span class="float-right" style="font-size:14px;">STEP 1 OF 2</span>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label class="custom-form-label">Select how to receive your verification code:</label>
                                <label class="twoStepLabel">
                                    <span style="font-size:14px;color:#808080;margin-left:15px;">Via Email: jd*******@@company.com</span>
                                    <input type="radio" name="twoStepRadio" />
                                    <span class="twoStepRadioButton"></span>
                                </label>
                                <label class="twoStepLabel">
                                    <span style="font-size:14px;color:#808080;margin-left:15px;">Via SMS Text: (***)-***-2191</span>
                                    <input checked="checked" type="radio" name="twoStepRadio" />
                                    <span class="twoStepRadioButton"></span>
                                </label>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-lg btn-secondary">SEND</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col">
                            <img class="float-right" src="~/Townsend/images/Powered_By_HubONE_Logo.PNG" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
    <!--2-Factor Step One End-->
    <!--2-Factor Step Two Begin-->
    <div class="row padding">
        <div class="col"></div>
        <div class="col-xl-5 col-md-7 col-sm-12">
            <div class="card login-card">
                <div class="card-header">
                    2-Step Verification <span class="float-right" style="font-size:14px;">STEP 2 OF 2</span>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label class="custom-form-label">Enter Verification Code</label>
                                <input class="form-control" type="text" placeholder="xxx-xxx" />
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-lg btn-secondary">DONE</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-5">
                            <button class="btn btn-link resend-code-link">RESEND CODE</button>
                        </div>
                        <div class="col-7">
                            <img class="float-right" src="~/Townsend/images/Powered_By_HubONE_Logo.PNG" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
    <!--2-Factor Step Two End-->
    <!--Select Account Begin-->
    <div class="row padding">
        <div class="col"></div>
        <div class="col-xl-5 col-md-7 col-sm-12">
            <div class="card login-card">
                <div class="card-header">
                    Select Account
                </div>
                <div class="card-body" style="padding:0;">
                    <div class="row">
                        <div class="col">
                            <div class="list-group list-group-flush">
                                <button type="button" class="list-group-item list-group-item-action">Astoria Branch<span class="float-right"><i class="fa fa-chevron-right"></i></span></button>
                                <button type="button" class="list-group-item list-group-item-action">Indianapolis Production Office<span class="float-right"><i class="fa fa-chevron-right"></i></span></button>
                                <button type="button" class="list-group-item list-group-item-action">Long Island Loan Production Office<span class="float-right"><i class="fa fa-chevron-right"></i></span></button>
                                <button type="button" class="list-group-item list-group-item-action">Massachusetts Loan Production Office<span class="float-right"><i class="fa fa-chevron-right"></i></span></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col">
                            <img class="float-right" src="~/Townsend/images/Powered_By_HubONE_Logo.PNG" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</template>


@section Scripts
{
    <script src="~/view-resources/Views/Account/Login.js"></script>
    @*reCaptcha*@
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script>
        $("#LoginForm").submit(function (event) {

            var recaptcha = $("#g-recaptcha-response").val();
            if (recaptcha === "") {
                event.preventDefault();
                abp.message.error(
                    'Please check the recaptcha and try again.',
                    'Invalid Recaptcha',
                    function (isConfirmed) {
                        if (isConfirmed) {
                        }
                    }
                );
            }
        })
    </script>

    (
    
}
<!--Select Account End-->
