﻿@model TownSend.Authorization.Accounts.Dto.SendEmailActivationLinkInput
@{ 
    Layout = "~/Views/Shared/_HubOneLayoutBeforeLogin.cshtml";
}
<div class="row padding">
    <div class="col"></div>
    <div class="col-xl-5 col-md-7 col-sm-12">
        <div class="card login-card">
            <div class="card-header">
                Reset Password
            </div>
            <div class="card-body">
                <div id="new-partner-create-password" class="row">
                    <div class="col">
                        <form method="post" id="ResetPassword" asp-controller="Account" asp-action="PasswordReset">
                            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                            <div class="form-group">
                                <label class="custom-form-label">Email Address</label>
                                <input type="email" asp-for="EmailAddress" class="form-control" required />
                                <span asp-validation-for="EmailAddress" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-lg btn-secondary text-capitalize">RESET PASSWORD</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-12">
                        <img class="float-right" src="~/Townsend/images/Powered_By_HubONE_Logo.PNG" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col"></div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">

    </script>
}