﻿
@{
    Layout = "~/Views/Shared/_HubOneLayoutBeforeLogin.cshtml";
    ViewData["Title"] = "PasswordChanged";
}



    <div style="text-align:center;margin-top:20px">
        <div class="row">
            <h3>Your Password Has Been Changed</h3><a style="margin-left:20px;margin-top:9px" asp-controller="Account" asp-action="Login">Click Here To Login</a>
        </div>
    </div>

