﻿@model TownSend.Authorization.Accounts.Dto.SendEmailActivationLinkInput
@{
    Layout = "~/Views/Shared/_HubOneLayoutBeforeLogin.cshtml";
}
<div class="row padding">
    <div class="col"></div>
    <div class="col-xl-5 col-md-7 col-sm-12">
        <div class="card login-card">
            <div class="card-header">
                Reset Password
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label class="custom-form-label">An Email Has Been Sent To:</label>
                            <input asp-for="EmailAddress" class="form-control " disabled />
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-footer">
                <div class="row">
                    <div class="col-5"></div>
                    <div class="col-7">
                        <img class="float-right" src="~/Townsend/images/Powered_By_HubONE_Logo.PNG" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col"></div>
</div>