﻿@using TownSend
@model TownSend.Authorization.Accounts.Dto.ActivateEmailInput

<div class="row padding">
    <div class="col"></div>
    <div class="col-xl-5 col-md-7 col-sm-12">
        <div class="card login-card">
            <div class="card-header">
                Choose Your Password

            </div>
            <div class="card-body">
                <div id="new-partner-create-password" class="row">
                    <div class="col">
                        <form method="post" id="ResetPassword" asp-controller="Account" asp-action="ResetPassword">                          
                                <input type="hidden" asp-for="ConfirmationCode" />
                                <input type="hidden" asp-for="InviteId" />
                                <input type="hidden" asp-for="UserId" />

                                <div class="form-group">
                                    <label class="custom-form-label">Password</label>
                                    <input type="password" asp-for="Password" class="form-control" required />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label class="custom-form-label">Confirm Password</label>
                                    <input type="password" asp-for="ConfirmPassword" class="form-control" required />
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-10">
                                        <div class="g-recaptcha" data-sitekey="@Constant.siteKey"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-lg btn-secondary text-capitalize">Set Password</button>
                                </div>
                            </form>
                    </div>
                </div>
            </div>

            <div class="card-footer">
                <div class="row">
                    <div class="col-12">
                        <img class="float-right" src="~/Townsend/images/Powered_By_HubONE_Logo.PNG" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col"></div>
</div>
@section Scripts {
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script>
       $().ready(function () {
            $.validator.addMethod('regex', function (value, element, param) {
                return this.optional(element) ||
                    value.match(typeof param == 'string' ? new RegExp(param) : param);
            },
                //'Please enter a value in the correct format.');
                //'Password is not strong');
                //'Password must contain at least one letter, at least one number, and be longer than six charaters.'
                'Your password must be have at least 8 characters long, 1 uppercase, 1 lowercase character, 1 number and 1 special character.'
            );



            $("#ResetPassword").validate({
                rules: {
                    Password: {
                        required: true,
                        //regex:'/^.*(?=.{8,})(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[#$%&]).*$/',
                        //regex:'^(?:([A-Z])*([a-z])*(\d)*(\W)*){8,12}$',
                        //regex: '/^.*(?=.{8,})(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[#$%&]).*$/',
                        //regex: '^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{4,8}$',
                        //regex : '^[0-9]*$'
                        //regex : '^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).{4,8}$'
                        //regex : '^(?=.*\d).{4,8}$'
                        regex: '^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@@#\$%\^&\*])(?=.{8,})'
                    },
                    ConfirmPassword: {
                        required: true,
                        equalTo: Password
                    }
                },
                messages: {
                    Password: {
                        required: "The Field is Required"

                    },
                    ConfirmPassword: {
                        required: "The Field is Required",
                        equalTo: "Password and Confirm Password Does Not Match"
                    }
                }

            });
        });
    </script>
   
    <script>
        $("#ResetPassword").submit(function (event) {

            var recaptcha = $("#g-recaptcha-response").val();
            if (recaptcha === "") {
                event.preventDefault();
                abp.message.error(
                    'Please check the recaptcha and try again.',
                    'Invalid Recaptcha',
                    function (isConfirmed) {
                        if (isConfirmed) {                         
                        }
                    }
                );
            }
        });
    </script>
}
