﻿
@{
    ViewData["Title"] = "_InvitationDetails";
}
@section Styles
{
    <link rel="stylesheet" href="~/Townsend/css/pages/Referrals/Referrals.css" type="text/css" />
}
@section Scripts
{
    <script src="~/Townsend/js/pages/InviteEvolution/InviteEvolution.js" defer></script>
}

<div class="tab-pane" id="invitation-tab" role="tabpanel">
    <div class="row">
        <div class="col-9">
            <h2>Member Invitation Status List</h2>
        </div>
    </div>

    <table class="table table-hover">
        <thead class="table-header-dark">
            <tr>
                <th scope="col">STATUS</th>
                <th scope="col">DATE</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>Action Needed</td>
                <td>12-09-2020</td>
            </tr>
            <tr>
                <td>Invite Sent - Never Opened</td>
                <td>02-29-2020</td>
            </tr>
        </tbody>
    </table>

    <div class="row">
        <div class="col-9">
            <h2>Scholarship Invitation Status List</h2>
        </div>
    </div>

    <table class="table table-hover">
        <thead class="table-header-dark">
            <tr>
                <th scope="col">STATUS</th>
                <th scope="col">DATE</th>
            </tr>
        </thead>
        <tbody>



            <tr>
                <td>Scholarship Approved - Send Invite</td>
                <td>09-10-2020</td>
            </tr>
            <tr>
                <td>Scholarship Pending Approval</td>
                <td>11-10-2020</td>
            </tr>
        </tbody>
    </table>
</div>