﻿@model TownSend.Web.Models.Members.EditMemberModalViewModel
@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $(".paymentLogs").selectpicker({ noneSelectedText: '' });
        });
    </script>
}


<div class="tab-pane" role="tabpanel" id="payment-method-info">
    <div class="row">
        <div class="col-4">
            <h2>Payment Methods </h2>
        </div>

        <div class="col-8">
            <a href="javascript: void(0);" class="btn btn-secondary float-right"  data-toggle="modal" data-target="#PaymentMetodCreateModal"><i class="fas fa-plus-circle"></i>&nbspADD A PAYMENT METHOD</a>
        </div>
    </div>
    <table class="table table-hover" table-layout='fixed'>
        <thead class="table-header-dark">
            <tr>
                @*<th class="hidden-col"></th>*@

                <th scope="col">PAYMENT METHOD</th>
                <th scope="col"></th>
                <th scope="col">ACCOUNT / CARD NUMBER</th>
                <th scope="col">EXPIRY DATE</th>
                <th scope="col">ACCOUNT / CARD HOLDER NAME</th>
                <th scope="col">NUMBER OF TEAMS</th>

                <th scope="col" class="hidden-col no-sort">&nbsp; </th>
            </tr>
        </thead>

        <tbody>
            @*@foreach (var i in Model.PaymentList)
                {
                    <tr>
                        <td>@i.PaymentMethodLabel</td>
                        <td>@i.AccountType</td>
                        <td>@i.AccountNumber</td>
                        <td>@i.Expiration</td>
                        <td>@i.CardOwner</td>
                        <td>@i.TeamCount</td>
                        <td class="tr-action-btn">
                            <a href="/Member/MemberProfile?handler=LoadPaymentMethodProfile&PaymentMethodID=@i.PaymentMethodID&CustomerID=@i.CustomerID" style="margin-top:2px" data-toggle="tooltip" data-placement="top" title="View Profile" class="btn btn-secondary"><i class="fa fa-eye"></i></a>
                        </td>

                    </tr>
                }*@
        </tbody>

    </table>
</div>


<style>
    .temp {
        z-index: 2000 !important;
    }
</style>
<form method="post" data-ajax="true">
    @Html.AntiForgeryToken()
    <div class="modal fade" id="PaymentMetodCreateModal" data-backdrop="static" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">ADD PAYMENT</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-labelledby="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div id="validation-summary" class="text-danger" hidden="hidden">
                        <ul></ul>
                    </div>
                   @* @Html.HiddenFor(x => x.CustomerID)*@

                    <div class="row form-group">
                        <div class="col">
                            <label class="custom-form-label">Payment Method</label>
                            <select class="form-control">
                                <option>Credit Card</option>
                                <option>Manual Payment</option>
                                <option>Bank Account(E Check)</option>
                            </select>
                           @* @Html.DefaultBootstrapSelectTrio(model => Model.PaymentMethod, PaymentTypeCombo, data: new { onChange = "onNewPaymentChange();" })*@
                        </div>
                    </div>

                    <div class="form-group" id="creditCard" style="display: none;">
                        <div class="row form-group">
                            <div class="col">
                                <label class="custom-form-label">Cardholder</label>
                                <input type="text" class="form-control"/>
                                @*@Html.DefaultEditorTrio(model => Model.CardOwner, data: new { placeholder = "Name on the Card ..." })*@
                            </div>
                        </div>

                        <div class="row form-group ">
                            <div class="col">
                                <label class="custom-form-label"></label>
                                <input type="text" class="form-control" />
                            @*    @Html.DefaultEditorTrio(model => Model.CardNumber)*@
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col">
                                <label class="custom-form-label">Expiry Date</label>
                                <input class="form-control  temp text-box single-line" dateformat="MM/YYYY" id="Expiration" name="Expiration" placeholder="MM/YYYY" type="text" value="">
                              @*  @Html.DefaultEditorTrio(x => Model.Expiration, customClass: " temp", data: new { dateFormat = "MM/YYYY", placeholder = "MM/YYYY" })*@

                            </div>
                            <div class="col">

                               @* @Html.DefaultEditorTrio(model => Model.CVC, data: new { placeholder = "CVC.." })*@
                            </div>
                        </div>
                    </div>

                    <div class="form-group" id="bankAccount" style="display: none;">
                        <div class="row form-group">
                            <div class="col">
                            @*    @Html.DefaultBootstrapSelectTrio(model => Model.BankAccountType, AccountTypeCombo)*@
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col">
                              @*  @Html.DefaultEditorTrio(model => Model.AccountOwner, data: new { placeholder = "Account holder Name ..." })*@
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col">
                                @*@Html.LabelFor(model => model.AccountNumber, "Account Number ", new { @class = "custom-form-label" })*@
                              @*  @Html.DefaultEditorTrio(model => Model.AccountNumber)*@
                            </div>
                            <div class="col">
                              @*  @Html.DefaultEditorTrio(model => Model.RoutingNumber)*@
                            </div>
                        </div>
                    </div>
                </div>




                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-sm">SAVE<span id="spinner" style="display: none"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i></span></button>
                    <button type="button" class="btn btn-dark btn-sm" data-dismiss="modal">CLOSE</button>

                </div>
            </div>
        </div>
    </div>
</form>
