﻿@model TownSend.Web.Models.Members.EditMemberModalViewModel
@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $(".paymentLogs").selectpicker({ noneSelectedText: '' });
        });
    </script>
}


<div class="tab-pane" role="tabpanel" id="payment-logs-info">
    <form id="MemberPaymentLogForm" method="post" asp-action="PaymentLogs" asp-controller="Members">
        <input type="hidden" value="@Model.MemberEdit.Id" name="MemberId" />
        <div class="row filters">
            <div class="col-sm-6 form-inline filter-border-right" style="padding-left: 0;">
                <div>
                    <label class="custom-form-label" for="PaymentLog_From">From</label> &nbsp;
                    <div class="input-group">
                        <input type="text" id="StartDate" class="form-control calldatepickerStart" name="StartDate" />
                        <div class="input-group-append"><button class="btn btn-dark" type="button"><i class="fa fa-calendar-alt"></i></button></div>
                    </div>
                </div>
                <div>
                    <label class="custom-form-label" for="PaymentLog_To">To</label> &nbsp;
                    <div class="input-group">
                        <input type="text" id="EndDate" class="form-control calldatepickerStart" name="EndDate" />
                        <div class="input-group-append"><button class="btn btn-dark" type="button"><i class="fa fa-calendar-alt"></i></button></div>
                    </div>
                </div>
                <button type="button" class="btn btn-dark" id="btn-clear">
                    Reset
                </button>
            </div>

            <div class="col-sm-6 d-flex flex-row justify-content-end" style="padding-right: 0;">
                <div class="flex-fill d-inline-flex flex-row align-items-center" style="margin-right: 1em;">
                    <select class="form-control text-box single-line paymentLogs" name="TeamIds" title="Please select teams" multiple="multiple" data-live-search="true">
                        <option>All Team</option>
                        <option>Team 1</option>
                        <option>Team 2</option>
                    </select>
                </div>

                <div class="flex-fill d-inline-flex flex-row align-items-center" style="margin-right: 1em;">
                    <select class="form-control text-box single-line paymentLogs" name="TeamIds" title="Please select teams" multiple="multiple" data-live-search="true">
                        <option>All Status</option>
                        <option>Completed</option>
                        <option>Cancelled</option>
                        <option>Pending</option>
                    </select>
                </div>

                @if (User.IsInRole("Admin"))
                {
                    <div class="d-inline-flex flex-row align-items-center" style="margin-right: 1em;">
                        <a class="btn btn-success" href="#" dynamic-href="/Member/MemberProfile?handler=PaymentsLogExcelExport">
                            <i class="fas fa-file-excel"></i>&nbsp;Export to Excel
                        </a>
                    </div>
                }

                <div class="d-inline-flex flex-row align-items-center">
                    <button id="payment-log-refresh" class="btn btn-secondary" style="margin-left: 0px;" data-action-link="true" data-view-loader-refresh="#Payment-Log">Refresh</button>
                </div>
            </div>
        </div>
    </form>
    <div class="seperator"></div>

    <div class="row">
        <div class="col-sm-12 no-padding" id="Payment-Log" data-form="#MemberPaymentLogForm" data-is-datatable="true">
            @if (Model != null)
            {
                <table id="member-listing-table" class="table table-hover">
                    <thead class="table-header-dark">
                        <tr>

                            <th scope="col">TEAM NAME</th>
                            <th scope="col">AMOUNT</th>

                            <th scope="col">PAYMENT DATE</th>

                            <th scope="col">PAYMRNY TYPE</th>
                            <th scope="col">PAYMENT STATUS</th>

                            <th scope="col">PAYMENT REASON</th>

                            <th class="hidden-col">ACCOUNT/CREDIT CARD NUMBER</th>
                            <th class="hidden-col">ACCOUNT/CREDIT CARD EXPIRATION DATE</th>
                        </tr>
                    </thead>
                    <tbody>                    
                    @*@foreach (var m in Model)
                        {
                            <tr>
                                <td>@m.ProductName</td>
                                <td>@string.Format("{0:C}", m.PaymentAmount)</td>
                                <td>@m.PaymentDate</td>

                                <td>@m.PaymentType</td>
                                <td>@m.PaymentStatus</td>

                                <td>@m.PaymentReason</td>
                                @if (isAdmin)
                                {
                                    <td class="tr-action-btn"><a class="btn btn-secondary float-right" href="/MembersPayment/MemberPaymentDetail?paymentID=@m.PaymentID" data-toggle="tooltip" data-placement="top" title="View Profile"><i class="fas fa-eye"></i></a></td>
                                }
                            </tr>
                        }*@
                    </tbody>
                </table>
            }
            else
            {
                <div class="col-lg-12">
                    <div id="noFilter" class="alert alert-info alert-dismissible">No filter set. Please set a filter.</div>
                </div>
            }
        </div>
    </div>

</div>