﻿@model TownSend.Web.Models.Members.EditMemberModalViewModel
@{
    ViewData["Title"] = "_InvitationDetails";
}


<div class="tab-pane" id="teammembership-tab" role="tabpanel">
    <table class="table dataTableClass">
        <thead class="table-header-dark">
            <tr>
                <th scope="col">Team Name</th>
                <th scope="col">Partner Name</th>
                <th scope="col">Team Price</th>
                <th scope="col">Deposit</th>
                <th scope="col">Discount</th>
                <th scope="col">Scholarship Amount</th>
                <th scope="col">Net</th>
                <th scope="col">Balance</th>
                <td scope="col">Outstanding</td>
                <th scope="col">Date Joined</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.TeamMemberships)
            {
                <tr>
                    <td>@item.Teams.TeamName</td>
                    <td>
                        @{int i = 0;}
                        @foreach (var partner in item.Teams.Partners)
                        {
                            @partner
                            i++;

                            if (item.Teams.Partners.Count() != i)
                            {
                                <span>,</span>
                            }

                        }
                    </td>
                    <td>@item.Teams.TeamPrice</td>
                    <td>@item.Teams.Deposit</td>
                    <td>@item.Discount</td>
                    <td>@item.ScholarshipAmount</td>
                    <td>@item.Net</td>
                    <td>@item.Balance</td>
                    <td>Missed Payment</td>
                    <td>@item.DateJoined</td>
                </tr>
            }
        </tbody>
    </table>
</div>