﻿@model TownSend.Web.Models.Members.EditMemberModalViewModel
@using TownSend.Web.Views.Shared.Components.Document
@using  TownSend.Web.Views.Shared.Components.ProfileNote
@using TownSend
@section Scripts
{
    <script src="~/view-resources/Views/Members/_EditMember.js" asp-append-version="true"></script>
    <script type="text/javascript">
        $(".paymentLogs").selectpicker({ noneSelectedText: '' });
        $('.nav-link').click(function () {
            $("#ContactDetail").css('display', 'block');
            $("#ForInvitationTab").css('display','none');
        });
        $('#invitation-info-tab').click(function () {
            $("#ContactDetail").css('display', 'none');
            $("#ForInvitationTab").css('display','block');
        });
    </script>
    <script>
    $(document).ready(function () {
        $("#Expiration").inputmask("99/9999");
        $("#Expiration").inputmask({ removeMaskOnSubmit: true });
    });
  @*//  @Html.IdFor(model => Model.Expiration)*@

    </script>
    <script src="~/view-resources/Views/Common/Document.js" asp-append-version="true"></script>
}

<link href="~/Townsend/lib/dropzone/dropzone.css" rel="stylesheet" />
<link href="~/Townsend/lib/dropzone/basic.css" rel="stylesheet" />

<div class="customer-header">
    <div class="row padding customer-header-row">
        <div class="col-3" style="padding: 1%;">
            <div class="customer-photo float-left">
                <i class="fa fa-handshake fa-2x"></i>
            </div>
            <div id="TitleInfo" class="customer-name float-right">
                <p id="member-name">@(Model.MemberEdit.FullName)</p>
                <p class="info-text-small">Added on @Model.MemberEdit.CreationTime.Date.ToLongDateString()</p>
            </div>
        </div>

        <div class="col customer-header-right">
            @{
                var memberdocumenttabactiveclass = "";
                var membernotetabactiveclass = "";
                var memberdetailactiveclass = "";

                if (TempData["memberTab"] != null && TempData["memberTab"].ToString() == "Documents")
                {
                    memberdocumenttabactiveclass = "active";
                }
                else if (TempData["memberTab"] != null && TempData["memberTab"].ToString() == "Notes")
                {
                    membernotetabactiveclass = "active";
                }
                else
                {
                    memberdetailactiveclass = "active";
                }

            }
            <nav class="nav" role="tablist">
                <a class="nav-link @memberdetailactiveclass" id="basic-info-tab" data-toggle="tab" href="#basic-info" role="tab">Member Details</a>
                <a class="nav-link @memberdocumenttabactiveclass" id="documents-info-tab" data-toggle="tab" href="#documents-info" role="tab">Documents</a>
                <a class="nav-link" id="teammembership-info-tab" data-toggle="tab" href="#teammembership-tab" role="tab">Team Memberships</a>
                <a class="nav-link" id="documents-info-tab" data-toggle="tab" href="#payment-method-info" role="tab">Payment Method</a>
                <a class="nav-link" id="documents-info-tab" data-toggle="tab" href="#payment-logs-info" role="tab">Payment Logs</a>
                <a class="nav-link inviteTab" id="invitation-info-tab" data-toggle="tab" href="#invitation-tab" role="tab">Invitation Details</a>

                @if (User.IsInRole("Admin"))
                {
                    <a class="nav-link @membernotetabactiveclass" id="notes-tab" data-toggle="tab" href="#notesTab" role="tab">Notes</a>
                }             
            </nav>
        </div>
    </div>
</div>

<div class="customer-body" id="memberProfile">
    <div class="row padding h-100">
        <div id="ContactInfo" class="col-4 col-xl-3 customer-body-left">
            <div id="ContactDetails" style="display:block;">
                <div class="row padding customer-body-left-row contact-info">
                    <div class="col">
                        <label class="custom-form-label">CONTACT INFO</label>
                        <div class="row">
                            <div class="col-1">
                                <div class="icon"><i class="fa fa-phone"></i></div>
                                <div class="icon"><i class="fa fa-envelope"></i></div>
                                <div class="icon"><i class="fa fa-map-marker"></i></div>
                            </div>
                            <div class="col">
                                <div class="icon">
                                    @{
                                        var phoneNumber = long.Parse(Model.MemberEdit.PhoneNumber);
                                    }
                                    <a href="@(Model != null ? phoneNumber.ToString("tel:+01-###-###-####;;' '") : "")">
                                        @(Model != null ? phoneNumber.ToString("+1 (###) ###-####;;' '") : "")
                                    </a>
                                </div>
                                <div class="icon">
                                    <a href="@(Model != null ? "mailto:" + Model.MemberEdit.Email : "")">
                                        @(Model != null ? Model.MemberEdit.Email : "")
                                    </a>
                                </div>
                                <div class="icon">@(String.IsNullOrWhiteSpace(Model.MemberEdit.AddressLine1) ? "" : Model.MemberEdit.AddressLine1 + ", ")@Model.MemberEdit.AddressLine2</div>
                                <div class="icon">@(String.IsNullOrWhiteSpace(Model.MemberEdit.City) ? "" : Model.MemberEdit.City + ",")@Model.MemberEdit.ZipCode</div>

                            </div>
                        </div>

                    </div>

                </div>                
            </div>
            <div class="padding customer-body-left-row contact-info" id="ForInvitationTab" style="display:none; padding: 35px;">

                <div class="row">

                    <div class="col" style="margin-bottom: 0.5em; margin-top: 0.5em;">
                        <a class="btn btn-secondary icon-space" style="font-weight:bold; color: white; text-transform: uppercase;">
                            <i class="fas fa-plus-circle"></i>Assign Team
                        </a>
                    </div>
                </div>

                <div class="row " style="margin-top: 5px">
                    <div class="col" style="margin-bottom: 0.5em; margin-top: 0.5em;">


                        <a class="btn btn-secondary icon-space"
                           style="font-weight:bold; color: white; text-transform: uppercase"
                           id="scholarship-link">
                            <i class="fas fa-plus-circle"></i>ADD SCHOLARSHIP
                        </a>


                    </div>
                </div>

                <div class="row" style="margin-top: 5px">
                    <div class="col" style="margin-bottom: 0.5em; margin-top: 0.5em;">
                        <a class="btn btn-secondary disabled text-uppercase icon-space"><i class="fa fa-paper-plane"></i>Send Invite</a>

                    </div>
                </div>

                <div class="row" style="margin-top: 5px">
                    <div class="col" style="margin-bottom: 0.5em; margin-top: 0.5em;">
                        <button id="btn-cancel-invite"
                                class="btn btn-secondary icon-space"
                                style="font-weight:bold; color: white; text-transform: uppercase">
                            <i class="fas fa-ban"></i>CANCEL INVITATION PROCESS
                        </button>
                        <p style="margin-top: 5px">Cancel the invitation. Please note the customer may have already recieved the original invite email, this will only prevent them from signing on.</p>
                    </div>
                </div>

            </div>

        </div>
        @{
            var memberdetailactive = "";

            if (TempData["membertab"] != null && TempData["membertab"].ToString() == "Documents")
            {
                memberdetailactive = "";
            }
            else if (TempData["membertab"] != null && TempData["membertab"].ToString() == "Notes")
            {
                memberdetailactive = "";
            }
            else
            {
                memberdetailactive = "show active";
            }

        }
        <div class="col customer-body-right tab-content">
            <div class="tab-pane @memberdetailactive" id="basic-info" role="tabpanel">
                <div id="myAccountForm">
                    <div class="content-container">
                        <div class="card" style="margin-bottom: 35px;">
                            @if (Model.ErrorMessage != null && Model.ErrorMessage.Any())
                            {
                                foreach (var message in Model.ErrorMessage)
                                {
                                    <div class="alert alert-danger">
                                        @message
                                    </div>
                                }
                            }
                            @using (Html.BeginForm("EditMember", "Members", FormMethod.Post, new { Id = "EditMember", @Class = "form-validation" }))
                            {
                                @Html.AntiForgeryToken() <div class="card-header forAc">
                                    <h2>My Account</h2>
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <div class="profile-action-btns-container">
                                            <button type="button" class="btn btn-secondary float-right h-100 icon-space" onclick="toggleConfirm(this)" id="edit-info"><i class="fas fa-pen"></i> EDIT INFO</button>
                                            <button type="submit" style="display: none;margin-right: 1em;" id="SaveMember" class="btn btn-success float-right h-100"><i class='fas fa-save'></i> SAVE</button>
                                            <button data-action-link="true" data-view-loader-refresh="#myAccountForm" type="button" style="display: none;margin-right: 1em;" class="btn btn-secondary float-right h-100" onclick="toggleConfirm(this)" id="cancel-edit-info">CANCEL</button>
                                        </div>
                                    }
                                </div>
                                <div class="card-body">
                                    <div class="col-12">
                                        @Html.HiddenFor(x => x.MemberEdit.Id)
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <div id="validation-summary" class="text-danger" style="display: none">
                                            <ul></ul>
                                        </div>
                                        <div class="row" style="padding-bottom:20px">
                                            <div class="col-4">
                                                <label class="custom-form-label" for="FirstName">First Name</label>
                                                @Html.TextBoxFor(x => x.MemberEdit.FirstName, new { @class = "form-control text-box info single-line", required = true, @disabled = "disabled", @tabindex = "1" })
                                                <span asp-validation-for="@Model.MemberEdit.FirstName" class="text-danger"></span>
                                            </div>
                                            <div class="col-4">
                                                <label class="custom-form-label" for="MiddleName">Middle Name</label>
                                                @Html.TextBoxFor(x => x.MemberEdit.MiddleName, new { @class = "form-control text-box info single-line", @disabled = "disabled", @tabindex = "2" })
                                                <span asp-validation-for="@Model.MemberEdit.MiddleName" class="text-danger"></span>

                                            </div>
                                            <div class="col-4">

                                                <label class="custom-form-label" for="LastName">Last Name</label>
                                                @Html.TextBoxFor(x => x.MemberEdit.LastName, new { @class = "form-control text-box info single-line", required = true, @disabled = "disabled", @tabindex = "3" })
                                                <span asp-validation-for="@Model.MemberEdit.LastName" class="text-danger"></span>

                                            </div>
                                        </div>
                                        <div class="row" style="padding-bottom:20px">
                                            <div class="col-4">
                                                <label class="custom-form-label" for="AddressLine1">Address 1</label>
                                                @Html.TextBoxFor(x => x.MemberEdit.AddressLine1, new { @class = "form-control text-box info single-line", required = true, @disabled = "disabled", @tabindex = "4" })
                                                <span asp-validation-for="@Model.MemberEdit.AddressLine1" class="text-danger"></span>
                                            </div>

                                            <div class="col-4">
                                                <label class="custom-form-label" for="AddressLine2">Address 2</label>
                                                @Html.TextBoxFor(x => x.MemberEdit.AddressLine2, new { @class = "form-control text-box info single-line", @disabled = "disabled", @tabindex = "5" })
                                                <span asp-validation-for="@Model.MemberEdit.AddressLine2" class="text-danger"></span>
                                            </div>

                                            <div class="col-4">
                                                <label class="custom-form-label" for="City">City</label>
                                                @Html.TextBoxFor(x => x.MemberEdit.City, new { @class = "form-control text-box info single-line", required = true, @disabled = "disabled", @tabindex = "6" })
                                                <span asp-validation-for="@Model.MemberEdit.City" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="row" style="padding-bottom:20px">
                                            @*<div class="col-4">
                                            <label class="custom-form-label" for="Country">Country</label>
                                            @Html.TextBoxFor(x => x.MemberEdit.Country, new { @class = "form-control text-box info single-line", required = true, @disabled = "disabled", @tabindex = "7" })
                                            <span asp-validation-for="@Model.MemberEdit.Country" class="text-danger"></span>
                                        </div>*@

                                            <div class="col-4">
                                                <label class="custom-form-label" for="State">State</label>

                                                @Html.DropDownListFor(x => x.MemberEdit.State, new SelectList(Model.StateList.Items.ToList(), "Id", "StateName"), "- Select State -", new { @class = "form-control text-box info single-line", @disabled = "disabled", @tabindex = "8" })
                                                <span asp-validation-for="@Model.MemberEdit.State" class="text-danger"></span>
                                                @*<input class="form-control info text-box single-line" data-val-required="The State field is required." disabled="disabled" id="State" name="State" tabindex="8" type="text" value="@Model.Member.State">*@
                                            </div>

                                            <div class="col-4">
                                                <label class="custom-form-label" for="ZipCode">ZipCode</label>
                                                @Html.TextBoxFor(x => x.MemberEdit.ZipCode, new { @class = "form-control text-box info single-line", required = true, @disabled = "disabled", @tabindex = "9", @maxlength = "5", @minlength = "5", @id = "Zipcode" })
                                                <span asp-validation-for="@Model.MemberEdit.ZipCode" class="text-danger"></span>
                                            </div>
                                            <div class="col-4">
                                                <label class="custom-form-label" for="Email">Email Address</label>
                                                @Html.TextBoxFor(x => x.MemberEdit.Email, new { @class = "form-control text-box info single-line", required = true, @disabled = "disabled", @tabindex = "10" })
                                                <span asp-validation-for="@Model.MemberEdit.Email" class="text-danger"></span>

                                            </div>
                                        </div>
                                        <div class="row" style="padding-bottom:20px">

                                            <div class="col-4">

                                                <label class="custom-form-label" for="PhoneNumber">Phone Number</label>
                                                @Html.TextBoxFor(x => x.MemberEdit.PhoneNumber, new { @class = "form-control text-box info single-line", required = true, @disabled = "disabled", @tabindex = "11", @id = "PhoneNumber" })
                                                @*<input type="text" asp-for="MemberEdit.PhoneNumber" class="form-control text-box info single-line" disabled="disabled" required />*@
                                                <span id="ValidationPhoneNumber" class="text-danger"></span>
                                                <span asp-validation-for="@Model.MemberEdit.PhoneNumber" class="text-danger"></span>
                                            </div>
                                            @*<div class="col-4">
                                            <label class="custom-form-label" for="TeamId">Team</label>

                                            @Html.DropDownListFor(x => x.MemberEdit.TeamId, new SelectList(Model.TeamList.Items.ToList(), "Id", "TeamName"), "- Select Team -", new { @class = "form-control text-box single-line", @disabled = "disabled", @tabindex = "12" })
                                            <span asp-validation-for="@Model.MemberEdit.TeamId" class="text-danger"></span>
                                        </div>*@
                                        </div>

                                        @*<div class="row" style="padding-bottom:20px">
                                        <div class="col-12">
                                            <label class="custom-form-label">About Me</label>
                                            @Html.TextAreaFor(x => x.MemberEdit.AboutMe, new { @class = "form-control text-box info single-line", @row = 3, @disabled = "disabled", @tabindex = "13" })
                                            <span asp-validation-for="@Model.MemberEdit.AboutMe" class="text-danger"></span>
                                        </div>
                                    </div>*@
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>

            </div>
            @if (Model.MemberEdit.Id > 0)
            {
                @await Component.InvokeAsync(typeof(DocumentViewComponent), new { id = Model.MemberEdit.Id, type = EntityType.Members })              
                @await Component.InvokeAsync(typeof(ProfileNoteViewComponent), new { id = Model.MemberEdit.Id, type = EntityType.Members });
                <partial name="_InvitationDetails" />                
                @await Html.PartialAsync("_TeamMemberships", Model)
                @await Html.PartialAsync("_PaymentLogs",Model)
                @await Html.PartialAsync("_PaymentMethods",Model)
               
            }
        </div>
    </div>
</div>



