﻿@model TownSend.Web.Models.Members.MemberListViewModel

@section Scripts
{
    <script src="~/Townsend/lib/jquery-throttle-debounce/jquery.ba-throttle-debounce.min.js"></script>
    <script src="~/Townsend/js/MemberList.js"></script>
    <script src="~/view-resources/Views/Members/Index.js"></script>
    <script>
        $(function () {
            $(".calldatepicker").datepicker({
                dateFormat: 'mm-dd-yy',
            });

        });
    </script>

}

<style>
    .customcheckboxradio {
        width: 18px;
        height: 18px;
    }
</style>

<div class="content">
    <div class="row padding list-header">
        <div class="col-10"><h2>Member List</h2></div>

        <div class="col-2">
            <button class="btn btn-secondary float-right text-uppercase icon-space" data-toggle="modal" data-target="#MemberCreateModal"><i class="fas fa-plus-circle"></i>Invite Member</button>
        </div>
    </div>
    <hr />


    @{
        if (Model != null)
        {
            if (Model.Members.Count() > 0)
            {
                <table class="table table-hover dataTableClass">
                    <thead class="table-header-dark">
                        <tr>
                            <th scope="col">Member Name</th>
                            <th scope="col">Phone Number</th>
                            <th scope="col">Email</th>

                            <th class="hidden-col no-sort"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var member in Model.Members)
                        {
                            <tr>

                                <td class="td-first-col">@member.FullName </td>
                                <td><a href="@member.PhoneNumber.ToString("tel:+01-###-###-####;;' '")">@member.PhoneNumber.ToString("+1 (###) ###-####;;' '")</a></td>
                                <td><a href="@(!string.IsNullOrWhiteSpace(member.Email) ? "mailto" + member.Email : "")">@member.Email</a></td>

                                <td><a class="btn btn-secondary float-right" style="margin-left: 10px" asp-controller="Members" asp-action="EditMember" asp-route-id="@member.Id" data-partner-id="@member.Id" data-toggle="tooltip" data-placement="top" title="View Profile"><i class="fas fa-eye"></i></a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <div class="col-lg-12">
                    <div id="noMatch" class="alert alert-info alert-dismissible">No data matching specified constraints found.</div>
                </div>
            }
        }
        else
        {
            <div class="col-lg-12">
                <div id="noFilter" class="alert alert-info alert-dismissible">No filter set. Please set a filter.</div>
            </div>
        }
    }
</div>


<div class="modal fade" id="MemberCreateModal" tabindex="-1" role="dialog" aria-labelledby="MemberCreateModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-uppercase">Add a Member</h5>
                <button type="button" class="close" data-dismiss="modal" aria-labelledby="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="alert alert-danger" id="dverrorMessage" style="display:none" tabindex="1">

            </div>
            @if (Model.memberCreateViewModel != null && Model.memberCreateViewModel.ErrorMessage != null && Model.memberCreateViewModel.ErrorMessage.Any())
            {
                foreach (var message in Model.memberCreateViewModel.ErrorMessage)
                {
                    <div class="alert alert-danger">
                        @message
                    </div>
                }
            }
            @using (Html.BeginForm("CreateMember", "Members", FormMethod.Post, new { Id = "MemeberRegisterModel", @Class = "form-validation" }))
            {
                @Html.AntiForgeryToken()

                <div class="modal-body">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div id="validation-summary" class="text-danger" style="display: none">
                        <ul></ul>
                    </div>

                    @*@if (!productId.HasValue && !productCategoryId.HasValue)
                        {
                            <div class="row form-group">
                                <div class="col-md-6">
                                    @Html.DefaultBootstrapSelectTrio(model => model.ProductIDString, teamListCombo, "- Team -", data: new { onChange = "onNewMemberProductChange(this);" })
                                </div>
                            </div>
                        }
                        else
                        {
                            Model.ProductIDString = combinedId;
                            @Html.HiddenFor(model => model.ProductIDString);
                        }*@
                    <div class="form-group">
                        <div class="col-md-6">
                            @* ChangesTask1 *@
                            <label class="custom-form-label">Team</label>
                            @*<select class="form-control" name="TeamId">
                                    <option value="1">Team 1</option>
                                    <option value="2">Team 2</option>
                                    <option value="3">Team 3</option>
                                    <option value="4">Team 4</option>
                                </select>*@
                            @Html.DropDownListFor(x => x.memberCreateViewModel.CreateMember.TeamId, new SelectList(Model.memberCreateViewModel.TeamList.Items.ToList(), "Id", "TeamName"), "- Select Team -", new { @class = "form-control text-box single-line", @tabindex = "1", @onchange = "onvaluechange()" })
                            <span asp-validation-for="@Model.memberCreateViewModel.CreateMember.TeamId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6">
                            <label class="custom-form-label">First Name<span class="astrisk">&nbsp;*</span></label>
                            @Html.TextBoxFor(x => x.memberCreateViewModel.CreateMember.FirstName, new { @class = "form-control text-box single-line", required = true, @tabindex = "2" })
                            <span asp-validation-for="@Model.memberCreateViewModel.CreateMember.FirstName" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label class="custom-form-label">Last Name<span class="astrisk">&nbsp;*</span></label>
                            @Html.TextBoxFor(x => x.memberCreateViewModel.CreateMember.LastName, new { @class = "form-control text-box single-line", required = true, @tabindex = "3" })
                            <span asp-validation-for="@Model.memberCreateViewModel.CreateMember.LastName" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-6">
                            <label class="custom-form-label">Email<span class="astrisk">&nbsp;*</span></label>
                            @Html.TextBoxFor(x => x.memberCreateViewModel.CreateMember.Email, new { @class = "form-control text-box single-line", required = true, @tabindex = "4", @onblur = "onvaluechange()" })
                            <span asp-validation-for="@Model.memberCreateViewModel.CreateMember.Email" class="text-danger"></span>
                            <span class="text-danger" id="CheckEmailValidation"></span>
                        </div>
                        <div class="col-md-6">
                            <label class="custom-form-label">Phone Number<span class="astrisk">&nbsp;*</span></label>
                            @Html.TextBoxFor(x => x.memberCreateViewModel.CreateMember.PhoneNumber, new { @class = "form-control text-box single-line", required = true, @tabindex = "5", id = "PhoneNumber" })
                            <span asp-validation-for="@Model.memberCreateViewModel.CreateMember.PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group" id="PricingSection" style="display: none;">
                        <div class="col-12">
                            <span class="text-black-50" style="">Invite the new member with the following discount:</span>
                        </div>

                        <div class="row" style="margin-top: 16px;">
                            <div id="ProductPriceLoader" class="col-md-3">
                                <label class="custom-form-label">Base Price</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">$</span>
                                    </div>
                                    @Html.TextBoxFor(x => x.memberCreateViewModel.CreateMember.BasePrice, new { @class = "form-control text-box single-line", @tabindex = "6", @onchange = "calculateMemberPrice()" })
                                </div>
                                <span asp-validation-for="@Model.memberCreateViewModel.CreateMember.BasePrice" class="text-danger"></span>
                            </div>
                            <div class="col-md-3" id="DiscountPrice">
                                <label class="custom-form-label">Discount</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">$</span>
                                    </div>
                                    @Html.TextBoxFor(x => x.memberCreateViewModel.CreateMember.Discount, new { @class = "form-control text-box single-line", @tabindex = "7", @onchange = "calculateMemberPrice()" })
                                </div>
                                <span asp-validation-for="@Model.memberCreateViewModel.CreateMember.Discount" class="text-danger"></span>
                            </div>

                            <div id="ScholarshipAmountLoader" class="col-md-3">
                                <label class="custom-form-label">Scholarship Amount</label>

                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">$</span>
                                    </div>
                                    @Html.TextBoxFor(x => x.memberCreateViewModel.CreateMember.ScholarshipAmount, new { @class = "form-control text-box single-line", @readonly = "true", @tabindex = "8" })
                                </div>
                                <span asp-validation-for="@Model.memberCreateViewModel.CreateMember.ScholarshipAmount" class="text-danger"></span>
                            </div>
                            <div id="ScholarshipAmountLoader" class="col-md-3">
                                <label class="custom-form-label">Deposit</label>

                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">$</span>
                                    </div>
                                    @Html.TextBoxFor(x => x.memberCreateViewModel.CreateMember.Deposit, new { @class = "form-control text-box single-line", @tabindex = "8", @readonly = "true" })
                                </div>
                                <span asp-validation-for="@Model.memberCreateViewModel.CreateMember.Deposit" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div id="" class="col-md-4">
                                <br>
                                @Html.CheckBoxFor(x => x.memberCreateViewModel.CreateMember.Concordia_Discount, new { @class = "customcheckboxradio", id = "Concordia_Discount", @onclick = "calculateMemberPrice()" })
                                <label class="custom-form-label">Concordia Discount</label>


                            </div>
                            <div class="col-md-1">

                            </div>
                            <div class="col-md-4">
                                <br>
                                @Html.CheckBoxFor(x => x.memberCreateViewModel.CreateMember.Ministry_Discount, new { @class = "customcheckboxradio", id = "Ministry_Discount", @onclick = "calculateMemberPrice()" })
                                <label class="custom-form-label">Ministry Discount</label>
                            </div>
                            <div class="col-md-3">
                                <label class="custom-form-label">Member Amount</label>

                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">$</span>
                                    </div>
                                    @Html.TextBoxFor(x => x.memberCreateViewModel.CreateMember.MembershipAmount, new { @class = "form-control text-box single-line", @tabindex = "8", @readonly = "true" })
                                </div>
                                <span asp-validation-for="@Model.memberCreateViewModel.CreateMember.MembershipAmount" class="text-danger"></span>
                            </div>
                        </div>
                        @* <div id="MembershipPriceLoader" class="col-md-3" data-url="/Member/MemberList/?handler=CalculateMembershipPrice"></div>*@


                        <div class="row">
                            <div id="" class="col-md-3">
                                @Html.CheckBoxFor(x => x.memberCreateViewModel.CreateMember.Pay_in_Full, new { @class = "paymentType customcheckboxradio", id = "Pay_in_Full", @checked = "checked" })
                                <label class="custom-form-label">Pay in Full</label>



                            </div>
                            <div class="col-md-5">
                                @Html.CheckBoxFor(x => x.memberCreateViewModel.CreateMember.Deposit_12_Equal_Payments, new { @class = "paymentType customcheckboxradio", id = "Deposit_12_Equal_Payments" })
                                <label class="custom-form-label">Deposit + 12 Equal Payments</label>
                            </div>
                            <div class="col-md-4">
                                @Html.CheckBoxFor(x => x.memberCreateViewModel.CreateMember.Custom_Plan, new { @class = "paymentType customcheckboxradio", id = "Custom_Plan" })
                                <label class="custom-form-label">Custom Plan</label>
                            </div>

                        </div>
                        <div class="alert alert-danger" id="dvpaymenterrorMessage" style="display:none" tabindex="1">

                        </div>
                        <div class="customer-header" style="height:50px" id="paymentmode-tab-header">
                            <div class="row padding customer-header-row" style="margin:20px 0 0 0">
                                <div class="col customer-header-right">
                                    <nav class="nav" role="tablist">
                                        <a class="nav-link active" id="Pay_in_Full-info-tab" data-toggle="tab" href="#Pay_in_Full-info" role="tab">Pay in Full</a>

                                        <a class="nav-link" id="Deposit_12_Equal_Payments-info-tab" data-toggle="tab" href="#Deposit_12_Equal_Payments-info" role="tab" style="display:none">Deposit + 12 Equal Payments</a>
                                        <a class="nav-link" id="Custom_Plan-info-tab" data-toggle="tab" href="#Custom_Plan-info" role="tab" >Custom Plan</a>

                                    </nav>
                                </div>
                            </div>
                        </div>

                        <div class="customer-body" id="paymentmode-tab-body">
                            <div class="row padding h-100" style="margin:0px">
                                <div class="col customer-body-right tab-content" style="padding: 0px 0 20px 0;">
                                    <div class="tab-pane show active" id="Pay_in_Full-info" role="tabpanel">

                                        <div class="row form-group">
                                            <div class="col-md-6" style="display:none">
                                                <label class="custom-form-label">Date</label>
                                                @Html.TextBoxFor(x => x.memberCreateViewModel.CreateMember.payinfulldate, new { @class = "form-control text-box single-line calldatepicker", @tabindex = "2" })

                                            </div>
                                            <div class="col-md-6">
                                                <label class="custom-form-label">Discount</label>
                                                @Html.DropDownListFor(x => x.memberCreateViewModel.CreateMember.PayInFullDiscount, new[]{
                            new SelectListItem(){ Text = "No Discount", Value = "0"},
                            new SelectListItem(){ Text = "1", Value = "1"},
                            new SelectListItem(){ Text = "2", Value = "2"},
                            new SelectListItem(){ Text = "3", Value = "3"},
                            new SelectListItem(){ Text = "4", Value = "4"},
                            new SelectListItem(){ Text = "5", Value = "5"}
                            }, new { @class = "form-control text-box single-line", @tabindex = "10" })
                                                <span asp-validation-for="@Model.memberCreateViewModel.CreateMember.TeamId" class="text-danger"></span>

                                            </div>
                                            <div class="col-md-6" style="display:none">
                                                <label class="custom-form-label">Amount</label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">$</span>
                                                    </div>
                                                    @Html.TextBoxFor(x => x.memberCreateViewModel.CreateMember.payinfullamount, new { @class = "form-control text-box single-line", @tabindex = "8" })
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="tab-pane" id="Deposit_12_Equal_Payments-info" role="tabpanel" style="display:none">
                                        <div class="row form-group">
                                            <table class="table table-hover">
                                                <thead class="table-header-dark">
                                                    <tr>
                                                        <th scope="col">Date</th>
                                                        <th scope="col">Amount</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="tbodyDeposit_12_Equal_Payments">
                                                    <tr>
                                                        <td>
                                                            @Html.TextBoxFor(x => x.memberCreateViewModel.CreateMember.deposit12monthdate, new { @class = "form-control text-box single-line calldatepicker", @tabindex = "2", id = "deposit12monthdate1" })
                                                        </td>

                                                        <td>
                                                            <div class="input-group">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text">$</span>
                                                                </div>
                                                                @Html.TextBoxFor(x => x.memberCreateViewModel.CreateMember.deposit12monthamount, "0", new { @class = "form-control text-box single-line", @tabindex = "8", @value = "0" })
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            @Html.TextBoxFor(x => x.memberCreateViewModel.CreateMember.deposit12monthdate, new { @class = "form-control text-box single-line calldatepicker", @tabindex = "2", id = "deposit12monthdate2" })
                                                        </td>

                                                        <td>
                                                            <div class="input-group">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text">$</span>
                                                                </div>
                                                                @Html.TextBoxFor(x => x.memberCreateViewModel.CreateMember.deposit12monthamount, "0", new { @class = "form-control text-box single-line", @tabindex = "8" })
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            @Html.TextBoxFor(x => x.memberCreateViewModel.CreateMember.deposit12monthdate, new { @class = "form-control text-box single-line calldatepicker", @tabindex = "2", id = "deposit12monthdate3" })
                                                        </td>

                                                        <td>
                                                            <div class="input-group">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text">$</span>
                                                                </div>
                                                                @Html.TextBoxFor(x => x.memberCreateViewModel.CreateMember.deposit12monthamount, "0", new { @class = "form-control text-box single-line", @tabindex = "8" })
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            @Html.TextBoxFor(x => x.memberCreateViewModel.CreateMember.deposit12monthdate, new { @class = "form-control text-box single-line calldatepicker", @tabindex = "2", id = "deposit12monthdate4" })
                                                        </td>

                                                        <td>
                                                            <div class="input-group">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text">$</span>
                                                                </div>
                                                                @Html.TextBoxFor(x => x.memberCreateViewModel.CreateMember.deposit12monthamount, "0", new { @class = "form-control text-box single-line", @tabindex = "8" })
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            @Html.TextBoxFor(x => x.memberCreateViewModel.CreateMember.deposit12monthdate, new { @class = "form-control text-box single-line calldatepicker", @tabindex = "2", id = "deposit12monthdate5" })
                                                        </td>

                                                        <td>
                                                            <div class="input-group">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text">$</span>
                                                                </div>
                                                                @Html.TextBoxFor(x => x.memberCreateViewModel.CreateMember.deposit12monthamount, "0", new { @class = "form-control text-box single-line", @tabindex = "8" })
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            @Html.TextBoxFor(x => x.memberCreateViewModel.CreateMember.deposit12monthdate, new { @class = "form-control text-box single-line calldatepicker", @tabindex = "2", id = "deposit12monthdate6" })
                                                        </td>

                                                        <td>
                                                            <div class="input-group">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text">$</span>
                                                                </div>
                                                                @Html.TextBoxFor(x => x.memberCreateViewModel.CreateMember.deposit12monthamount, "0", new { @class = "form-control text-box single-line", @tabindex = "8" })
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            @Html.TextBoxFor(x => x.memberCreateViewModel.CreateMember.deposit12monthdate, new { @class = "form-control text-box single-line calldatepicker", @tabindex = "2", id = "deposit12monthdate7" })
                                                        </td>

                                                        <td>
                                                            <div class="input-group">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text">$</span>
                                                                </div>
                                                                @Html.TextBoxFor(x => x.memberCreateViewModel.CreateMember.deposit12monthamount, "0", new { @class = "form-control text-box single-line", @tabindex = "8" })
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            @Html.TextBoxFor(x => x.memberCreateViewModel.CreateMember.deposit12monthdate, new { @class = "form-control text-box single-line calldatepicker", @tabindex = "2", id = "deposit12monthdate8" })
                                                        </td>

                                                        <td>
                                                            <div class="input-group">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text">$</span>
                                                                </div>
                                                                @Html.TextBoxFor(x => x.memberCreateViewModel.CreateMember.deposit12monthamount, "0", new { @class = "form-control text-box single-line", @tabindex = "8" })
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            @Html.TextBoxFor(x => x.memberCreateViewModel.CreateMember.deposit12monthdate, new { @class = "form-control text-box single-line calldatepicker", @tabindex = "2", id = "deposit12monthdate9" })
                                                        </td>

                                                        <td>
                                                            <div class="input-group">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text">$</span>
                                                                </div>
                                                                @Html.TextBoxFor(x => x.memberCreateViewModel.CreateMember.deposit12monthamount, "0", new { @class = "form-control text-box single-line", @tabindex = "8" })
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            @Html.TextBoxFor(x => x.memberCreateViewModel.CreateMember.deposit12monthdate, new { @class = "form-control text-box single-line calldatepicker", @tabindex = "2", id = "deposit12monthdate10" })
                                                        </td>

                                                        <td>
                                                            <div class="input-group">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text">$</span>
                                                                </div>
                                                                @Html.TextBoxFor(x => x.memberCreateViewModel.CreateMember.deposit12monthamount, "0", new { @class = "form-control text-box single-line", @tabindex = "8" })
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            @Html.TextBoxFor(x => x.memberCreateViewModel.CreateMember.deposit12monthdate, new { @class = "form-control text-box single-line calldatepicker", @tabindex = "2", id = "deposit12monthdate11" })
                                                        </td>

                                                        <td>
                                                            <div class="input-group">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text">$</span>
                                                                </div>
                                                                @Html.TextBoxFor(x => x.memberCreateViewModel.CreateMember.deposit12monthamount, "0", new { @class = "form-control text-box single-line", @tabindex = "8" })
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            @Html.TextBoxFor(x => x.memberCreateViewModel.CreateMember.deposit12monthdate, new { @class = "form-control text-box single-line calldatepicker", @tabindex = "2", id = "deposit12monthdate12" })
                                                        </td>

                                                        <td>
                                                            <div class="input-group">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text">$</span>
                                                                </div>
                                                                @Html.TextBoxFor(x => x.memberCreateViewModel.CreateMember.deposit12monthamount, "0", new { @class = "form-control text-box single-line", @tabindex = "8" })
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                        </div>

                                    </div>
                                    <div class="tab-pane" id="Custom_Plan-info" role="tabpanel" style="display:none">

                                        <div class="row form-group">
                                            <div class="col-md-12">
                                                @Html.CheckBoxFor(x => x.memberCreateViewModel.CreateMember.CustomPay_Deposit, new { @class = "customcheckboxradio", id = "CustomPay_Deposit", @onclick = "managePaymentmode()" })
                                                <label class="custom-form-label" >With Deposit</label>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label class="custom-form-label">
                                                            Select the start date of payments
                                                        </label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        @Html.TextBoxFor(x => x.memberCreateViewModel.CreateMember.CustomStartDate, new { @class = "form-control text-box single-line calldatepicker", @tabindex = "12" })
                                                    
                                                    </div>
                                                    
                                                    
                                                    </div>
                                                </div>
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label class="custom-form-label">
                                                            Select the Number of Installments
                                                        </label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        @Html.TextBoxFor(x => x.memberCreateViewModel.CreateMember.Number_of_Installment, "", new { @class = "text-box single-line", @style = "background:none;color:black;width:50px;text-align:right", @tabindex = "2" })
                                                        <button type="button" class="btn btn-primary" onclick="fngobuttonclick()">Go</button>
                                                        </div>
                                                    </div>
                                            </div>
                                                    <br />
                                                    <table class="table table-hover" style="margin-top:5px;display:none" id="tblCustom">
                                                        <thead class="table-header-dark">
                                                            <tr>
                                                                <th scope="col">Date</th>
                                                                <th scope="col">Amount</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="customtbody">
                                                        </tbody>
                                                    </table>

                                                </div>

                                            </div>
                                </div>
                                @* <div id="MembershipPriceLoader" class="col-md-3" data-url="/Member/MemberList/?handler=CalculateMembershipPrice"></div>*@

                            </div>
                        </div>
                    </div>


                    @*<div class="form-group" @Html.HideIf(!Model.ConfirmRequired)>
                            <div class="col-12">
                                <div class="alert alert-warning">
                                    @Html.DefaultCheckboxTrio(model => model.ConfirmRenewal)
                                </div>
                            </div>
                        </div>*@
                    @*@if (User.IsInRole("Admin"))
                        {
                            <div class="form-group" id="AdministratorOptionsSection" style="">
                                <div class="col-12">
                                    <div class="alert alert-secondary">
                                        <div class="row" style="margin: 0px">
                                            <div class="col-12">
                                                <h6 class="alert-heading"><i class="fa fa-user-check"></i> Administrator Invite Options</h6>

                                                <div class="form-check">
                                                    <label class="custom-form-label form-check-label">
                                                        <input class="form-check-input" data-val="true" id="ConfirmProxyInvite" name="ConfirmProxyInvite" type="checkbox" value="true">As adminitrator, I am accepting this invitation on behalf of the member defined above. The invitation email will be sent to @ViewData["UserEmail"]
                                                    </label><span class="field-validation-valid text-danger" data-valmsg-for="ConfirmProxyInvite" data-valmsg-replace="true"></span>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        }*@
                    @*<span style="display:none">
                            <input id="AdminUserEmail" name="AdminUserEmail" />
                        </span>*@
                    <div class="form-group" id="ConfirmProductAgreementSection" style="display: none;">
                        <div class="col-12">
                            <div class="alert alert-warning">
                                <div class="row" style="margin: 0px">
                                    @*<div class="col-9">@Html.DefaultCheckboxTrio(model => model.ConfirmProductAgreement)</div>*@
                                    <div class="col-3 d-flex align-items-center justify-content-end">
                                        <div class="float-right">

                                            @*<a href="javascript: void(0);"
                                                       data-is-modal="true"
                                                       data-ajax="true"
                                                       data-ajax-url="/Member/MemberList/?handler=ViewMembershipAgreement"
                                                       data-ajax-update="#MembershipAgreementContainer"
                                                       data-ajax-success="onSuccessShowModal(this, '#ViewMembershipAgreement');"
                                                       data-loaded-callback="loadMembershipAgreement(element, '#AddMemberModalForm')"
                                                       class="btn btn-success pull-right">View Contract</a>
                                                </div>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary text-uppercase">Add <span id="spinner" style="display: none"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i></span></button>
                        <button type="button" class="btn btn-dark text-uppercase" data-dismiss="modal">Close</button>
                    </div>
                </div>

            }
        </div>
    </div>
</div>
@*<div class="modal fade" id="TenantEditModal" tabindex="-1" role="dialog" aria-labelledby="TenantEditModalLabel" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

            </div>
        </div>
    </div>*@



