﻿@using TownSend


@model TownSend.Web.Models.Members.RegisterMemberViewModel
@{
    Layout = "_HubOneLayoutBeforeLogin";
    ViewData["Title"] = "Member Register";
}

@section Styles {
    <link rel="stylesheet" href="~/Townsend/css/pages/Member/Invitation/InvitationSteps.css" />

    <style>

        input:-moz-read-only { /* For Firefox */
            outline: 0 none;
            pointer-events: none;
        }

        input:read-only {
            outline: 0 none;
            pointer-events: none;
        }
    </style>
    <style type="text/css">
        .ui-datepicker-calendar {
            display: none;
        }
    </style>
}

<div class="content stepper">

    <div class="row">
        <div class="col-sm-12 d-flex justify-content-center align-items-center">
            <h1>Payment</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <ul class="stepper">
                <li class="active">Step 1</li>
                <li class="active">Step 2</li>
                <li class="active">Step 3</li>
                <li class="active">Step 4</li>
            </ul>
        </div>
    </div>

    <div class="row pb-5">
        <div class="col-xs-12 offset-md-1 col-md-10 offset-lg-2 col-lg-8">
            <div class="card payment">
                <div class="card-body">
                    <div><h6 class="text-secondary">Selected Payment Plan</h6></div>

                    <div class="d-flex mb-5">
                        <div class="flex-fill flex-grow-1">
                            @*@switch (Model.Pricing.PaymentTerm)
                                {*@
                            @*//case PaymentTerm.PeriodicInstallment:*@
                            <div><h4>Deposit +  Equal Monthly Payments<a href="#asterisk-1" style="text-decoration: none;">*</a></h4></div>
                            <div class="text-muted">$1,000today + $666.67/month</div>
                            @*//    break;
                                //case PaymentTerm.SingleInstallment:*@
                            @*<div><h4>Someone Else Is Paying For Me</h4></div>
                                <div class="text-muted"></div>*@
                            @*//    break;
                                //case PaymentTerm.LumpSum:*@
                            @*<div><h4>Pay in Full</h4></div>
                                <div class="text-muted"> today and no future payments</div>*@
                            @*//break;*@
                            @*  }*@
                        </div>
                        <div class="flex-fill flex-grow-0 align-self-center">
                            <a class="btn btn-outline-dark" style="color: #26628d;">Back</a>
                        </div>
                    </div>

                    <hr />

                    <form id="PaymentForm" method="post">
                        @Html.AntiForgeryToken()

                        @*@Html.HiddenFor(model => model.PaymentMethodInfo.PaymentMethodType)*@


                        @*<div class="mt-4">
                                <h2 class="pt-4 mb-4">Instructions</h2>

                                <div class="row">
                                    <div class="col-12">
                                        <p>After clicking the Confirm button below, you will receive an email with a link to the payment form. Please send the link to the person/party that will be paying for you.</p>
                                    </div>
                                </div>

                            </div>
                            }
                            else
                            {*@



                        <div class="mt-4">
                            <h2 class="pt-4 mb-4">Payment Information</h2>

                            <div class="validation-summary-errors text-danger">
                                <ul>
                                    @foreach (var error in ViewData.ModelState.Where(x => x.Key == string.Empty).SelectMany(x => x.Value.Errors))
                                    {
                                        <li>@Html.Raw(error.ErrorMessage)</li>
                                    }
                                </ul>
                            </div>
                            <div id="validation-summary" class="text-danger" style="display: none">
                                <ul></ul>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <ul class="nav nav-tabs" id="paymentMethodTypeTab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link disabled" role="tab">Choose your payment type</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link icon-space active" id="credit-card-tab" data-toggle="tab" role="tab" href="#credit-card-tab-info" aria-controls="creditcard" aria-selected="true" data-show-secondary="false"><i class="far fa-credit-card"></i>Credit Card</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link icon-space" id="bank-tab" data-toggle="tab" role="tab" aria-controls="bank" href="#bank-tab-info" aria-selected="false"><i class="fa fa-money-check-alt"></i>E-Check</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link icon-space" id="check-tab" data-toggle="tab" role="tab" aria-controls="check" href="#check-tab-info" aria-selected="false"><i class="fa fa-money-check"></i>Check</a>
                                        </li>
                                        @*<li class="nav-item" data-toggle="tooltip" data-placement="top" title="Coming soon!">
                                                <a class="nav-link icon-space disabled" id="bank-tab" data-toggle="tab" href="#@Data.HubOnePaymentMethodType.COACH_BankAccount" role="tab" aria-controls="bank" aria-selected="false" data-payment-type="@Data.HubOnePaymentMethodType.COACH_BankAccount"><i class="fa fa-money-check-alt"></i>E-Check</a>
                                            </li>
                                            <li class="nav-item" data-toggle="tooltip" data-placement="top" title="Coming soon!">
                                                <a class="nav-link icon-space disabled" id="check-tab" data-toggle="tab" href="#@Data.HubOnePaymentMethodType.COACH_Check" role="tab" aria-controls="check" aria-selected="false" data-payment-type="@Data.HubOnePaymentMethodType.COACH_Check"><i class="fa fa-money-check"></i>Check</a>
                                            </li>*@
                                    </ul>
                                    <div class="tab-content" id="paymentMethodTypeTabContent">

                                        <div id="payment-security-note" class="mt-1 font-italic text-muted mt-3">
                                            All transactions are secure and encrypted.
                                        </div>

                                        <div class="tab-pane fade show active" id="credit-card-tab-info" role="tabpanel" aria-labelledby="creditcard-tab">
                                            <div class="row mt-4">
                                                <div class="col-md-12 mb-4">
                                                    <label class="custom-form-label">Name on card</label>
                                                    <input type="text" id="NameOnCard" class="form-control" />
                                                </div>
                                                <div class="col-md-7">
                                                    <label class="custom-form-label">Number on card</label>
                                                    @*<input type="number" maxlength="16" class="form-control" />*@
                                                    @*<input id="CardNumber" type="number" name="number" placeholder="Card Number" />*@
                                                    @Html.TextBoxFor(x => x.InvitationPaymentDto.CardNumber, new { @class = "form-control info text-box single-line", @id = "CardNumber", @maxlength = "16", @minlength = "16" })
                                                    <span asp-validation-for="@Model.InvitationPaymentDto.CardNumber" class="text-danger"></span>

                                                    @*@Html.TextBoxFor(x => x.InvitationPayment.CardNumber, new { @class = "form-control text-right", @value = "0.00", @id = "cardNumber" })
                                                        <span asp-validation-for="@Model.InvitationPayment.CardNumber" class="text-danger"></span>*@
                                                </div>
                                                <div class="col-md-5">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <label class="custom-form-label">Expiration</label>
                                                            <input type="text" id="txtDate" class="form-control" />
                                                            @*<input id="Expiration" type="text" name="expiry" placeholder="MM / YY" />*@
                                                            @*@Html.TextBoxFor(x => x.InvitationPayment.Expiration, new { @class = "form-control calldatePiker", @id = "datepicker" })
                                                                <span asp-validation-for="@Model.InvitationPayment.Expiration" class="text-danger"></span>*@
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label class="custom-form-label">CVC</label>
                                                            @*<input type="number" class="form-control" />*@
                                                            @Html.TextBoxFor(x => x.InvitationPaymentDto.CVC, new { @class = "form-control info text-box single-line", @id = "CVC", @maxlength = "4", @minlength = "3" })
                                                            <span asp-validation-for="@Model.InvitationPaymentDto.CVC" class="text-danger"></span>
                                                            @*<input id="Cvc" type="number" name="cvc" placeholder="CCV" />*@

                                                            @*@Html.TextBoxFor(x => x.InvitationPayment.CVC, new { @class = "form-control text-right", @id = "cvc" , })
                                                                <span asp-validation-for="@Model.InvitationPayment.CVC" class="text-danger"></span>*@
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="bank-tab-info" role="tabpanel" aria-labelledby="bank-tab">
                                            <div class="row mt-4">
                                                <div class="col-md-6 mb-4">
                                                    <label class="custom-form-label">Account holder Name</label>
                                                    <input type="text" id="CardNumber" class="form-control" required/>
                                                </div>

                                                <div class="col-md-6 mb-4">
                                                    <label class="custom-form-label">Phone number</label>
                                                    <input type="text" id="CardNumber" class="form-control" required/>
                                                </div>

                                                <div class="col-md-6">
                                                    <label class="custom-form-label">Bank account number</label>
                                                    <input type="text" id="CardNumber" class="form-control" required/>
                                                </div>
                                                <div class="col-md-6">
                                                    <i id="rn_explain" class="fas fa-info-circle" data-toggle="popover" data-trigger="focus" data-html="true" style="float: right; margin-right: 9em; margin-top: 0.35em;"></i>
                                                    <div id="popover-content" class="hide" style="display: none;">
                                                        <div class="text-align-center">
                                                            <img src="~/images/routnum_pop.gif" width="90%" height="90%" alt="Bank check example with highlighted routing number" />
                                                        </div>
                                                        <p>Your routing number is <span style="color: red;">USUALLY</span> the 9-digit number located between the <img src="~/images/sym_pipedot.gif" alt="pipe dot symbol" /> symbols on the bottom left corner of your check. You should contact your bank to insure this is the correct routing number for ACH transfers from your checking account.</p>
                                                    </div>
                                                    <label class="custom-form-label">Routing number</label>
                                                    <input type="text" id="CardNumber" class="form-control" required/>
                                                </div>
                                            </div>
                                        </div>

                                        @*@if (Model.Pricing.PaymentTerm == PaymentTerm.PeriodicInstallment)
                                            {*@
                                        <hr />
                                        <div class="row mt-4">
                                            <div class="col-md-12">
                                                <h5 style="font-size: 1em;"><u>NOTE</u>: You must have a credit card on file for future automatic monthly billings</h5>
                                            </div>
                                        </div>

                                        <div class="secondary-info-placeholder"></div>
                                        @*}*@
                                    <div class="tab-pane fade" id="check-tab-info" role="tabpanel" aria-labelledby="check-tab">
                                        <div class="row mt-4">
                                            <div class="col-md-12">
                                                Please make your check out to: <br />
                                                <strong>Townsend Leadership Group</strong> <br /><br />
                                                and mail to: <br />
                                                <strong>Townsend Leadership Group</strong><br />
                                                <strong>Attn: Program Coordinator</strong><br />
                                                <strong>260 Newport Center Dr Ste #100</strong> <br />
                                                <strong>Newport Beach, CA 92660-7522</strong><br />
                                            </div>
                                        </div>

                                        @*@if (Model.Pricing.PaymentTerm == PaymentTerm.PeriodicInstallment)
                                            {*@
                                        <hr />
                                        <div class="row mt-4">
                                            <div class="col-md-12">
                                                <h5 style="font-size: 1em;"><u>NOTE</u>: You must have a credit card on file for future automatic monthly billings</h5>
                                            </div>
                                        </div>

                                        <div class="secondary-info-placeholder"></div>
                                        @*}*@

                                    </div>

                                </div>
                            </div>
                        </div>
                </div>
                @*}*@

                <div class="row button-row">
                    <div class="col-12">

                        <button type="submit" class="btn btn-lg btn-secondary text-uppercase">
                            @*@switch (Model.Pricing.PaymentTerm)
                                {*@
                            @*case PaymentTerm.SingleInstallment:
                                <span>Confirm &amp; Send E-Mail</span>
                                break;
                                    case PaymentTerm.PeriodicInstallment:
                                <span>Submit &amp; Pay</span>
                                break;*@
                            @*case PaymentTerm.LumpSum:*@
                            <span>Submit &amp; Pay</span>
                            @*break;
                                }*@
                            <span id="spinner" style="display: none"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i></span>
                        </button>
                    </div>
                </div>

                @*@if (Model.Pricing.PaymentTerm == PaymentTerm.PeriodicInstallment)
                    {*@
                @*<div class="row mt-4" id="SecondaryPaymentMethodSubForm" style="display: none">
                        <div class="col-md-12 mb-4">
                            @Html.DefaultEditorTrio(model => model.PaymentMethodInfo.DepositCCNameOnCard)
                        </div>
                        <div class="col-md-7">
                            @Html.DefaultEditorTrio(model => model.PaymentMethodInfo.DepositCCCardNumber)
                        </div>
                        <div class="col-md-5">
                            <div class="row">
                                <div class="col-md-6">
                                    @Html.DefaultEditorTrio(model => model.PaymentMethodInfo.DepositCCExpiration, data: new { placeholder = "MM/YY" })
                                </div>
                                <div class="col-md-6">
                                    @Html.DefaultEditorTrio(model => model.PaymentMethodInfo.DepositCCCVC)
                                </div>
                            </div>
                        </div>
                    </div>
                    }*@
                </form>

                <div class="text-align-center mt-1 font-italic text-muted">
                    @*@switch (Model.Pricing.PaymentTerm)
                        {
                            case PaymentTerm.PeriodicInstallment:*@
                    <div id="asterisk-1">*Automatic monthly billing will occur when the Team starts.</div>
                    @*break;
                        }*@
                </div>
            </div>
        </div>
    </div>
</div>
</div>

@section Scripts
    {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        @*$(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });

        $('body').popover({
                trigger: 'hover',
                selector: '[data-toggle="popover"]',
                html: true,
                content: function () {
                    return $('#popover-content').html();
                }
            });

        $(document).ready(function () {
            $('#@Html.IdFor(model => model.PaymentMethodInfo.PaymentMethodType)').val($('a[data-toggle="tab"].active').data('paymentType'));

            $('#Expiration').inputmask("99/99");
            $('#Expiration').inputmask({ removeMaskOnSubmit: true });

            //$('#PaymentMethodInfo_DepositCCExpiration').inputmask("99/99");
            //$('#PaymentMethodInfo_DepositCCExpiration').inputmask({ removeMaskOnSubmit: true });

            //$('#PaymentMethodInfo_PhoneNumber').inputmask("(999) 999-9999");
            //$('#PaymentMethodInfo_PhoneNumber').inputmask({ removeMaskOnSubmit: true });

            $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {
                $('#@Html.IdFor(model => model.PaymentMethodInfo.PaymentMethodType)').val($(e.target).data('paymentType'));

                if ($(e.target).data('showSecondary') === 'True') {
                    var subForm = $('#SecondaryPaymentMethodSubForm').detach();
                    $('.secondary-info-placeholder', $(e.target).attr('href')).append(subForm);
                    $('#SecondaryPaymentMethodSubForm').show();
                }
                else {
                    $('#SecondaryPaymentMethodSubForm').hide();
                }

                $(':input:enabled', '#paymentMethodTypeTabContent').attr('readonly', 'readonly');

                $(':input', $(e.target).attr('href')).removeAttr('readonly');
            });

            var $paymentMethodType = $('#@Html.IdFor(model => model.PaymentMethodInfo.PaymentMethodType)');

            if ($paymentMethodType.val() === '') {
                $paymentMethodType.val($('.tab-pane:first-child', '#paymentMethodTypeTabContent').attr('id'));
            }

            $('#paymentMethodTypeTab a[href="#' + $paymentMethodType.val() + '"]').tab('show');

            $('#PaymentForm').on('submit', function () {

                $('#spinner').show();
                $('button[type=submit], input[type=submit]').prop('disabled', true);

                var secondaryCardNumber = $('#PaymentMethodInfo_DepositCCCardNumber').val();
                if (secondaryCardNumber !== undefined) {
                    secondaryCardNumber = secondaryCardNumber.replace(/ /g, '');
                    $('#PaymentMethodInfo_DepositCCCardNumber').val(secondaryCardNumber);
                }


                var creditCardNumber = $('#PaymentMethodInfo_CardNumber').val();
                if (creditCardNumber !== undefined) {
                    creditCardNumber = creditCardNumber.replace(/ /g, '');
                    $('#PaymentMethodInfo_CardNumber').val(creditCardNumber);
                }


                $(':input[readonly]', '#paymentMethodTypeTabContent').val('');



            });
        });*@
        $("#CardNumber").keydown(function (event) {


            if (event.shiftKey == true) {
                event.preventDefault();
            }

            if ((event.keyCode >= 48 && event.keyCode <= 57) ||
                (event.keyCode >= 96 && event.keyCode <= 105) ||
                event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 37 ||
                event.keyCode == 39 || event.keyCode == 46 || event.keyCode == 190) {

            } else {
                event.preventDefault();
            }

            if ($(this).val().indexOf('.') !== -1 && event.keyCode == 190)
                event.preventDefault();
            //if a decimal has been added, disable the "."-button

        });

        $(document).ready(function () {
            $('#txtDate').datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: ' mm/yy',

                onClose: function () {
                    var iMonth = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                    var iYear = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                    $(this).datepicker('setDate', new Date(iYear, iMonth, 1));
                },

                beforeShow: function () {
                    if ((selDate = $(this).val()).length > 0) {
                        iYear = selDate.substring(selDate.length - 4, selDate.length);
                        iMonth = jQuery.inArray(selDate.substring(0, selDate.length - 5), $(this).datepicker('option', 'monthNames'));
                        $(this).datepicker('option', 'defaultDate', new Date(iYear, iMonth, 1));
                        $(this).datepicker('setDate', new Date(iYear, iMonth, 1));
                    }
                }
            });
        });

        $('#Expiration').inputmask("99/99");
        $('#Expiration').inputmask({ removeMaskOnSubmit: true });

        $('form').card({
            container: '.card-wrapper',
            width: 280,

            formSelectors: {
                nameInput: 'input[name="first-name"], input[name="last-name"]'
            }
        });
    </script>
}








