﻿@using TownSend
@model TownSend.Web.Models.Members.RegisterMemberViewModel
@{
    Layout = "_HubOneLayoutBeforeLogin";
    ViewData["Title"] = "Member Register";
}

@section Styles {
    <link rel="stylesheet" href="~/Townsend/css/pages/Member/Invitation/InvitationSteps.css" />

    <style>

        input:-moz-read-only { /* For Firefox */
            outline: 0 none;
            pointer-events: none;
        }

        input:read-only {
            outline: 0 none;
            pointer-events: none;
        }

        .card {
            border: 1px solid rgba(0, 0, 0, 0.125) !important;
        }

        .card-header {
            background-image: none;
            min-height: 110px;
        }
    </style>
}
@*<div class="row">
        <div class="col-sm-12 d-flex justify-content-center align-items-center">
            <h1 id="title">Your Account Information</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <ul class="stepper">
                <li class="active">Step 1</li>
                <li id="listep2">Step 2</li>
                <li id="listep3">Step 3</li>
                <li id="listep4">Step 4</li>
            </ul>
        </div>
    </div>*@

<div class="content stepper">

    <div class="row">
        <div class="col-sm-12 d-flex justify-content-center align-items-center">
            <h1 id="title">Select Your Payment Plan</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <ul class="stepper">
                <li class="active">Step 1</li>
                <li class="active">Step 2</li>
                <li class="active">Step 3</li>
                <li id="listep4">Step 4</li>
            </ul>
        </div>
    </div>
    <form method="post">

        @*@if (Model.IsUserAdmin)
            {*@
        @*<div class="row pb-3">
                <div class="col-lg-4"></div>
                <div class="col-lg-4 text-center">
                    <button type="submit" name="PaymentTerm" class="btn btn-lg btn-secondary">Admin: Manual Payment Entry</button>
                </div>
                <div class="col-lg-4"></div>
            </div>*@
        @*}*@


        <div class="w-100 d-lg-flex pb-2 pl-3 pr-3">
            <div class="w-100 d-lg-flex">
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div id="validation-summary" class="text-danger" style="display: none">
                    <ul></ul>
                </div>


                @*@if (Model.Product.ProductCategory == HubOneProductCategory.COACH_Coaching)
                    {*@
                @*<div class="col-lg-2"></div>
                    <div class="col-md-12 col-lg-4 mb-md-4 mb-lg-0 d-flex">
                        <div class="card term flex-fill">
                            <div class="card-header justify-content-center">
                                <div><h2 class="card-title">Today</h2></div>
                                <div>No Future Payments</div>
                            </div>
                            <div class="card-body d-flex flex-column">

                                <div class="term-details text-muted d-flex flex-column flex-fill">
                                    <div class="d-flex flex-column flex-fill justify-content-center">
                                        @if (Model.LumpSumPricing.Discounts.Contains(HubOneType.DiscountType.Invite))
                                        {
                                            <div class="d-flex flex-row justify-content-center">
                                                With your invitation discount.
                                            </div>
                                        }
                                        @if (Model.LumpSumPricing.Discounts.Contains(HubOneType.DiscountType.Scholarship))
                                        {
                                            <div class="d-flex flex-row justify-content-center">
                                                With your scholarship.
                                            </div>
                                        }
                                        <div class="d-flex flex-row justify-content-center">
                                            <p class="card-text text-muted text-center">Pay  today.</p>
                                        </div>
                                    </div>
                                </div>
                                <div><hr /></div>

                                <div class="term-total text-muted">
                                    <div class="d-flex flex-row">
                                        <div class="flex-grow-1">Membership Total</div><div class="flex-grow-0"></div>
                                    </div>
                                </div>

                                <div class="term-button mt-4">
                                    <button type="submit" class="btn btn-lg btn-secondary" name="PaymentTerm">Select</button>
                                </div>
                            </div>
                        </div>
                    </div>*@

                @*<div class="col-md-12 col-lg-4 mb-md-4 mb-lg-0 d-flex">
                        <div class="card term flex-fill">
                            <div class="card-header justify-content-center">
                                <div><h2 class="card-title">Someone Else Is Paying For Me</h2></div>
                            </div>
                            <div class="card-body d-flex flex-column">

                                <div class="term-details text-muted d-flex flex-column flex-fill">
                                    <div class="d-flex flex-column flex-fill">
                                        <div class="d-flex flex-row">
                                            <div class="flex-grow-1">You will receive instructions on the following screen after selecting this option.</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="term-button mt-4">
                                    <button type="submit" class="btn btn-lg btn-secondary" name="PaymentTerm" >Select</button>
                                </div>
                            </div>
                        </div>
                    </div>*@
                @*<div class="col-lg-2"></div>*@
                <div class="col-md-12 col-lg-3 mb-md-4 mb-lg-0 d-flex">
                    <div class="card term flex-fill" style="border: 1px solid rgba(0, 0, 0, 0.125);">
                        <div class="card-header">
                            <div><h2 class="card-title">Deposit</h2></div>
                            <div>+</div>
                            <div>Equal Monthly Payments</div>
                        </div>
                        <div class="card-body d-flex flex-column justify-content-between">

                            <div class="d-flex flex-column flex-fill">
                                <div class="term-details text-muted d-flex flex-column justify-content-center">
                                    <div class="d-flex flex-row">
                                        <div class="flex-grow-1">Team Price</div><div class="flex-grow-0"></div>
                                    </div>

                                    <div class="d-flex flex-row">
                                        <div class="flex-grow-1">Discount</div><div class="flex-grow-0">-</div>
                                    </div>
                                    <div class="d-flex flex-row">
                                        <div class="flex-grow-1">Scholarship</div><div class="flex-grow-0">- </div>
                                    </div>
                                    <div style="height: 20.4px"></div>

                                    <div style="height: 20.4px"></div>

                                    <div>
                                        <hr />
                                    </div>
                                    <div>
                                        <div class="d-flex flex-row pr-3 pl-3">
                                            <div class="flex-grow-1">Deposit (non refundable)</div><div class="flex-grow-0"></div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="d-flex flex-row pr-3 pl-3">
                                            <div class="flex-grow-1"> Equal Monthly Payments of</div><div class="flex-grow-0"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div><hr /></div>

                            <div class="d-flex flex-row align-items-end">
                                <p class="card-text text-muted flex-fill text-black-50" style="font-weight: bold;">Total Price: </p>
                            </div>

                            <div class="term-button mt-4">
                                <button type="submit" class="btn btn-lg btn-secondary" name="PaymentTerm">Select</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-lg-3 mb-md-4 mb-lg-0 d-flex">
                    <div class="card term flex-fill">
                        <div class="card-header">
                            <div><h2 class="card-title">Pay in Full</h2></div>
                        </div>
                        <div class="card-body d-flex flex-column justify-content-between">

                            <div class="term-details text-muted d-flex flex-column flex-fill">
                                <div class="d-flex flex-column flex-fill">
                                    <div class="d-flex flex-row">
                                        <div class="flex-grow-1">Team Price</div><div class="flex-grow-0"></div>
                                    </div>
                                    <div class="d-flex flex-row">
                                        <div class="flex-grow-1">Discount</div><div class="flex-grow-0">-</div>
                                    </div>

                                    <div class="d-flex flex-row">
                                        <div class="flex-grow-1">Scholarship</div><div class="flex-grow-0">- </div>
                                    </div>
                                    <div class="d-flex flex-row">
                                        <div class="flex-grow-1">3% Pay-in-Full Bonus</div><div class="flex-grow-0">- </div>
                                    </div>
                                </div>
                            </div>
                            <div><hr /></div>

                            <div class="d-flex flex-row align-items-end">
                                <p class="card-text text-muted flex-fill text-black-50" style="font-weight: bold;">Total Price: </p>
                            </div>

                            <div class="term-button mt-4">
                                <button type="submit" class="btn btn-lg btn-secondary" name="PaymentTerm">Select</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-lg-3 mb-md-4 mb-lg-0 d-flex">
                    <div class="card term flex-fill">
                        <div class="card-header">
                            <div><h2 class="card-title">Someone Else Is Paying For Me</h2></div>
                        </div>
                        <div class="card-body d-flex flex-column">

                            <div class="term-details text-muted d-flex flex-column flex-fill">
                                <div class="d-flex flex-column flex-fill justify-content-center">
                                    <div class="d-flex flex-row">
                                        <div class="flex-grow-1">Team Price</div><div class="flex-grow-0"></div>
                                    </div>
                                    <div class="d-flex flex-row">
                                        <div class="flex-grow-1">Discount</div><div class="flex-grow-0">- </div>
                                    </div>

                                    <div class="d-flex flex-row">
                                        <div class="flex-grow-1">Scholarship</div><div class="flex-grow-0">- </div>
                                    </div>
                                    <div style="height: 20.4px"></div>

                                    <div style="height: 20.4px"></div>

                                    <div><hr /></div>
                                </div>
                                <div class="d-flex flex-column">
                                    <div class="d-flex flex-row">
                                        <div class="flex-grow-1">You will receive an email with a link to the payment form. Please send the link to the person/party that will be paying for you.</div>
                                    </div>
                                </div>
                            </div>
                            <div><hr /></div>

                            <div class="d-flex flex-row flex-fill align-items-end">
                                <p class="card-text text-muted flex-fill text-black-50" style="font-weight: bold;">Total Price: </p>
                            </div>

                            <div class="term-button mt-4">
                                <button type="submit" class="btn btn-lg btn-secondary" name="PaymentTerm">Select</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-3 mb-md-4 mb-lg-0 d-flex">
                    <div class="card term flex-fill">
                        <div class="card-header">
                            <div><h2 class="card-title">Custom</h2></div>
                        </div>
                        <div class="card-body d-flex flex-column justify-content-between">

                            <div class="d-flex flex-column flex-fill">
                                <div class="term-details text-muted d-flex flex-column justify-content-center">
                                    <div class="d-flex flex-row">
                                        <div class="flex-grow-1">Team Price</div><div class="flex-grow-0"></div>
                                    </div>

                                    <div class="d-flex flex-row">
                                        <div class="flex-grow-1">Discount</div><div class="flex-grow-0">-</div>
                                    </div>
                                    <div class="d-flex flex-row">
                                        <div class="flex-grow-1">Scholarship</div><div class="flex-grow-0">- </div>
                                    </div>
                                    <div style="height: 20.4px"></div>

                                    <div style="height: 20.4px"></div>

                                    <div>
                                        <hr />
                                    </div>
                                    <div>
                                        <div class="d-flex flex-row pr-3 pl-3">
                                            <div class="flex-grow-1">Deposit (non refundable)</div><div class="flex-grow-0"></div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="d-flex flex-row pr-3 pl-3">
                                            <div class="flex-grow-1"> Equal Monthly Payments of</div><div class="flex-grow-0"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div><hr /></div>

                            <div class="d-flex flex-row align-items-end">
                                <p class="card-text text-muted flex-fill text-black-50" style="font-weight: bold;">Total Price: </p>
                            </div>

                            <div class="term-button mt-4">
                                <button type="submit" class="btn btn-lg btn-secondary" name="PaymentTerm">Select</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-1">
        </div>
    </form>
</div>

@section Scripts  {
    <script type="text/javascript">
        $(document).ready(function () {
            localStorage.removeItem('inviteProps');
        });
    </script>
}