﻿@using TownSend
@model TownSend.Web.Models.Members.RegisterMemberViewModel
@{
    Layout = "_HubOneLayoutBeforeLogin";
    ViewData["Title"] = "Member Register";
}


@section Styles {
    <link rel="stylesheet" href="~/Townsend/css/pages/Member/Invitation/InvitationSteps.css" />

    <style>

        input:-moz-read-only { /* For Firefox */
            outline: 0 none;
            pointer-events: none;
        }

        input:read-only {
            outline: 0 none;
            pointer-events: none;
        }
    </style>
}


<div class="content stepper">

    <div class="row">
        <div class="col-sm-12 d-flex justify-content-center align-items-center">
            <h1 id="title">Your Account Information</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <ul class="stepper">
                <li class="active">Step 1</li>
                <li id="listep2">Step 2</li>
                <li id="listep3">Step 3</li>
                <li id="listep4">Step 4</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div id="new-user-step-1" class="row">
                <div class="offset-1 col-10">
                    @if (Model != null && Model.ErrorMessage != null && Model.ErrorMessage.Any())
                    {
                        foreach (var message in Model.ErrorMessage)
                        {
                            <div class="alert alert-danger">
                                @message
                            </div>
                        }
                    }
                    @using (Html.BeginForm("MemberRegisterStep1", "Members", FormMethod.Post, new { Id = "MemeberRegisterForm", @Class = "form-validation" }))
                    {
                        @Html.AntiForgeryToken()

                        @Html.HiddenFor(x=>x.MemberRegister.Id)
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div id="validation-summary" class="text-danger" style="display: none">
                            <ul></ul>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-6">
                                <label class="custom-form-label" for="FirstName">First Name<span class="astrisk">&nbsp;*</span></label>
                                @Html.TextBoxFor(x => x.MemberRegister.FirstName, new { @class = "form-control info text-box single-line", required = true, @tabindex = "2" })
                                <span asp-validation-for="@Model.MemberRegister.FirstName" class="text-danger"></span>

                            </div>
                            <div class="col-md-6">
                                <label class="custom-form-label" for="LastName">Last Name<span class="astrisk">&nbsp;*</span></label>
                                @Html.TextBoxFor(x => x.MemberRegister.LastName, new { @class = "form-control info text-box single-line", required = true, @tabindex = "2" })
                                <span asp-validation-for="@Model.MemberRegister.LastName" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-6">
                                <label class="custom-form-label" for="Email">Email<span class="astrisk">&nbsp;*</span></label>

                                @Html.TextBoxFor(x => x.MemberRegister.Email, new { @class = "form-control info text-box single-line", @readonly = "readonly", @tabindex = "2" })
                                <span asp-validation-for="@Model.MemberRegister.Email" class="text-danger"></span>
                            </div>
                            @*//changes*@
                            <div class="col-md-6">

                                <label class="custom-form-label" for="PhoneNumber" daa-format="">Phone Number<span class="astrisk">&nbsp;*</span></label>
                                @Html.TextBoxFor(x => x.MemberRegister.PhoneNumber, new { @class = "form-control info text-box single-line", required = true, @tabindex = "2", id = "PhoneNumber" })
                                <span asp-validation-for="@Model.MemberRegister.PhoneNumber" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-6">
                                <label class="custom-form-label" for="AddressLine1">Address Line 1<span class="astrisk">&nbsp;*</span></label>
                                @Html.TextBoxFor(x => x.MemberRegister.AddressLine1, new { @class = "form-control info text-box single-line", required = true, @tabindex = "2" })
                                <span asp-validation-for="@Model.MemberRegister.AddressLine1" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <label class="custom-form-label" for="AddressLine2">Address Line 2</label>
                                @Html.TextBoxFor(x => x.MemberRegister.AddressLine2, new { @class = "form-control info text-box single-line", @tabindex = "2" })
                                <span asp-validation-for="@Model.MemberRegister.AddressLine2" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-4">
                                <label class="custom-form-label" for="City">City<span class="astrisk">&nbsp;*</span></label>
                                @Html.TextBoxFor(x => x.MemberRegister.City, new { @class = "form-control info text-box single-line", required = true, @tabindex = "2" })
                                <span asp-validation-for="@Model.MemberRegister.City" class="text-danger"></span>
                            </div>

                            @* DropDown For State Task-1 *@
                            <div class="col-md-4">
                                <label class="custom-form-label" for="State">State<span class="astrisk">&nbsp;*</span></label>
                                @*<select name="State" class="form-control"
                                            asp-items="@(new SelectList(@ViewBag.ListOfState, "StateName"))" id="State" required>
                                        <option value="">Select State</option>
                                    </select>*@
                                @Html.DropDownListFor(x => x.MemberRegister.State, new SelectList(Model.StateList.Items.ToList(), "Id", "StateName"), "- Select State -", new { @class = "form-control text-box info single-line", @tabindex = "8" })
                                <span asp-validation-for="@Model.MemberRegister.State" class="text-danger"></span>
                                @* DropDown For State Task-1 *@
                                @* ZipCodeValidation Task2 *@
                            </div>
                            <div class="col-md-4">
                                <label class="custom-form-label" for="ZipCode">Zip Code<span class="astrisk">&nbsp;*</span></label>
                                @Html.TextBoxFor(x => x.MemberRegister.ZipCode, new { @class = "form-control info text-box single-line", required = true, @tabindex = "2" , @minlength = "5" , @maxlength = "5" })
                                <span asp-validation-for="@Model.MemberRegister.ZipCode" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="mt-4">
                            <fieldset class="form-group border p-2">
                                <legend class="w-auto">Choose Your Password</legend>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="custom-form-label" for="Password">Password<span class="astrisk">&nbsp;*</span></label>
                                        @Html.PasswordFor(x => x.MemberRegister.Password, new { @class = "form-control info text-box single-line", required = true, @tabindex = "2" })
                                        <span asp-validation-for="@Model.MemberRegister.Password" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="custom-form-label" for="ConfirmPassword">Confirm Password<span class="astrisk">&nbsp;*</span></label>
                                        @Html.PasswordFor(x => x.MemberRegister.ConfirmPassword, new { @class = "form-control info text-box single-line", required = true, @tabindex = "2" })
                                        <span asp-validation-for="@Model.MemberRegister.ConfirmPassword" class="text-danger"></span>
                                    </div>
                                </div>
                                <span style="font-size: 0.7em">Password must use 8 or more characters, with a mix of letters, numbers and symbols. There must be at least 1 capital letter.</span>
                            </fieldset>
                        </div>
                        <div class="form-group">
                            <div style="margin: 0 auto;display: table" class="g-recaptcha" data-sitekey="@(Constant.siteKey)"></div>
                            @*<div style="margin: 0 auto;display: table" class="g-recaptcha form-group" data-sitekey="@Model.CaptchaSiteKey"></div>*@
                        </div>

                        <div class="row button-row">
                            <div class="col-12">
                                <button type="submit" class="btn btn-secondary btn-lg text-uppercase" id="SubmitForm" >Next Step <span id="spinner" style="display: none"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i></span></button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/view-resources/Views/Members/_MemberRegister.js" asp-append-version="true"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    @*reCaptcha*@
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>z
    <script>
        $("#MemeberRegisterForm").submit(function (event) {

            var recaptcha = $("#g-recaptcha-response").val();
            if (recaptcha === "") {
                event.preventDefault();
                abp.message.error(
                    'Please check the recaptcha and try again.',
                    'Invalid Recaptcha',
                    function (isConfirmed) {
                        if (isConfirmed) {
                        }
                    }
                );
            }
        })
        //$("#SubmitForm").click(function (e) {
        //    var memberId = $(this).attr("data-member-id");

        //    e.preventDefault();
        //    abp.ajax({
        //        url: abp.appPath + 'Members/MemberRegisterStep2?memberId=' + memberId,
        //        type: 'POST',
        //        dataType: 'html',
        //        success: function (content) {
        //            $('#MemberRegisterStep2 div.modal-content').html(content);
        //        },
        //        error: function (e) { }
        //    });
        //});
    </script>

    (

}