﻿@using TownSend
@model TownSend.Web.Models.Members.RegisterMemberViewModel
@{
    ViewData["Title"] = "MemberInvitationComplete";
    Layout = "~/Views/Account/_LoginLayout.cshtml";
}

@section Styles {
    <style>
        #hubone-page-wrapper {
            background-image: url(/images/Background-Image.png);
        }

        footer {
            background-color: #fff !important;
        }

        .container {
            height: 100%;
            display: flex;
            align-items: center;
        }

        .content {
            padding: 3rem;
            height: 60%
        }

        #go-to-buton {
            width: 17rem;
        }
    </style>
}

<div class="content d-flex flex-column justify-content-between text-align-center">
    <div>
        <img alt="myTLG-logo" src="~/images/myTLG-Logo-Color-High-Res.png" width="300" />
    </div>

    <div>
        <h3>Thank you for successfully joining The Tlg My Team</h3>
    </div>

    <div>
        You will receive an email confirmation with your payment receipt and information on how to login to myTLG.<br />
        If you have any questions about the portal, please contact <a href="mailto:support@hubonesystems.com">support@hubonesystems.com</a>.
    </div>

    <div>
        <a id="go-to-buton" asp-controller="Account" asp-action="Login" role="button" class="btn btn-lg btn-secondary">Go to myTLG</a>
    </div>
    <p class="text-muted font-italic" style="margin-bottom: 5em;">
        *If you are a 3<sup>rd</sup> party payer and require a receipt of payment, please request a copy from the Member you are supporting, or from accounting at <a href="tel:+18886974046">1-888-697-4046</a> (9am to 5pm EST).
    </p>
</div>
