﻿@using TownSend
@model TownSend.Web.Models.Members.RegisterMemberViewModel
@{
    Layout = "_HubOneLayoutBeforeLogin";
    ViewData["Title"] = "Member Register";
}


@section Styles {
    <link rel="stylesheet" href="~/Townsend/css/pages/Member/Invitation/InvitationSteps.css" />

    <style>

        input:-moz-read-only { /* For Firefox */
            outline: 0 none;
            pointer-events: none;
        }

        input:read-only {
            outline: 0 none;
            pointer-events: none;
        }
    </style>
}


<div class="content stepper">

    <div class="row">
        <div class="col-sm-12 d-flex justify-content-center align-items-center">
            <h1 id="title">Your Account Information</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <ul class="stepper">
                <li class="active">Step 1</li>
                <li class="active">Step 2</li>
                <li id="listep3">Step 3</li>
                <li id="listep4">Step 4</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-12">

            <div id="new-user-step-2" class="row" style="display:none">
                <div class="offset-1 col-10">
                    <form name="MemberAgreement" role="form" novalidate class="form-validation">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="Id" value="@Model.MemberRegister.Id" />
                        <div class="alert alert-warning">
                            <div class="form-check">
                                <label class="custom-form-label form-check-label"><input class="form-check-input" id="ConfirmAgreement" name="ConfirmAgreement" type="checkbox" value="true">I have fully read and understand this Agreement and voluntarily agree the same, and that no oral representations, statements, or inducements apart from the foregoing written agreement have been made to you.</label>
                                <span class="field-validation-valid text-danger">You must confirm the agreement.</span>
                            </div>
                        </div>

                        <div class="d-flex flex-row-reverse">
                            <button id="AgreeBtn" class="btn btn-lg btn-secondary" disabled="disabled">Agree <span id="spinner" style="display: none"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i></span></button>
                        </div>
                    </form>
                </div>
            </div>



        </div>
    </div>
</div>