﻿@using TownSend.Web.Models.Common.Modals
@model TownSend.Web.Models.Roles.EditRoleModalViewModel
@{
    Layout = null;
}
    <div class="modal-header">
        <h5 class="modal-title">EDIT ROLE</h5>
        <button type="button" class="close" data-dismiss="modal" aria-labelledby="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
<div class="modal-body">
    <div id="myAccountForm">
        @using (Html.BeginForm("UpdateRole", "Roles", FormMethod.Post))
        {
            <input type="hidden" asp-for="Role.Id" value="@Model.Role.Id" />
            <input type="hidden" asp-for="Role.IsStatic" value="@(Model.Role.IsStatic.ToString())" />

            <div class="row clearfix">
                <div class="col-sm-12">
                    <div class="form-group form-float">
                        <div class="form-line">
                            <label for="rolename" class="custom-form-label">@L("RoleName")</label>
                            @Html.TextBoxFor(x => x.Role.Name, new { @class = "validate form-control" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="row clearfix">
                <div class="col-sm-12">
                    <div class="form-group form-float">
                        <div class="form-line">
                            <label for="displayname" class="custom-form-label">@L("DisplayName")</label>
                            @Html.TextBoxFor(x => x.Role.DisplayName, new { @class = "validate form-control" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group form-float">
                        <div class="form-line">
                            <label for="role-description" class="custom-form-label">@L("RoleDescription")</label>
                            @Html.TextAreaFor(x => x.Role.Description, new { @class = "validate form-control" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="row clearfix">
                <div class="col-sm-12">
                    <label class="custom-form-label">@L("Permissions")</label>
                    <div class="row">
                        @foreach (var permission in Model.Permissions)
                        {
                            <div class="col-sm-6">
                                <input type="checkbox" RepeatColumns="2" RepeatLayout="Table" name="GrantedPermissionNames" RepeatDirection="Vertical" style="height: 15px;width: 15px" value="@permission.Name" class="filled-in" id="@string.Format("permission{0}",permission.Name)" @(Model.HasPermission(permission) ? "checked" : "") @(Model.Role.IsStatic ? "disabled" : "") />
                                <label RepeatColumns="2" RepeatLayout="Table" RepeatDirection="Vertical" for="@string.Format("permission{0}",permission.Name)">@permission.DisplayName</label>
                            </div>
                        }

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button asp-controller="Roles" asp-action="Index" class="btn btn-secondary float-right h-100" onclick="toggleConfirm(this)" style="margin-left: 1em;" id="cancel-edit-info">CANCEL</button>
                <button type="submit" class="btn btn-primary float-right h-100"><i class='fas fa-save'></i> SAVE</button>
            </div>
            <div id="append-hdn-value" style="display:none"></div>
        }
    </div>
</div>



