﻿@using TownSend.Web.Startup
@model TownSend.Web.Models.Roles.RoleListViewModel
@{
    ViewBag.CurrentPageName = PageNames.Roles; // The menu item will be active for this page.
}
@section Scripts
{
    <environment names="Development">
        <script src="~/view-resources/Views/Roles/Index.js" asp-append-version="false"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/view-resources/Views/Roles/Index.min.js" asp-append-version="true"></script>
    </environment>
        <script src="~/view-resources/Views/Roles/_EditRoleModal.js" asp-append-version="true"></script>
}
<div style="height: 100%">

    <div class="content">
        <div class="row padding list-header">
            <div class="col-4">
                <h2>Roles</h2>
            </div>
            <div class="col-2 offset-md-6">
                <button class="btn btn-secondary float-right text-uppercase icon-space" data-toggle="modal" data-target="#RoleCreateModal"><i class="fas fa-plus-circle"></i>ADD ROLE</button>
            </div>
        </div>
        <hr />
        <div class="seperator"></div>

        <div class="row padding">
            <div id="RoleList" class="col-sm-12 view-loaded" data-form="#RoleListForm" data-is-datatable="true">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-hover dataTableClass" id="">
                            <thead class="table-header-dark">
                                <tr>
                                    <th>Role Name</th>
                                    <th>Display Name</th>
                                    <th class="hidden-col no-sort"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var role in Model.Roles)
                                {
                                    <tr>
                                        <td>@role.Name</td>
                                        <td>@role.DisplayName</td>
                                        <td>
                                            <a href="#" class="waves-effect waves-block edit-role" data-role-id="@role.Id" data-toggle="modal" data-target="#RoleEditModal"><i class="fas fa-eye"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="RoleCreateModal" tabindex="-1" role="dialog" aria-labelledby="RoleCreateModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">ADD A ROLE</h5>
                <button type="button" class="close" data-dismiss="modal" aria-labelledby="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form name="roleCreateForm" role="form" novalidate class="form-validation">
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <label for="rolename" class="custom-form-label">@L("RoleName")</label>
                                    <input id="rolename" type="text" name="Name" required maxlength="32" minlength="2" class="validate form-control">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <label for="displayname" class="custom-form-label">@L("DisplayName")</label>
                                    <input id="displayname" type="text" name="DisplayName" required maxlength="32" minlength="2" class="validate form-control">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <label for="role-description" class="custom-form-label">@L("RoleDescription")</label>
                                    <textarea id="role-description" name="Description" class="validate form-control"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <label  class="custom-form-label">@L("Permissions")</label>
                            <div class="row">
                                @foreach (var permission in Model.Permissions)
                                {
                                    <div class="col-sm-6">
                                        <input type="checkbox" name="permission" value="@permission.Name"  style="height: 15px;width: 15px" class="filled-in" id="permission-@permission.Name" checked="checked" />
                                        <label for="permission-@permission.Name">@permission.DisplayName</label>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary float-right h-100">ADD</button>
                        <button type="button" asp-controller="Roles" asp-action="Index" class="btn btn-secondary float-right h-100" data-dismiss="modal">CANCEL</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="RoleEditModal" tabindex="-1" role="dialog" aria-labelledby="RoleEditModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>
