﻿@using  TownSend.Scholarships
@using System.Globalization;
@using TownSend.HtmlExtension;
@model TownSend.Web.Models.Scholarships.ScholarshipDetailsViewModel

<script>

    var url = '@Url.Action("UpdateScholarshipStatus","Scholarship")';
    var scholarshipId = '@Model.ScholarshipDetails.Questionnaire.ScholarshipId';
    function confirmApprove(status) {
    confirmScholarshipApprove(function()
        {
            updateStatus(scholarshipId, status)
        });
    }

    function confirmDenied(status) {
    confirmScholarshipDenied(function()
        {
            updateStatus(scholarshipId, status)
        });
    }

    function confirmCancel(status) {
    confirmScholarshipCancel(function()
        {
            updateStatus(scholarshipId, status)
        });
    }

    function updateStatus(scholarshipId, status) {
        abp.ajax({
                url: url+'?scholarshipId='+scholarshipId+'&status='+status,
        }).done(function (data) {
                    location.reload(true);
            });
    }

</script>
<script>
                                            function toggleConfirminfo(button) {
                                                let buttons = $(button).parent().children("button");
                                                var form = $(button).parents('form');
                                                if ($(button).is(buttons.first())) {
                                                    $(button).hide();
                                                    $(buttons[1]).show();
                                                    $('#cancel-edit-info').show();
                                                    //$(".info").find('input[type=text]:first').focus();
                                                    $(form).find(".info").find('input[type=text]:first').focus();
                                                }
                                                else if ($(button).is(buttons.last())) {
                                                    $(buttons[1]).hide();
                                                    $(buttons.last()).hide();
                                                    $(buttons.first()).show();
                                                    //TempData["scholarshiptab"]= "ScholarshipInfo";
                                                }

                                                $(form).find(".info").prop("disabled", function (i, v) { return !v; });
                                                $(form).find(".dropdown-toggle").toggleClass("disabled");
                                                //$(".info").prop("disabled", function (i, v) { return !v; });
                                                //$(".dropdown-toggle").toggleClass("disabled");
                                            }
</script>
@{
    var scholarshipinfoactiveclass = "";

    if (TempData["scholarshiptab"] != null && TempData["scholarshiptab"].ToString() == "ScholarshipInfo")
    {
        scholarshipinfoactiveclass = "show active";
    }
    else if (TempData["scholarshiptab"] != null && TempData["scholarshiptab"].ToString() == "ScholarshipQuestionnaireResult")
    {
        scholarshipinfoactiveclass = "";
    }
    else
    {
        scholarshipinfoactiveclass = "show active";
    }

}
<div class="tab-pane @scholarshipinfoactiveclass" id="scholarship-info" role="tabpanel">
    @using (Html.BeginForm("UpdateScholarshipInfo", "Scholarship", FormMethod.Post, new { Id = "scholarshipinfo" }))
    {
        @Html.HiddenFor(x => x.ScholarshipDetails.Questionnaire.ScholarshipId)
        <div class="row">
            <div class="col">
                <div class="accordion" id="scholarship-info-accordion">
                    <div id="ScholarshipInfo">
                        <div class="content-container">
                            <div class="card">

                                <div class="card-header">
                                    <h2>Scholarship Info</h2>
                                    <div class="profile-action-btns-container">


                                        <button type="button" class="btn btn-secondary float-right h-100 icon-space" style="padding-left:10px;padding-right:10px;margin-right:15px" onclick="toggleConfirminfo(this)" id="edit-info"><i class="fas fa-pen"></i> EDIT INFO</button>
                                        <button type="submit" style="display: none;margin-right: 1em;" class="btn btn-success float-right h-100 EditBtn" id="EditBasicInfo"><i class='fas fa-save'></i> SAVE</button>
                                        <a  href="ScholarshipInfoRedirctDetail?ScholarshipID=@Model.ScholarshipDetails.Questionnaire.ScholarshipId" style="display: none;margin-right: 1em;" class="btn btn-secondary float-right h-100"  id="cancel-edit-info">CANCEL</a>
                                        @if (Model.ScholarshipDetails.ScholarshipRegister.ScholarshipStatus == ScholarshipStatusEnum.QuestionnaireSent)
                                        {
                                            @Html.ActionLink("RESEND", "ResendQuestionnaire", "Scholarship", new { scholarshipId = Model.ScholarshipDetails.Questionnaire.ScholarshipId }, new { @class = "btn btn-light float-right h-100", @style = "margin-right: 1em;" })
                                        }
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="col-12">
                                        <div class="row" style="padding-bottom:20px">
                                            <div class="col-4">
                                                <label class="custom-form-label">Referrer Name</label>
                                                @Html.TextBoxFor(x => x.ScholarshipDetails.ReferrerName, new { @class = "form-control text-box single-line", @disabled = true })
                                            </div>
                                        </div>

                                        <div class="row" style="padding-bottom:20px">
                                            <div class="col-12">
                                                <h5>Member Info</h5>
                                            </div>
                                        </div>

                                        <div class="row" style="padding-bottom:20px">

                                            <div class="col-4">
                                                <label class="custom-form-label">First Name<span class="astrisk">&nbsp;*</span></label>
                                                @Html.TextBoxFor(x => x.ScholarshipDetails.MemberFirstName, new { @class = "form-control text-box single-line info", @tabindex = "1", @disabled = true })
                                                <span asp-validation-for="@Model.ScholarshipDetails.MemberFirstName" class="text-danger"></span>
                                            </div>

                                            <div class="col-4">
                                                <label class="custom-form-label">Last Name<span class="astrisk">&nbsp;*</span></label>
                                                @Html.TextBoxFor(x => x.ScholarshipDetails.MemberLastName, new { @class = "form-control text-box single-line info", @tabindex = "2", @disabled = true })
                                                <span asp-validation-for="@Model.ScholarshipDetails.MemberLastName" class="text-danger"></span>
                                            </div>

                                            <div class="col-4">
                                                <label class="custom-form-label">Phone Number</label>
                                                @Html.TextBoxFor(x => x.ScholarshipDetails.MemberPhoneNumber, new { @class = "form-control text-box single-line info", @tabindex = "3", @disabled = true })
                                                <span asp-validation-for="@Model.ScholarshipDetails.MemberPhoneNumber" class="text-danger"></span>
                                            </div>

                                        </div>

                                        <div class="row" style="padding-bottom:20px">

                                            <div class="col-4">
                                                <label class="custom-form-label">Email</label>
                                                @Html.TextBoxFor(x => x.ScholarshipDetails.MemberEmail, new { @class = "form-control text-box single-line", @disabled = true })
                                            </div>

                                            <div class="col-4">

                                            </div>

                                            <div class="col-4">

                                            </div>

                                        </div>

                                        <div class="row" style="padding-bottom:20px">
                                            <div class="col-12">
                                                <h5>Scholarship Details</h5>
                                            </div>
                                        </div>

                                        <div class="row" style="padding-bottom:20px">

                                            <div class="col-4">
                                                <label class="custom-form-label">Sent on</label>
                                                @Html.TextBoxFor(x => x.ScholarshipDetails.ScholarshipRegister.StrCreationTime, new { @class = "form-control text-box single-line", @disabled = true })
                                            </div>

                                            <div class="col-4">
                                                <label class="custom-form-label">Completed on</label>
                                                @Html.TextBoxFor(x => x.ScholarshipDetails.ScholarshipRegister.StrCompletionDate, new { @class = "form-control text-box single-line", @disabled = true })
                                            </div>

                                            <div class="col-4">
                                                <label class="custom-form-label">Decided on</label>
                                                @Html.TextBoxFor(x => x.ScholarshipDetails.ScholarshipRegister.StrApprovedOn, new { @class = "form-control text-box single-line", @disabled = true })
                                            </div>
                                        </div>

                                        <div class="row" style="padding-bottom:20px">
                                            <div class="col-4">
                                                <label class="custom-form-label">Team</label>
                                                @Html.TextBoxFor(x => x.ScholarshipDetails.TeamName, new { @class = "form-control text-box single-line", @disabled = true })
                                            </div>

                                            <div class="col-4">
                                                <label class="custom-form-label">Scholarship amount<span class="astrisk">&nbsp;*</span></label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">$</span>
                                                    </div>
                                                    @Html.TextBoxFor(x => x.ScholarshipDetails.ScholarshipRegister.ScholarshipAmount, new { @class = "form-control text-box single-line info", @tabindex = "4", @disabled = true })
                                                    <span asp-validation-for="@Model.ScholarshipDetails.ScholarshipRegister.ScholarshipAmount" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-4">
                                                <label class="custom-form-label">Status</label>
                                                @Html.TextBoxFor(model => Model.ScholarshipDetails.ScholarshipStatus, new { @class = "form-control text-box single-line", @disabled = true })
                                            </div>

                                        </div>

                                    </div>
                                </div>
                                @if (Model.ScholarshipDetails.ScholarshipRegister.ScholarshipStatus == ScholarshipStatusEnum.PendingApproval)
                                {
                                    <div class="card-header">
                                        <h2>Update status</h2>
                                        <div class="profile-action-btns-container">
                                            <a class="btn btn-warning float-right h-100" onclick="return confirmCancel('@((int)ScholarshipStatusEnum.Cancelled)');" style="margin-right: 1em;">CANCEL</a>
                                            <a class="btn btn-danger float-right h-100" onclick="return confirmDenied('@((int)ScholarshipStatusEnum.DeniedSendInvite)');" style="margin-right: 1em;">DENY</a>
                                            <a class="btn btn-success float-right h-100" onclick="return confirmApprove('@((int)ScholarshipStatusEnum.ApprovedSendInvite)');" style="margin-right: 1em;">APPROVE</a>

                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>