﻿@using  TownSend.Scholarships
@using System.Globalization;
@using TownSend.HtmlExtension;
@model TownSend.Web.Models.Scholarships.ScholarshipDetailsViewModel
@{
    var scholarshipquestionnaireresultactiveclass = "";

    if (TempData["scholarshiptab"] != null && TempData["scholarshiptab"].ToString() == "ScholarshipQuestionnaireResult")
    {
        scholarshipquestionnaireresultactiveclass = "show active";
    }
}
<div class="tab-pane @scholarshipquestionnaireresultactiveclass" id="scholarship-questionaire" role="tabpanel">
    @using (Html.BeginForm("UpdateQuestionnaire", "Scholarship", FormMethod.Post, new { Id = "scholarshipquestionnaireresult" }))
    {
        @Html.HiddenFor(x => x.ScholarshipDetails.Questionnaire.ScholarshipId)
        <div class="row">
            <div class="col">
                <div class="accordion" id="scholarship-questionaire-accordion">
                    <div id="ScholarshipQuestionaire">
                        <div class="content-container">
                            <div class="card">

                                <div class="card-header">
                                    <h2>Scholarship Questionnaire Results </h2>
                                    <div class="profile-action-btns-container">
                                        <script>

        function toggleConfirm(button) {
            let buttons = $(button).parent().children("button");
            var form = $(button).parents('form');
            if ($(button).is(buttons.first())) {
                $(button).hide();
                $(buttons[1]).show();
                $(buttons.last()).show();
                $('#cancel-edit-result').show();
                //$(".info").find('input[type=text]:first').focus();
                $(form).find(".info").find('input[type=text]:first').focus();
            }
            else if ($(button).is(buttons.last())) {
                $(buttons[1]).hide();
                $(buttons.last()).hide();
                $(buttons.first()).show();
            }

            $(form).find(".info").prop("disabled", function (i, v) { return !v; });
            $(form).find(".dropdown-toggle").toggleClass("disabled");
            //$(".info").prop("disabled", function (i, v) { return !v; });
            //$(".dropdown-toggle").toggleClass("disabled");
        }
                                        </script>

                                        <button type="button" class="btn btn-secondary float-right h-100 icon-space" style="padding-left:10px;padding-right:10px;margin-right:15px" onclick="toggleConfirm(this)" id="edit-info"><i class="fas fa-pen"></i> EDIT INFO</button>
                                        <button type="submit" style="display: none;margin-right: 1em;" class="btn btn-success float-right h-100 EditBtn" id="EditBasicInfo"><i class='fas fa-save'></i> SAVE</button>
                                        <a href="ScholarshipQuestionnaireRedirctDetail?ScholarshipID=@Model.ScholarshipDetails.Questionnaire.ScholarshipId" style="display: none;margin-right: 1em;" class="btn btn-secondary float-right h-100" id="cancel-edit-result">CANCEL</a>
                                    </div>
                                </div>

                                <div class="card-body">
                                    <div class="col-12">
                                        <div class="row" style="padding-bottom:20px">
                                            <div class="col-12">
                                                <label class="custom-form-label">@Html.LabelFor(model => Model.ScholarshipDetails.Questionnaire.FirstTimeApply)<span class="astrisk">&nbsp;*</span></label>
                                                @Html.DropDownListFor(x => x.ScholarshipDetails.Questionnaire.FirstTimeApply, new SelectList(Model.YesNoList.Items, "Value", "Text"), "- Select -", new { @class = "form-control text-box single-line info", @tabindex = "1", @disabled = true })
                                                <span asp-validation-for="@Model.ScholarshipDetails.Questionnaire.FirstTimeApply" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="row" style="padding-bottom:20px">
                                            <div class="col-12">
                                                <label class="custom-form-label">@Html.LabelFor(model => Model.ScholarshipDetails.Questionnaire.FirstTimeinTLP)<span class="astrisk">&nbsp;*</span></label>
                                                @Html.DropDownListFor(x => x.ScholarshipDetails.Questionnaire.FirstTimeinTLP, new SelectList(Model.YesNoList.Items, "Value", "Text"), "- Select -", new { @class = "form-control text-box single-line info", @tabindex = "2", @disabled = true })
                                                <span asp-validation-for="@Model.ScholarshipDetails.Questionnaire.FirstTimeinTLP" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="row" style="padding-bottom:20px">
                                            <div class="col-12">
                                                <label class="custom-form-label">Please state your understanding of the impact thats TLP will have on your personal and professional growth.<span class="astrisk">&nbsp;*</span></label>
                                                @Html.TextAreaFor(model => Model.ScholarshipDetails.Questionnaire.GrowthDetails, new { @class = "form-control info", onkeyup = "countChar(this,1)", @style = "overflow-y: scroll; height: 300px;", @tabindex = "3", @disabled = true, @maxlength = "10000", @row = "10" })
                                                <span asp-validation-for="@Model.ScholarshipDetails.Questionnaire.GrowthDetails" class="text-danger"></span>
                                                <div class="row">
                                                    <div class="pull-right col offset-8" style="text-align: right;">Remaining characters: <span id="charNum1"></span></div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row" style="padding-bottom:20px">
                                            <div class="col-12">
                                                <label class="custom-form-label">What are three things you hope to achieve this year?<span class="astrisk">&nbsp;*</span></label>
                                                @Html.TextAreaFor(model => Model.ScholarshipDetails.Questionnaire.AchivementsDetails, new { @class = "form-control info", onkeyup = "countChar(this,2)", @style = "overflow-y: scroll; height: 300px;", @tabindex = "4", @disabled = true, @maxlength = "10000", @row = "10" })
                                                <span asp-validation-for="@Model.ScholarshipDetails.Questionnaire.AchivementsDetails" class="text-danger"></span>
                                                <div class="row">
                                                    <div class="pull-right col offset-8" style="text-align: right;">Remaining characters: <span id="charNum2"></span></div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row" style="padding-bottom:20px">
                                            <div class="col-12">
                                                <label class="custom-form-label">The Townsend growth model addresses developing both comptetency and character to accelerate growth. Can you briefly describe your own history of both exceptional and difficult life experiences of growth?<span class="astrisk">&nbsp;*</span></label>
                                                @Html.TextAreaFor(model => Model.ScholarshipDetails.Questionnaire.LifeExperienceDetails, new { @class = "form-control info", onkeyup = "countChar(this,3)", @style = "overflow-y: scroll; height: 300px;", @tabindex = "5", @disabled = true, @maxlength = "10000", @row = "10" })
                                                <span asp-validation-for="@Model.ScholarshipDetails.Questionnaire.LifeExperienceDetails" class="text-danger"></span>
                                                <div class="row">
                                                    <div class="pull-right col offset-8" style="text-align: right;">Remaining characters: <span id="charNum3"></span></div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row" style="padding-bottom:20px">
                                            <div class="col-12">
                                                <label class="custom-form-label">Where do you see yourself in 5 years?<span class="astrisk">&nbsp;*</span></label>
                                                @Html.TextAreaFor(model => Model.ScholarshipDetails.Questionnaire.FutureGoalDetails, new { @class = "form-control info", onkeyup = "countChar(this,4)", @style = "overflow-y: scroll; height: 300px;", @tabindex = "6", @disabled = true, @maxlength = "10000", @row = "10" })
                                                <span asp-validation-for="@Model.ScholarshipDetails.Questionnaire.FutureGoalDetails" class="text-danger"></span>
                                                <div class="row">
                                                    <div class="pull-right col offset-8" style="text-align: right;">Remaining characters: <span id="charNum4"></span></div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }


</div>