﻿@using System.Globalization;
@using TownSend.HtmlExtension
@model TownSend.Web.Models.Scholarships.ScholarshipListViewModel
@section styles{
    <style type="text/css">
        /* Disable browser close icon for IE */
        input[type="search"]::-ms-clear {
            display: none;
            width: 0;
            height: 0;
        }

        input[type="search"]::-ms-reveal {
            display: none;
            width: 0;
            height: 0;
        }
        /* Disable browser close icon for Chrome */
        input[type="search"]::-webkit-search-decoration,
        input[type="search"]::-webkit-search-cancel-button,
        input[type="search"]::-webkit-search-results-button,
        input[type="search"]::-webkit-search-results-decoration {
            display: none;
        }
    </style>
}
@section Scripts{
    <script src="~/view-resources/Views/Scholarships/Index.js"></script>
    <script>
        $(function () {
            $(".calldatepicker").datepicker();
            $(".btn.btn-dark").on("click", function () {
                $(this).parent().prev('input').focus();
            });
            $(".teams, .scholarshipstatus").selectpicker({ noneSelectedText: '' });
        });
    </script>
}
<style>
    #ui-datepicker-div {
        z-index: 100 !important;
    }
</style>
<div class="content">
    <div class="row padding list-header">
        <div class="col-12">
            <h2>Scholarship List</h2>
        </div>
    </div>
    <hr />
    @using (Html.BeginForm("List", "Scholarship", FormMethod.Post, new { Id = "scholarshipList" }))
    {
        <div class="row d-flex padding filters">
            <div class="col-6 form-inline">
                <label class="custom-form-label" for="ScholarshipListFilter_DateFrom">From</label>
                <div class="input-group">
                    <input type="text" id="StartDate" class="form-control calldatepickerStart" asp-for="@Model.StartDate" name="StartDate" />
                    <div class="input-group-append"><button class="btn btn-dark" type="button"><i class="fa fa-calendar-alt"></i></button></div>
                </div>
                <label class="custom-form-label" for="ScholarshipListFilter_DateTo">To</label>
                <div class="input-group">
                    <input type="text" id="EndDate" class="form-control calldatepickerEnd" asp-for="@Model.EndDate" name="EndDate" />
                    <div class="input-group-append"><button class="btn btn-dark" type="button"><i class="fa fa-calendar-alt"></i></button></div>
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <select class="form-control text-box single-line teams" name="TeamIds" title="Please select teams" multiple="multiple" data-live-search="true" asp-for="@Model.TeamIds"
                            asp-items="@( new SelectList(Model.TeamList.Items.ToList(), "Id", "TeamName",Model.TeamIds))">
                    </select>
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <select class="form-control text-box single-line scholarshipstatus" name="StatusIds" title="Please select status" multiple="multiple" data-live-search="true" asp-for="@Model.StatusIds"
                            asp-items="@( new SelectList(Model.ScholarshipStatusList.Items.ToList(), "Id", "Status",Model.StatusIds))">
                    </select>
                </div>
            </div>
            <div class="col-1 text-right float-right p-0">
                <button class="btn btn-primary" type="submit" style="width:90%">APPLY</button>
            </div>
            <div class="col-1 text-right float-right p-0">
                <button class="btn btn-secondary" onclick="clearFilter()" style="width:90%">CLEAR</button>
            </div>
        </div>
    }
    <hr />

    <div class="seperator"></div>

    <div class="row padding">
        <div id="ScholarshipList" class="col-sm-12" data-form="#ScholarshipListForm" data-is-datatable="true">

            <table class="table table-hover dataTableClass">
                <thead class="table-header-dark">
                    <tr>

                        <th scope="col">NAME</th>
                        <th scope="col">PARTNER NAME</th>
                        <th scope="col">TEAM</th>
                        <th scope="col">SCHOLARSHIP AMOUNT</th>
                        <th scope="col">CREATION DATE</th>
                        <th scope="col">SCHOLARSHIP STATUS</th>
                        <th scope="col">&nbsp; </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Scholarships != null && Model.Scholarships.Any())
                    {
                        foreach (var Item in Model.Scholarships)
                        {
                            <tr>

                                <td>@Item.MemberName</td>
                                @{int i = 0;}
                                <td>
                                    @foreach (var partner in Item.PartnerName)
                                    {
                                        @partner

                                        i++;

                                        if (Item.PartnerName.Count() != i)
                                        {
                                            <span>,</span>
                                        }
                                    }
                                </td>
                                <td>@Item.TeamName</td>
                                <td>$@Item.ScholarshipAmount.ToString("n", CultureInfo.GetCultureInfo("en-US"))</td>
                                <td>@Item.CreationTime.ToString("MM/dd/yyyy")</td>
                                <td>@Item.ScholarshipStatus</td>
                                <td>
                                    <a href="/Scholarship/ScholarshipDetail?ScholarshipID=@Item.Id" class="btn btn-secondary float-right" data-toggle="tooltip" data-placement="top" title="View Scholarship"><i class="fa fa-eye"></i></a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>



