﻿@using TownSend
@model TownSend.Web.Models.Scholarships.QuestionnaireViewModel
@{
    Layout = "_HubOneLayoutBeforeLogin";
    ViewData["Title"] = "Questionnaire";
}


@section Styles {
    <link href="~/Townsend/css/pages/Scholarship/ScholarshipSignUp.css" rel="stylesheet" type="text/css" />

    <style>

        input:-moz-read-only { /* For Firefox */
            outline: 0 none;
            pointer-events: none;
        }

        input:read-only {
            outline: 0 none;
            pointer-events: none;
        }
    </style>
}

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
        var maxCount = '@TownSendConsts.QuestionnaireTextAreaStringLimit';
        $(document).ready(function () {
            $("textarea").each(function (index) {
                countChar(this, index + 1);
            });
        });

        function countChar(val, id) {
            var len = val.value.length;
            if (len > maxCount) {
                val.value = val.value.substring(0, maxCount);
            } else {
                $('#charNum' + id).text(maxCount - len);
            }
        };
</script>
}

<div class="content" id="tlg-container">

    <div class="row d-flex padding filters">
        <div class="col">
            <h1 id="tlg-title">Townsend Leadership Program  Scholarship Questionnaire</h1>
            <p id="tlg-title-sub-text">Requesting Scholarship Funds for Townsend Leadership Program. Responses take 3-5 business days.<span id="tlg-required-text"> * Required Fields</span></p>
        </div>
    </div>

        @using (Html.BeginForm("Questionnaire", "Scholarship", FormMethod.Post, new { Id = "scholarshipQuestionnaire" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => Model.Questionnaire.ScholarshipId)

            <div class="row tlg-row">
                <div class="col">
                    <div class="form-group">
                        <label class="custom-form-label">@Html.LabelFor(model => Model.Questionnaire.FirstTimeApply)<span class="astrisk">&nbsp;*</span></label>
                        @Html.DropDownListFor(x => x.Questionnaire.FirstTimeApply, new SelectList(Model.YesNoList.Items, "Value", "Text"), "- Select -", new { @class = "form-control text-box single-line", @tabindex = "1" })
                        <span asp-validation-for="@Model.Questionnaire.FirstTimeApply" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row tlg-row">
                <div class="col">
                    <div class="form-group">
                        <label class="custom-form-label">@Html.LabelFor(model => Model.Questionnaire.FirstTimeinTLP)<span class="astrisk">&nbsp;*</span></label>
                        @Html.DropDownListFor(x => x.Questionnaire.FirstTimeinTLP, new SelectList(Model.YesNoList.Items, "Value", "Text"), "- Select -", new { @class = "form-control text-box single-line", @tabindex = "2" })
                        <span asp-validation-for="@Model.Questionnaire.FirstTimeinTLP" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row tlg-row">
                <div class="col">
                    <div class="form-group">
                        <label class="custom-form-label">Please state your understanding of the impact thats TLP will have on your personal and professional growth.<span class="astrisk">&nbsp;*</span></label>
                        @Html.TextAreaFor(model => Model.Questionnaire.GrowthDetails, new { @class = "form-control info", onkeyup = "countChar(this,1)", @style = "overflow-y: scroll; height: 300px;", @tabindex = "3" })
                        <span asp-validation-for="@Model.Questionnaire.GrowthDetails" class="text-danger"></span>
                        <div class="row">
                            <div class="pull-right col offset-7" style="text-align: right;">Remaining characters: <span id="charNum1"></span></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row tlg-row">
                <div class="col">
                    <div class="form-group">
                        <label class="custom-form-label">What are three things you hope to achieve this year?<span class="astrisk">&nbsp;*</span></label>
                        @Html.TextAreaFor(model => Model.Questionnaire.AchivementsDetails, new { @class = "form-control info", onkeyup = "countChar(this,2)", @style = "overflow-y: scroll; height: 300px;", @tabindex = "4" })
                        <span asp-validation-for="@Model.Questionnaire.AchivementsDetails" class="text-danger"></span>
                        <div class="row">
                            <div class="pull-right col offset-7" style="text-align: right;">Remaining characters: <span id="charNum2"></span></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row tlg-row">
                <div class="col">
                    <div class="form-group">
                        <label class="custom-form-label">The Townsend growth model addresses developing both comptetency and character to accelerate growth. Can you briefly describe your own history of both exceptional and difficult life experiences of growth?<span class="astrisk">&nbsp;*</span></label>
                        @Html.TextAreaFor(model => Model.Questionnaire.LifeExperienceDetails, new { @class = "form-control info", onkeyup = "countChar(this,3)", @style = "overflow-y: scroll; height: 300px;", @tabindex = "5" })
                        <span asp-validation-for="@Model.Questionnaire.LifeExperienceDetails" class="text-danger"></span>
                        <div class="row">
                            <div class="pull-right col offset-7" style="text-align: right;">Remaining characters: <span id="charNum3"></span></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row tlg-row">
                <div class="col">
                    <div class="form-group">
                        <label class="custom-form-label">Where do you see yourself in 5 years?<span class="astrisk">&nbsp;*</span></label>
                        @Html.TextAreaFor(model => Model.Questionnaire.FutureGoalDetails, new { @class = "form-control info", onkeyup = "countChar(this,4)", @style = "overflow-y: scroll; height: 300px;", @tabindex = "6" })
                        <span asp-validation-for="@Model.Questionnaire.FutureGoalDetails" class="text-danger"></span>
                        <div class="row">
                            <div class="pull-right col offset-7" style="text-align: right;">Remaining characters: <span id="charNum4"></span></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-align-center">
                <button type="submit" class="btn btn-secondary" id="tlg-form-submit">SEND QUESTIONNAIRE</button>
            </div>
        }

</div>

