﻿@{
    Layout = "_HubOneLayoutBeforeLogin";
    ViewData["Title"] = "QuestionnaireCompleted";
}

@section Styles {
    <link href="~/Townsend/css/pages/Scholarship/ScholarshipSignUp.css" rel="stylesheet" type="text/css" />
}

<div class="content" id="tlg-container">
    <div class="row d-flex padding filters">
        <div class="col">
            <h1 id="tlg-title">Your answers have been successfully submited.</h1>
            <p id="tlg-title-sub-text">Your scholarship request has been sent for review to the TLP administration. You will be informed of the result of your scholarship request.</p>
        </div>
    </div>
</div>
