﻿@model TownSend.Web.Models.Scholarships.ScholarshipSignupViewModel
@{
    ViewData["Title"] = "Scholarship Sign Up";

    var year = DateTime.Now.Year.ToString();
}

@section Styles {
    <link href="~/Townsend/css/pages/Scholarship/ScholarshipSignUp.css" rel="stylesheet" type="text/css" />
    <style>

        input:-moz-read-only { /* For Firefox */
            outline: 0 none;
            pointer-events: none;
        }

        input:read-only {
            /*border-color: rgba(126, 239, 104, 0.8);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);*/
            outline: 0 none;
            pointer-events: none;
        }
    </style>
}

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<div class="content" id="tlg-container">

    <div class="row d-flex padding filters">
        <div class="col">
            <h1 id="tlg-title">Townsend Leadership Program  Scholarship Form</h1>
            <p id="tlg-title-sub-text">Requesting Scholarship Funds for Townsend Leadership Program. Responses take 3-5 business days.<span id="tlg-required-text"> * Required Fields</span></p>
        </div>
    </div>
        @if (Model != null && Model.ErrorMessage != null && Model.ErrorMessage.Any())
        {
            foreach (var message in Model.ErrorMessage)
            {
                <div class="alert alert-danger">
                    @message
                </div>
            }
        }

    @using (Html.BeginForm("Register", "Scholarship", FormMethod.Post, new { Id = "ScholershipRegisterModel" }))
    {
        @Html.AntiForgeryToken()

        <div class="row tlg-row">
            <div class="col">
                <div class="form-group">
                    <label class="custom-form-label" for="FirstName">
                        Member First Name<span class="astrisk">&nbsp;*</span>
                    </label>
                    @Html.TextBoxFor(x => x.ScholarshipRegister.FirstName, new { @class = "form-control text-box single-line", required = true, @tabindex = "1" })
                    <span asp-validation-for="@Model.ScholarshipRegister.FirstName" class="text-danger"></span>
                   
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label class="custom-form-label" for="LastName">
                        Member Last Name<span class="astrisk">&nbsp;*</span>
                    </label>
                    @Html.TextBoxFor(x => x.ScholarshipRegister.LastName, new { @class = "form-control text-box single-line", @tabindex = "2" })
                    <span asp-validation-for="@Model.ScholarshipRegister.LastName" class="text-danger"></span>                  
                </div>
            </div>
        </div>

        <div class="row tlg-row">
            <div class="col">
                <div class="form-group">
                    <label class="custom-form-label" for="EmailAddress">
                        Member Email Address<span class="astrisk">&nbsp;*</span>
                    </label>
                    @Html.TextBoxFor(x => x.ScholarshipRegister.EmailAddress, new { @class = "form-control text-box single-line", @tabindex = "3" })
                    <span asp-validation-for="@Model.ScholarshipRegister.EmailAddress" class="text-danger"></span>                    
                </div>
            </div>
        </div>

        <hr />

        <div class="row tlg-row">
            <div class="col">
                <div class="form-group">
                    <label class="custom-form-label" for="ScholarshipSignup_ContactFirstName">
                        TLP group are you applying for<span class="astrisk">&nbsp;*</span>
                    </label>
                    @Html.DropDownListFor(x => x.ScholarshipRegister.TeamId, new SelectList(Model.TeamList.Items.ToList(), "Id", "TeamName"),  "- Select Team -", new { @class = "form-control text-box single-line", @tabindex = "4" })
                    <span asp-validation-for="@Model.ScholarshipRegister.TeamId" class="text-danger"></span>                    
                </div>
            </div>

        </div>

        <div class="row tlg-row">
            <div class="col">
                <div class="form-group">
                    <label class="custom-form-label" for="ScholarshipSignup_ContactFirstName">
                        Amount of scholarship request (TLG allows up to $2,000.00)<span class="astrisk">&nbsp;*</span>
                    </label>
                    @Html.TextBoxFor(x => x.ScholarshipRegister.ScholarshipAmount, new { @class = "form-control text-box single-line", @tabindex = "5", @placeholder = "ex. 1000.00" })
                    <span asp-validation-for="@Model.ScholarshipRegister.ScholarshipAmount" class="text-danger"></span>                   
                </div>
            </div>
        </div>

        <hr />

        <div class="text-align-center">
            <button type="submit" class="btn btn-secondary" id="tlg-form-submit" tabindex="6">SEND APPLICATION FORM</button>
            <p id="tlg-disclaimer-text">A questionnaire will be sent to the member’s email above.</p>
        </div>
    }

</div>

