﻿@using TownSend
@model TownSend.Web.Models.Scholarships.ScholarshipDetailsViewModel
@using  TownSend.Scholarships
@{
    ViewData["Title"] = "ScholarshipDetail";
}

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        var maxCount = '@TownSendConsts.QuestionnaireTextAreaStringLimit';
        $(document).ready(function () {
            $("textarea").each(function (index) {
                countChar(this, index + 1);
            });
        });       

        function countChar(val, id) {
            var len = val.value.length;
            if (len > maxCount) {
                val.value = val.value.substring(0, maxCount);
            } else {
                $('#charNum' + id).text(maxCount - len);
            }
        };
    </script>
}
<div class="customer-header">
    <div class="row padding customer-header-row">
        <div class="col-3" style="padding: 1%;">
            <div class="customer-photo float-left">
                <i class="fa fa-user fa-2x"></i>
            </div>
            <div id="TitleInfo" class="customer-name float-right">
                <p id="contact-full-name">@(string.Format("{0} {1}", Model.ScholarshipDetails.MemberFirstName, Model.ScholarshipDetails.MemberLastName)) </p>
                <p class="info-text-small">Filed on @Model.ScholarshipDetails.ScholarshipRegister.CreationTime</p>
            </div>
        </div>
        <div class="col customer-header-right">
            <nav class="nav" role="tablist">
                @{
                    var scholarshipinfoactive = "";
                    var scholarshipquestionnaireresultactive = "";

                    if (TempData["scholarshiptab"] != null && TempData["scholarshiptab"].ToString() == "ScholarshipInfo")
                    {
                        scholarshipinfoactive = "active";
                    }
                    else if (TempData["scholarshiptab"] != null && TempData["scholarshiptab"].ToString() == "ScholarshipQuestionnaireResult")
                    {
                        scholarshipquestionnaireresultactive = "active";
                    }
                    else
                    {
                        scholarshipinfoactive = "active";
                    }

                }
                <a class="nav-link @scholarshipinfoactive" id="scholarship-info-tab" data-toggle="tab" href="#scholarship-info" role="tab">Scholarship Info</a>
                <a class="nav-link @scholarshipquestionnaireresultactive" id="scholarship-questionaire-tab" data-toggle="tab" href="#scholarship-questionaire" role="tab">Scholarship Questionnaire Results </a>
            </nav>
        </div>
    </div>
</div>
<div class="customer-body" id="scholarshipDetail">
    <div class="row padding h-100">
        <div class="col-4 col-xl-3 customer-body-left">
            <div class="row padding customer-body-left-row contact-info"></div>
        </div>
        <div class="col customer-body-right tab-content">
            @await Html.PartialAsync("_ScholarshipInfo", Model)
            @await Html.PartialAsync("_ScholarshipQuestionnaireResult", Model)
        </div>
    </div>
</div>

