﻿@using System.Text.Encodings.Web
@using TownSend.Web.Views.Shared.Components.ProfileNote
@model ProfileNoteViewModel
@*@if (Model.Languages.Count > 1)
    {
        <div class="language-switch-area">
            @foreach (var languageInfo in Model.Languages)
            {
                <a href="~/AbpLocalization/ChangeCulture?cultureName=@(languageInfo.Name)&returnUrl=@(UrlEncoder.Default.Encode(Context.Request.Path + Context.Request.QueryString))">
                    <span class="language-icon @(languageInfo == Model.CurrentLanguage ? "language-icon-current" : "")" title="@languageInfo.DisplayName"><i class="@languageInfo.Icon"></i></span>
                </a>
            }
        </div>
    }*@
@section Scripts{
    <script src="~/view-resources/Views/Common/ProfileNote.js"></script>

}
@{
    var noteactiveclass = "";
    if (TempData["teamtab"] != null && TempData["teamtab"].ToString() == "Notes")
    {
        noteactiveclass = "show active";
    }
    if (TempData["partnertab"] != null && TempData["partnertab"].ToString() == "Notes")
    {
        noteactiveclass = "show active";
    }
    if(TempData["membertab"]!=null && TempData["membertab"].ToString() == "Notes")
    {
         noteactiveclass = "show active";
    }


}
<div class="tab-pane @noteactiveclass" id="notesTab" role="tabpanel">

    <div class="content-container">
        <div class="card" style="border:none !important">
            <div class="row">
                <div class="col-5">
                    <h2>Note List</h2>
                </div>

                @*@if (User.IsInRole("Admin"))
                    {*@
                <div class="col-3 offset-4">
                    <a data-is-modal="true"
                       class="btn btn-secondary float-right icon-space" style="cursor: pointer;" data-toggle="modal" data-target="#NoteDefaultModal"><i class="fas fa-plus-circle"></i>ADD A NOTE</a>
                </div>
                @*}*@
            </div>
            @*<form id="SupplierNoteForm" method="post" data-ajax="true" data-ajax-url="/Partners/PartnerProfile?handler=LoadNotes&ContactID=@Model.Partner.ContactID" data-ajax-update="#SupplierNotes" data-ajax-method="get">*@
            @*<form id="SupplierNoteForm" method="post">
                    <div>

                    </div>




                </form>*@

            <div class="row padding">
                <div id="SupplierNotes" class="col-sm-12 no-padding" data-from="#SupplierNoteForm" data-is-datatable="true">
                    @if (Model.ProfileNotes != null)
                    {

                        <table class="table table-hover dataTableClass" data-paging="true" table-layout="fixed" style="width: 100%;border:1px solid rgba(0, 0, 0, 0.125)">
                            <thead class="table-header-dark" style="width:100%">
                                <tr>
                                    <th class="hidden-col no-sort" style="width: 10%;"></th>
                                    <th scope="col" style="width:50%">NOTE DESCRIPTION</th>
                                    <th scope="col" style="width:20%">ADDED BY</th>
                                    <th scope="col" style="width:20%">NOTE DATE</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var note in Model.ProfileNotes)
                                {
                                    <tr>
                                        <td class="td-first-col" style="width:2px !important">
                                            <div class="col-1 customer-photo">
                                                <i class="fas fa-comment fa-2x"></i>
                                            </div>
                                        </td>
                                        <td style="width:500px !important;margin-left:0px !important"> @note.Description</td>
                                        <td> @note.AddedBy</td>
                                        <td> @note.CreationTime.Value.ToString("MM-dd-yyyy")</td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    }
                </div>
            </div>
        </div>
    </div>
</div>

<form method="post" asp-controller="Common" asp-action="CreateProfileNote" name="add-notes" id="CreateNoteForm">
    @* changes-- *@

    <div class="modal fade" id="NoteDefaultModal" data-backdrop="static" data-update-page="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">ADD A NOTE</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-labelledby="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @*@Html.HiddenFor(model => Model.ContextLinkID)
                        @Html.HiddenFor(model => Model.UserName)*@
                    @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
                    <input type="hidden" name="MapId" value="@Model.MapId" />
                    <input type="hidden" name="Type" value="@Model.Type" />
                    <input type="hidden" />
                    <div id="validation-summary" class="text-danger" hidden="hidden">
                        <ul></ul>
                    </div>

                    <div class="row form-group">
                        <div class="col">
                            <label class="custom-form-label">Note Description</label>
                            <textarea name="Description" class="form-control description" required></textarea>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" id="addnotebtn" class="btn btn-primary btn-sm">ADD<span id="spinner" style="display: none"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i></span></button>
                    <button type="button" class="btn btn-dark btn-sm" data-dismiss="modal">CLOSE</button>

                </div>
            </div>
        </div>
    </div>
</form>