﻿#MembershipAgreement.COACH_Coaching {
    padding-left: 3rem;
    padding-right: 3rem;
    flex: 1 1 auto;
    overflow: auto;
    min-height: 0px;
    height: 100%;
}

div.COACH_Coaching {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 500;
    color: black;
}

    div.COACH_Coaching h1, div.COACH_Coaching h2 {
        font-weight: bold;
        text-align: center;
    }

    div.COACH_Coaching h1 {
        font-size: 16pt;
        margin-top: 1rem;
        text-decoration: underline;
        text-align: left
    }

    div.COACH_Coaching h2 {
        font-size: 14pt;
        page-break-after: avoid;
    }

    div.COACH_Coaching p {
        line-height: 120%;
    }

    div.COACH_Coaching ol {
        padding-inline-start: 1.5rem;
    }

    div.COACH_Coaching li span:first-child {
        text-decoration: underline;
    }

    div.COACH_Coaching li {
        padding-left: 0.5rem
    }


    table.coaching-form-table, table.coaching-sig-table {
        width: 100%;
        border: 0px;
    }

table.coaching-form-table th,
table.coaching-form-table td,
table.coaching-sig-table th,
table.coaching-sig-table td {
    padding: 0.5rem 0.5rem 0.2rem 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

table.coaching-form-table th {
    font-weight: bold;
    width: 30%;
    max-width: 30%;
    min-width: 30%;
    vertical-align: top;
}

    table.coaching-form-table th.short {
        width: 15%;
        max-width: 15%;
        min-width: 15%;
    }

table.coaching-form-table tr td:not(.append) {
    width: 40%;
    max-width: 40%;
    min-width: 40%;
    border-bottom: 1px solid #000000;
}

table.coaching-form-table tr td:only-of-type {
    width: 70%;
    max-width: 70%;
    min-width: 70%;
}

table.coaching-form-table tr th.short ~ td:only-of-type {
    width: 85%;
    max-width: 85%;
    min-width: 85%;
}

table.coaching-form-table tr td.short {
    width: 25%;
    max-width: 25%;
    min-width: 25%;
}

table.coaching-form-table tr td.append {
    padding-left: 1.5rem;
    width: 30%;
    max-width: 30%;
    min-width: 30%;
}

table.coaching-form-table tr td.short ~ td.append {
    width: 45%;
    max-width: 45%;
    min-width: 45%;
    padding-bottom: 0px;
    vertical-align: bottom;
}
