﻿.content.stepper {
    box-shadow: 0px 0px 1rem #bcc5cc;
}

h2 {
    font-size: 1.5rem;
}

.card.term {
    overflow: auto
}

    .card.term .card-header {
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
    }

        .card.term .card-header > div {
            text-align: center;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 0.1rem;
        }

            .card.term .card-header > div:last-child {
                font-size: 0.75rem;
            }

        .card.term .card-header h2 {
            margin-bottom: 0px;
            text-transform: none;
        }

    .card.term .term-details {
        font-size: 0.85rem;
    }

    .card.term .term-total {
        font-weight: bold;
    }

    .card.term .btn {
        height: 55px;
        font-weight: 600;
        font-size: 0.85rem;
        letter-spacing: 0.1rem;
        text-transform: uppercase;
        width: 100%
    }

.card.payment {
    background-color: #ffffff;
    padding: 1rem;
}
    .card.payment h2 {
        letter-spacing: 0.1rem;
    }

    .card.payment h4 {
        font-size: 1.5rem;
        font-weight: 700;
        letter-spacing: 0.01rem;
        margin-bottom: 0px;
    }

    .card.payment h6 {
        font-size: 0.8rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.12rem;
    }

    .card.payment .btn-outline-dark {
        opacity: 0.9;
        border-color: #c0c0c0;
        border-width: 2px;
        border-radius: 3px;
        font-size: 1.0rem;
        padding: 0.1rem 0.5rem 0.2rem 0.5rem;
    }

    .card.payment .button-row {
        padding: 40px 0px 10px 0px
    }

.content {
    margin-left: 0px;
    margin-right: 0px;
}

.content > .row,
.row.button-row {
    padding: 30px;
}

    .row.button-row .btn-lg {
        width: 100%;
        height: 55px;
    }

ul.stepper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-left: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-inline-start: 0px;
}

ul.stepper li {
    /*width: 6em;*/
    font-weight: bold;
    flex: 1;
    height: 2em;
    text-align: center;
    line-height: 1.5em;
    margin: 0 1em;
    display: inline-block;
    color: lightgrey;
    position: relative;
    text-transform: uppercase;
}

    ul.stepper li::before {
        content: '';
        position: absolute;
        top: .9em;
        left: calc(-75% * .6);
        width: calc(75%);
        height: .1em;
        background: lightgrey;
    }

    ul.stepper li:first-child::before {
        display: none;
    }

    ul.stepper li:last-child {
    }

    ul.stepper li.active {
        color: #0079F2;
    }

        ul.stepper li.active::before {
            background: #0079F2;
        }


.form-group {
    margin-bottom: 1rem;
}