﻿#MembershipAgreement.COACH_LeadershipProgram {
    color: black;
    font-family: 'Times New Roman';
    padding-left: 3rem;
    padding-right: 3rem;
    flex: 1 1 auto;
    overflow: auto;
    min-height: 0px;
    height: 100%;
}

div.COACH_LeadershipProgram h1, h2 {
    font-weight: bold;
    text-align: center;
}

div.COACH_LeadershipProgram h1 {
    font-size: 18pt;
    text-decoration: underline;
}

div.COACH_LeadershipProgram h2 {
    font-size: 16pt;
    page-break-after: avoid;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

div.COACH_LeadershipProgram ol {
    padding-left: 3rem;
    list-style-position: outside
}

    div.COACH_LeadershipProgram ol.roman {
        counter-reset: roman;
    }

        div.COACH_LeadershipProgram ol.roman > li {
            margin-bottom: 1rem
        }

    div.COACH_LeadershipProgram ol.alpha {
        counter-reset: alpha
    }

    div.COACH_LeadershipProgram ol li {
        list-style: none;
        position: relative;
    }

    div.COACH_LeadershipProgram ol.roman > li:before {
        counter-increment: roman;
        padding-right: 1.5rem;
        content: "(" counter(roman, decimal)") "
    }

    div.COACH_LeadershipProgram ol.alpha > li:before {
        counter-increment: alpha;
        padding-right: 1.5rem;
        content: "(" counter(alpha, lower-alpha)") "
    }

div .COACH_LeadershipProgram .alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

div.COACH_LeadershipProgram .alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}