﻿@model TownSend.Web.Models.Teams.EditTeamModelViewModel
@using TownSend.Web.Views.Shared.Components.Document
@using TownSend.Web.Views.Shared.Components.ProfileNote
@using TownSend
@section Scripts
    {
    <script type="text/javascript">
    $('select').selectpicker();
        var objPartners = new Array();
        var verifyPartner = new Array();
        var jsonList = @Json.Serialize(Model.PartnerList);
        var percentageValidation = '@Constant.PartnerPercentageValidation';
        $.extend(objPartners, jsonList);
        $.extend(true, verifyPartner, objPartners);
    var teamId = '@Model.Team.Id';
    </script>



    <script src="~/view-resources/Views/Teams/_EditTeam.js" asp-append-version="true"></script>
    <script src="~/view-resources/Views/Common/Document.js"></script>

    <script src="~/view-resources/Views/Common/ProfileNote.js"></script>
    <script type="text/javascript">
        $('input[name="Restrict"]').on('change', function () {
            if ($(this).is(':checked')) {
                $(this).attr('value', 'true');
            } else {
                $(this).attr('value', 'false');
            }
        });
        function fnDeleteClick(id) {

            $("#Delete-Link_" + id).show();
            $("#CancelDelete_" + id).show();
            $("#delete-links_" + id).hide();
            //$("#delete-links_"+id).click(function () {


            //  });
            $("#CancelDelete_" + id).click(function () {
                $("#Delete-Link_" + id).hide();
                $("#CancelDelete_" + id).hide();
                $("#delete-links_" + id).show();
            });

        }






    </script>
}

<link href="~/Townsend/lib/dropzone/dropzone.css" rel="stylesheet" />
<link href="~/Townsend/lib/dropzone/basic.css" rel="stylesheet" />

<div class="customer-header">
    <div class="row padding customer-header-row">
        <div class="col-3" style="padding: 1%;">
            <div class="customer-photo float-left">
                <i class="fa fa-users fa-2x"></i>
            </div>
            <div id="TitleInfo" class="customer-name float-right">
                <p id="team-name">@(Model.Team.TeamName) @TempData["teamtab"]</p>
                <p class="info-text-small">Added on @Model.Team.CreationTime.ToLongDateString()</p>
            </div>
        </div>

        <div class="col customer-header-right">
            <nav class="nav" role="tablist">
                @{
                    var teamdocumenttabactiveclass = "";
                    var teamnotetabactiveclass = "";
                    var teamdetailactiveclass = "";

                    if (TempData["teamtab"] != null && TempData["teamtab"].ToString() == "Documents")
                    {
                        teamdocumenttabactiveclass = "active";
                    }
                    else if (TempData["teamtab"] != null && TempData["teamtab"].ToString() == "Notes")
                    {
                        teamnotetabactiveclass = "active";
                    }
                    else
                    {
                        teamdetailactiveclass = "active";
                    }

                }

                <a class="nav-link @teamdetailactiveclass" id="basic-info-tab" data-toggle="tab" href="#basic-info" role="tab">Teams Details</a>
                @*@if (Model.Team.SupplierID > 0)
                    {*@
                <a class="nav-link" id="documents-info-tab" data-toggle="tab" href="" role="tab">Team Meeting</a>
                <a class="nav-link" id="documents-info-tab" data-toggle="tab" href="" role="tab">Member List</a>
                <a class="nav-link @teamdocumenttabactiveclass" id="documents-info-tab" data-toggle="tab" href="#documents-info" role="tab">Document</a>
                <a class="nav-link" id="documents-info-tab" data-toggle="tab" href="" role="tab">Payment Logs</a>

                @if (User.IsInRole("Admin"))
                {
                    <a class="nav-link @teamnotetabactiveclass" id="notes-tab" data-toggle="tab" href="#notesTab" role="tab">Notes</a>
                }


            </nav>
        </div>
    </div>
</div>

<div class="customer-body" id="team-detail">
    <div class="row padding h-100">

        <div class="col-4 col-xl-3 customer-body-left">
            <div class="row padding customer-body-left-row">
                <div class="col">
                    <label class="custom-form-label">NEXT MEETING DATE</label>
                    <div>NOT SCHEDULED</div>
                </div>

                <div class="col">
                    <label class="custom-form-label">NEXT MEETING TIME</label>
                    <div>NOT SCHEDULED</div>
                </div>
            </div>

            <div class="row padding customer-body-left-row">
                <div class="col">
                    <label class="custom-form-label">LOCATION</label>
                    <div>NOT SCHEDULED</div>
                </div>
                <div class="col">
                    <label class="custom-form-label">NEXT MEETING NAME</label>
                    <div>NOT SCHEDULED</div>
                </div>
            </div>

            <div class="row padding customer-body-left-row">
                <div class="col">
                    <label class="custom-form-label">NUMBER OF CONFIRMED MEMBERS</label>
                    <div>IN PENDING</div>
                </div>

            </div>
            <div class="col customer-body-right tab-content">
                <div class="row">
                    <div class="col">
                        <div class="accordion" id="basic-info-accordion">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col customer-body-right tab-content">
            @{
                var teamdetailactive = "";

                if (TempData["teamtab"] != null && TempData["teamtab"].ToString() == "Documents")
                {
                    teamdetailactive = "";
                }
                else if (TempData["teamtab"] != null && TempData["teamtab"].ToString() == "Notes")
                {
                    teamdetailactive = "";
                }
                else
                {
                    teamdetailactive = "show active";
                }

            }
            <div class="tab-pane @teamdetailactive" id="basic-info" role="tabpanel">
                <div id="myAccountForm">
                    <div class="content-container">
                        <div class="card" style="margin-bottom: 35px;">
                            <form name="TeamEditForm" asp-controller="Teams" asp-action="UpdateTeam" id="TeamEditForm" class="form-validation">
                                <div class="card-header">
                                    <h2>Team Details</h2>
                                    @if (IsGranted("Pages.Teams.Edit"))
                                    {
                                        <div class="profile-action-btns-container">
                                            @*<button type="button" class="btn btn-secondary float-right h-100 icon-space" id="Start Payment-info"><i class="fas fa-pen"></i>Start Processing Payment</button><br />*@
                                            <button type="button" class="btn btn-secondary float-right h-100 icon-space" onclick="toggleConfirm(this, true)" id="edit-info"><i class="fas fa-pen"></i> EDIT INFO</button>
                                            <button type="submit" style="display: none;margin-right: 1em;" class="btn btn-success float-right h-100" id="EditBasicInfo"><i class='fas fa-save'></i> SAVE</button>
                                            <button data-action-link="true" data-view-loader-refresh="#myAccountForm" type="button" style="display: none;margin-right: 1em;" class="btn btn-secondary float-right h-100" onclick="toggleConfirm(this, true)" id="cancel-edit-info">CANCEL</button>
                                        </div>

                                    }
                                </div>
                                <div class="card-body">
                                    <div class="col-12">
                                        <input type="hidden" name="Id" value="@Model.Team.Id" />
                                        @Html.HiddenFor(x => x.Team.Id)
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <div id="validation-summary" class="text-danger" style="display: none">
                                            <ul></ul>
                                        </div>
                                        <div class="row" style="padding-bottom:20px">
                                            <div class="col-4">
                                                <label class="custom-form-label" for="TeamName">Team Name<span class="astrisk">&nbsp;*</span></label>
                                                @*<input class="form-control info text-box single-line" required data-val-required="The Team Name field is required." disabled="disabled" id="TeamName" name="TeamName" tabindex="1" type="text" value="@Model.Team.TeamName">*@
                                                @Html.TextBoxFor(x => x.Team.TeamName, new { @class = "form-control info text-box single-line", @disabled = "disabled" })
                                                <span asp-validation-for="@Model.Team.TeamName" class="text-danger"></span>
                                            </div>
                                            <div class="col-4">
                                                <label class="custom-form-label" for="TeamPrice">Team Price<span class="astrisk">&nbsp;*</span></label>
                                                <div class="input-group">
                                                    @*<input class="form-control info text-box single-line" disabled="disabled" id="TeamPrice" name="TeamPrice" tabindex="2" type="text" value="@Model.Team.TeamPrice">*@
                                                    @Html.TextBoxFor(x => x.Team.TeamPrice, new { name = "TeamPrice", @class = "form-control info text-box single-line", @disabled = "disabled", @id = "TeamPrice" })
                                                    @*@Html.TextBox("TeamPrice",@Model.Team.TeamPrice,new {@class="form-control info text-box single-line  text-right",@disabled="disabled" })*@
                                                    <div class="input-group-append">
                                                        <span class="input-group-text">$</span>
                                                    </div>
                                                </div>
                                                <span asp-validation-for="@Model.Team.TeamPrice" class="text-danger"></span>
                                            </div>

                                            <div class="col-4">

                                                <label class="custom-form-label" for="Deposit">Initial Deposit<span class="astrisk">&nbsp;*</span></label>
                                                <div class="input-group">
                                                    @*<input class="form-control info text-box single-line" disabled="disabled" id="Deposit" name="Deposit" tabindex="3" type="text" value="@Model.Team.Deposit">*@
                                                    @Html.TextBoxFor(x => x.Team.Deposit, new { @class = "form-control info text-box single-line", @id = "Deposit", @disabled = "disabled" })
                                                    @*@Html.TextBox("Deposit", @Model.Team.Deposit, new { @class = "form-control info text-box single-line  text-right", @disabled = "disabled" })*@
                                                    <div class="input-group-append">
                                                        <span class="input-group-text">$</span>
                                                    </div>
                                                </div>
                                                <span asp-validation-for="@Model.Team.Deposit" class="text-danger"></span>
                                                <span class="text-danger" id="checkpriceanddeposit"></span>
                                            </div>
                                        </div>
                                        <div class="row" style="padding-bottom:20px">
                                            <div class="col-4">
                                                <label class="custom-form-label" for="StartDate">Offical Start Date<span class="astrisk">&nbsp;*</span></label>
                                                @*<input class="form-control info text-box single-line" disabled="disabled" id="StartDate" name="StartDate" tabindex="4" type="datetime" placeholder="MM-DD-YYYY" required pattern="[0-9]{2}-[0-9]{2}-[0-9]{4}" value="@Model.Team.StartDate.ToShortDateString()" readonly>*@
                                                <input class="form-control info text-box single-line calldatepicker" disabled="disabled" id="StartDate" name="Team.StartDate" asp-for="@Model.Team.StartDate" tabindex="4" type="datetime" value="@Model.Team.StartDate.ToString("MM-dd-yyyy")">
                                                <span asp-validation-for="@Model.Team.TeamName" class="text-danger"></span>
                                            </div>

                                            <div class="col-4">
                                                <label class="custom-form-label" for="PaymentProssing">Payment Processing</label>
                                                @*<input class="form-control info text-box single-line" disabled="disabled" id="AddressLine2" name="AddressLine2" tabindex="5" type="text" value="@Model.Team.AddressLine2">*@
                                            </div>
                                            <div class="col-4">
                                                <label class="custom-form-label" for="State">State<span class="astrisk">&nbsp;*</span></label>
                                                @Html.DropDownListFor(x => x.Team.StateId, new SelectList(Model.StateList.Items.ToList(), "Id", "StateName"), "- Select State -", new { @class = "form-control text-box info single-line", @disabled = "disabled", @tabindex = "8" })
                                                <span asp-validation-for="@Model.Team.StateId" class="text-danger"></span>

                                            </div>
                                        </div>
                                        <div class="row" style="padding-bottom:20px">
                                            <div class="col-12">
                                                <label class="custom-form-label" for="Description">Description</label>
                                                @*<input class="form-control info text-box single-line" disabled="disabled" id="Description" name="Description" tabindex="1" type="text" value="@Model.Team.Description">*@
                                                @Html.TextAreaFor(x => x.Team.Description, new { @class = "form-control info text-box single-line", @disabled = "disabled" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                @*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*@
                <div id="Partners">
                    <div class="content-container">
                        <div class="card" style="margin-bottom: 35px;">
                            @using (Html.BeginForm("UpdatePartners", "Teams", FormMethod.Post))
                            {
                                <div class="card-header">
                                    <h2>
                                        <strong>Partner(s)</strong>
                                    </h2>
                                    <div class="profile-action-btns-container">
                                        <button type="button" class="btn btn-secondary float-right h-100 icon-space" onclick="toggleConfirm(this, false)" id="edit-info-partner"><i class="fas fa-pen"></i> EDIT INFO</button>
                                        <button type="submit" style="display: none;margin-right: 1em;" class="btn btn-success float-right h-100" id="edit-partner-info"><i class='fas fa-save'></i> SAVE</button>
                                        <button data-action-link="true" data-view-loader-refresh="#myAccountForm" type="button" style="display: none;margin-right: 1em;" class="btn btn-secondary float-right h-100" onclick="toggleConfirm(this, false)" id="cancel-edit-info-partner">CANCEL</button>
                                    </div>
                                </div>

                                @if (Model != null && Model.PartnerList != null && Model.PartnerList.Any())
                                {
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-7 offset-1"><label class="custom-form-label">Partner Name</label></div>
                                            <div class="col-4"><label class="custom-form-label">Partner Percentage</label></div>
                                        </div>
                                        <div class="appendhere">
                                            @foreach (var partner in Model.PartnerList)
                                            {
                                                <input asp-for="@Model.Team.Id" type="hidden" name="TeamId" id="TeamId" value="" />
                                                <div class="row">
                                                    <div class="col-1 customer-photo">
                                                        <i class="fa fa-handshake fa-2x"></i>
                                                    </div>
                                                    <div class="col-7 customer-name-list-team">
                                                        <a href="/Partners/EditPartner/@partner.PartnerId"> <p class="partner-name">@partner.PartnerName</p></a>
                                                    </div>
                                                    <div class="col-3">
                                                        <div class="input-group">
                                                            <input class="form-control text-box single-line partner-percentage info1" data-id="@partner.PartnerId" id="percentage_@partner.PartnerId" name="percentage" type="text" value="@partner.PartnerPercentage" disabled="disabled">
                                                            <div class="input-group-append">
                                                                <span class="input-group-text">%</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-1">
                                                        <button class="btn btn-secondary info1 float-right delete-partner" onclick="deleteMapping(@Model.Team.Id, @partner.PartnerId)" style="margin-left: 10px" data-partner-id="@partner.PartnerId" data-toggle="tooltip" data-placement="top" title="Delete" type="button" disabled><i class="fas fa-trash"></i></button>
                                                    </div>

                                                </div>
                                                <div>
                                                    <div style="background:#E9F0F5;text-align:center;color:#0079F2;">
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                    <div class="card-footer percentage-note" style="display:none">
                                        <div class="row">
                                            <div class="col">
                                                <strong>Note:</strong> Please update the Partner Percentage to <strong>0</strong> and save the details before deleting any partner.
                                            </div>
                                        </div>
                                    </div>
                                }
                                <div id="append-hdn-value" style="display:none"></div>
                            }


                            <div class="tab-pane" id="notes" role="tabpanel">

                                <div class="content-container">
                                    <div class="card" style="border:none !important">
                                        <div class="card-footer">
                                            <button type="button" data-toggle="modal" class="btn show-modal" style="width:100%">
                                                <i class="fas fa-plus-circle"></i><h6 style="display:inline-block; margin:0 15px">
                                                    Add a Partner
                                                </h6>
                                            </button>
                                        </div>
                                        <hr />
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>
            </div>
            @await Component.InvokeAsync(typeof(DocumentViewComponent), new { id = Model.Team.Id, type = EntityType.Teams })
            @await Component.InvokeAsync(typeof(ProfileNoteViewComponent), new { id = Model.Team.Id, type = EntityType.Teams })
        </div>
    </div>
</div>





<div class="modal fade" id="AddPartnerModal" role="dialog" aria-labelledby="PartnerCreateModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @using (Html.BeginForm("AddPartners", "Teams", FormMethod.Post))
            {
                <div class="modal-header">
                    <h5 class="modal-title text-uppercase">Add a Partner</h5>
                    <button type="button" class="close addpartnermodallose" data-dismiss="modal" aria-labelledby="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" value="@Model.Team.Id" name="TeamId" />
                    <div id="validation-summary" class="text-danger" style="display: none">
                        <ul></ul>
                    </div>
                    <div class="form-group row">
                        <div class="col">
                            @if (!IsGranted("Pages.Partners.Create"))
                            {
                                <input type="hidden" name="DefaultPartnerId" value="@Model.DefaultPartnerId" asp-for="DefaultPartnerId" />
                            }
                            <label class="custom-form-label">Partner</label>
                            @Html.DropDownList("PartnerIds", new SelectList(ViewBag.Partners, "Value", "Text", Model.PartnerIds), new { @class = "form-control", @multiple = "multiple", name = "PartnerIds" })
                            <span class="text-danger field-validation-error" data-valmsg-for="ScholarshipRegister.FirstName" data-valmsg-replace="true" id="partner-error" style="display:none"><span id="ScholarshipRegister_FirstName-error" class="">Please select partner.</span></span>
                        </div>
                        @*<div class="col-md-6">*@



                        @*<span class="text-danger field-validation-error" data-valmsg-for="ScholarshipRegister.FirstName" data-valmsg-replace="true" id="partner-error" style="display:none"><span id="ScholarshipRegister_FirstName-error" class="">Selected partner already added in list.</span></span>
                            <span class="text-danger field-validation-error" data-valmsg-for="ScholarshipRegister.FirstName" data-valmsg-replace="true" id="partner-error1" style="display:none"><span id="ScholarshipRegister_FirstName-error" class="">Please select partner.</span></span>*@
                        @*</div>*@
                    </div>
                    @*<div class="form-group row">
                            <div class="col-md-6">
                                <label class="custom-form-label">Percentage</label>
                            </div>
                            <div class="col-md-6">
                                @if (!IsGranted("Pages.Partners.Create"))
                                {
                                    <input type="hidden" name="DefaultPartnerId" value="@Model.DefaultPartnerId" asp-for="DefaultPartnerId" />
                                }
                                <div class="input-group">
                                    <input class="form-control info text-box single-line" id="editpercentage" name="percentage" type="text" value="">
                                    <div class="input-group-append">
                                        <span class="input-group-text">%</span>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary text-uppercase" id="addpartner">Add <span id="spinner" style="display: none"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i></span></button>
                    <button type="button" class="btn btn-dark text-uppercase btn-close" data-dismiss="modal">Close</button>
                </div>
            }
        </div>
    </div>
</div>