﻿@model TownSend.Web.Models.Teams.TeamListViewModel
@using TownSend.HtmlExtension;
@using System.Globalization;
@section Scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>*@
    @*<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>*@
    <script type="text/javascript">
        var partnerName = '@Model.DefaultPartnerFullName';        
        $('#FullName').selectpicker();
        $(document).ready(function () {
            $("#FullName option:selected").attr('disabled', true);
            
        });
        $('#TeamCreateModal').on('shown.bs.modal', function () {
            $('#DefaultPartnerName').val(partnerName);
        });       
    </script>
    <script>
        $(function () {
            $(".calldatepicker").datepicker();
            $(".btn.btn-dark").on("click", function () {
                $(this).parent().prev('input').focus();
            });
            $(".teams, .FilterPartnerIds").selectpicker({ noneSelectedText: '' });
            $(".teams, #Status").selectpicker({ noneSelectedText: '' });
        });
    </script>
    <style>
    </style>
    <script src="~/view-resources/Views/Teams/Index.js" asp-append-version="true">

    </script>
}


<div class="content">
    <div class="row padding list-header">
        <div class="col-10"><h2>TLP Teams</h2></div>

        <div class="col-2">
            <button class="btn btn-secondary float-right text-uppercase icon-space" data-toggle="modal" data-target="#TeamCreateModal"><i class="fas fa-plus-circle"></i>Add a Team</button>
        </div>
    </div>
    <hr />
    @using (Html.BeginForm("Index", "Teams", FormMethod.Post, new { Id = "teamList" }))
    {
        <div class="row d-flex padding filters ">
            <div class="col-6 form-inline filter-border-right " style="padding-right:0px">
                <div class="row" style="width:100%">
                    <div class="col-1">
                        <label class="custom-form-label" for="ScholarshipListFilter_DateFrom">
                            From
                        </label>
                    </div>
                    <div class="col-5 p-0">
                        <div class="input-group">
                            <input type="text" id="StartDate" class="form-control calldatepickerStart" asp-for="@Model.StartDate" name="StartDate" />
                            <div class="input-group-append"><button class="btn btn-dark" type="button"><i class="fa fa-calendar-alt"></i></button></div>
                        </div>
                    </div>
                    <div class="col-1">
                        <label class="custom-form-label" for="ScholarshipListFilter_DateTo">To</label>
                    </div>
                    <div class="col-5 p-0">
                        <div class="input-group">
                            <input type="text" id="EndDate" class="form-control calldatepickerEnd" asp-for="@Model.EndDate" name="EndDate" />
                            <div class="input-group-append"><button class="btn btn-dark" type="button"><i class="fa fa-calendar-alt"></i></button></div>
                        </div>
                    </div>
                </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <select class="form-control text-box single-line FilterPartnerIds" name="FilterPartnerIds" title="Please select Partner" multiple="multiple" data-live-search="true" asp-for="@Model.FilterPartnerIds"
                                asp-items="@( new SelectList(Model.FilterPartnerList.ToList(), "Id", "FullName",Model.FilterPartnerIds))">
                        </select>
                    </div>
                </div>
                <div class="col-1 text-right float-right p-0">
                    <button class="btn btn-primary" type="submit" formaction="/Teams/Index" style="width:90%">Apply</button>
                </div>
                <div class="col-1 text-right float-right p-0">
                    <button class="btn btn-secondary" style="width:90%;margin-right:4px" onclick="clearFilter()">Clear</button>
                </div>

                <div class="col-1 text-right float-right p-0">
                    <button class="btn btn-success" type="submit" id="TeamsExcelReport" formaction="/Teams/GetExcelReport" style=""><i class="fas fa-file-excel"></i>&nbsp;Excel Report</button>
                 </div>
        </div>
    }
    <hr />
    <div class="seperator"></div>
    <div class="row padding">
        <div id="ScholarshipList" class="col-sm-12" data-form="#ScholarshipListForm" data-is-datatable="true">

            @{
                if (Model != null)
                {
                    if (Model.Teams.Count() > 0)
                    {

                        <table class="table table-hover dataTableClass">
                            <thead class="table-header-dark">
                                <tr>
                                    <th scope="col">TEAM NAME</th>
                                    <th scope="col">PARTNER NAME</th>
                                    <th scope="col">START DATE</th>
                                    <th scope="col">TEAM PRICE</th>
                                    <th scope="col">DEPOSIT</th>
                                    <th class="hidden-col no-sort"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var team in Model.Teams)
                                {
                                   <tr>

                                        <td class="td-first-col">@team.TeamName </td>

                                        <td class="td">
                                            @{int i = 0;}
                                            @foreach (var partner in team.Partners)
                                            {
                                                @partner

                                                i++;

                                                if (team.Partners.Count() != i)
                                                {
                                                    <span>,</span>
                                                }

                                            }
                                        </td>
                                        <td class="td">@team.StartDate.Date.ToString("MM-dd-yyyy") </td>
                                        <td class="td">
                                            @{
                                                string output = team.TeamPrice.ToString("n", CultureInfo.GetCultureInfo("en-US"));
                                            }
                                            $@output
                                        </td>
                                        <td class="td">$@team.Deposit.ToString("n", CultureInfo.GetCultureInfo("en-US"))</td>

                                        <td><a class="btn btn-secondary float-right" style="margin-left: 10px" asp-controller="Teams" asp-action="EditTeam" asp-route-id="@team.Id" data-partner-id="@team.Id" data-toggle="tooltip" data-placement="top" title="View Profile"><i class="fas fa-eye"></i></a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <div class="col-lg-12">
                            <div id="noMatch" class="alert alert-info alert-dismissible">No data matching specified constraints found.</div>
                        </div>
                    }
                }
              
            }
            
        </div>
        </div>
    </div>
        <div class="modal fade" id="TeamCreateModal" tabindex="-1" role="dialog" aria-labelledby="TeamCreateModalLabel" data-backdrop="static">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">ADD A TEAM</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-labelledby="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form method="post" asp-controller="Teams" asp-action="CreateTeam" id="CreateTeamForm" autocomplete="off">
                      
                        <div class="modal-body">

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div id="validation-summary" class="text-danger" style="display: none">
                                <ul></ul>
                            </div>

                            <div class="row form-group">
                                <div class="col">
                                    <label class="custom-form-label" for="TeamName">Team Name<span class="astrisk">&nbsp;*</span></label>
                                    @*<input type="text" name="TeamName" required class="form-control" />*@
                                    @Html.TextBoxFor(x => x.CreateTeam.TeamName, new { @class = "form-control" })
                                    <span asp-validation-for="@Model.CreateTeam.TeamName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col">
                                    <label class="custom-form-label" for="State">State<span class="astrisk">&nbsp;*</span></label>
                                    @Html.DropDownListFor(x => x.CreateTeam.StateId, new SelectList(Model.StateList.Items.ToList(), "Id", "StateName"), "- Select State -", new { @class = "form-control text-box info single-line", @tabindex = "8" })
                                    <span asp-validation-for="@Model.CreateTeam.StateId" class="text-danger"></span>
                                </div>
                            </div>
                            @*@Html.DropDownListFor();*@
                                @if (IsGranted("Pages.Partners.Create"))
                                {
                                    <div class="row form-group">
                                        <div class="col">
                                            <label class="custom-form-label" for="PartnerName">Partner<span class="astrisk">&nbsp;*</span></label>
                                            <select class="form-control" name="CreateTeam.PartnerIds" multiple
                                                    asp-items="@(new SelectList(Model.Partners, "Id", "FullName", Model.PartnerIds))" id="FullName" asp-for="@Model.CreateTeam.PartnerIds">
                                            </select>
                                            <span asp-validation-for="@Model.CreateTeam.PartnerIds" class="text-danger"></span>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="row form-group">
                                        <div class="col">
                                            <label class="custom-form-label" for="TeamName">Partner Name</label>
                                            @Html.TextBoxFor(x => x.DefaultPartnerFullName, new { @class = "form-control", @readonly = "readonly", @disabled = "disabled" })
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col">
                                            <label class="custom-form-label" for="PartnerName">Co-Partner</label>
                                            <input type="hidden" name="DefaultPartnerId" asp-for="@Model.DefaultPartnerId" />
                                            <select class="form-control" name="CreateTeam.PartnerIds" multiple
                                                    asp-items="@(new SelectList(Model.Partners, "Id", "FullName", Model.PartnerIds))" id="FullName">
                                                @*asp-items="(List<SelectListItem>)ViewBag.Partners" id="FullName" required asp-for="@Model.PartnerIds">*@
                                            </select>
                                        </div>
                                    </div>
                                }

                                <div class="row form-group">
                                    <div class="col-sm-6">
                                        <div>
                                            <label class="custom-form-label" for="TeamPrice">Team Price<span class="astrisk">&nbsp;*</span></label>
                                            <div class="input-group">
                                                @*  <input id="TeamPrice" type="text" asp-for="TeamPrice" name="TeamPrice" required class="form-control text-right" value="0.00" />*@
                                                @Html.TextBoxFor(x => x.CreateTeam.TeamPrice, new { @class = "form-control text-right", @value = "0.00", @id = "teamprice" })
                                                <div class="input-group-append">
                                                    <span class="input-group-text">$</span>
                                                </div>
                                            </div>
                                        </div>
                                        <span asp-validation-for="@Model.CreateTeam.TeamPrice" class="text-danger"></span>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="custom-form-label" for="StartDate">Start Date<span class="astrisk">&nbsp;*</span></label>
                                        @*<input type="text" id="datepicker" class="form-control calldatePiker" name="StringStartDate" required />*@
                                        @Html.TextBoxFor(x => x.CreateTeam.StringStartDate, new { @class = "form-control calldatePiker", @id = "datepicker" })
                                        <span asp-validation-for="@Model.CreateTeam.StringStartDate" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-sm-6">
                                        <div>
                                            <label class="custom-form-label" for="Deposit">Deposit<span class="astrisk">&nbsp;*</span></label>
                                            <div class="input-group">
                                                @Html.TextBoxFor(x => x.CreateTeam.Deposit, new { @class = "form-control text-right", @value = "0.00", @id = "deposit" })
                                                @*<input id="Deposit" type="text" name="Deposit" required class="form-control text-right" value="0.00" />*@
                                                <div class="input-group-append">
                                                    <span class="input-group-text">$</span>
                                                </div>
                                            </div>
                                        </div>
                                        <span asp-validation-for="@Model.CreateTeam.Deposit" class="text-danger"></span>
                                        <span class="text-danger" id="checkpriceanddeposit"></span>
                                    </div>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="submit" id="add-team-modal" class="btn btn-primary">ADD <span id="spinner" style="display: none"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i></span></button>
                                <button type="button" class="btn btn-dark" data-dismiss="modal">CLOSE</button>

                            </div>

</form>

                </div>
            </div>
        </div>


