﻿/**
All custom css (non bootstrap/framework stuff begins with 'tlg'   
**/
#tlg-container {
    padding: 5% 20% 5% 20%;
}

#tlg-title {
    text-align: center;
    font-weight: 400;
}

#tlg-title-sub-text {
    text-align: center;
    font-weight: 400;
    letter-spacing: 1.5px;
    color: #858688;
}


#tlg-required-text {
    font-weight: 400;
    color: #278ef4;
}

.tlg-control-label {
    font-weight: 500;
    display: block;
}

.tlg-form-input-control {
    height: 60px;
}

.tlg-form-textarea-control {
    height: 150px !important;
}

.tlg-row {
    margin-bottom: 5%;
    margin-top: 5%
}

#tlg-form-submit {
    width: 80%;
    height: 60px;
    letter-spacing: 2px;
    margin-top: 2.5%;
}

#tlg-disclaimer-text {
    font-size: .8rem;
    color: #858688;
    margin-top: 1.5%;
    letter-spacing: 1px;
}

.tlg-asterisk {
    color: #278ef4;
    font-weight: 900;
}

/**radio btns**/
/* The container */
.tlg-radio-btn-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 20px;
}

/* Hide the browser's default radio button */
.tlg-radio-btn-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.tlg-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 2px solid #858688;
}

/* On mouse-over, add a grey background color */
.tlg-radio-btn-container:hover input ~ .tlg-checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.tlg-radio-btn-container input:checked ~ .tlg-checkmark {
    background-color: #858688;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.tlg-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.tlg-radio-btn-container input:checked ~ .tlg-checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.tlg-radio-btn-container .tlg-checkmark:after {
    top: 7px;
    left: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.tlg-radio-btn-text {
    font-size: 1rem;
    display: block;
}