﻿@model TownSend.Web.Models.Partners.EditPartnerModalViewModel
@using  TownSend.Web.Views.Shared.Components.ProfileNote
@using TownSend.Web.Views.Shared.Components.RecommendedLink
@using TownSend.Web.Views.Shared.Components.Document
@using TownSend
@section Styles
{
    <link href="~/lib/dropzone/dropzone.css" rel="stylesheet" />

}
@section Scripts
{  
    <script src="~/view-resources/Views/Partners/_EditPartner.js" asp-append-version="true"></script>
    <script type="text/javascript">
        function fnDeleteClick(id) {

            $("#Delete-Link_" + id).show();
            $("#CancelDelete_" + id).show();
            $("#delete-links_" + id).hide();
            $("#CancelDelete_" + id).click(function () {
                $("#Delete-Link_" + id).hide();
                $("#CancelDelete_" + id).hide();
                $("#delete-links_" + id).show();
            });

        }
        $("#EditProfileModal").validate();
        $("#EditProfileModal").on('shown.bs.modal', function () {
            var file = $("#uploadprofile").val();
            if (file == null) {
            }

        });
        var file = $("#uploadprofile").val();

    </script>
    <script src="~/view-resources/Views/Common/Document.js"></script>

    <script src="~/view-resources/Views/Common/ProfileNote.js"></script>

    <script type="text/javascript">
        $('input[name="Restrict"]').on('change', function () {
            if ($(this).is(':checked')) {
                $(this).attr('value', 'true');
            } else {
                $(this).attr('value', 'false');
            }
        });




        var linkform = $('#RecommendedLinksCreateForm');

        linkform.validate();

        var docForm = $('#PartnerDocumentForm');

        docForm.validate();

    </script>
    <script type="text/javascript">
        if ($("#PrimaryPhone").val() == "0")
            $("#PrimaryPhone").val("");
        $("#PrimaryPhone").inputmask("+1 (999) 999-9999");
        $("#PrimaryPhone").inputmask({ removeMaskOnSubmit: true });
    </script>
}
<link href="~/Townsend/lib/dropzone/dropzone.css" rel="stylesheet" />
<link href="~/Townsend/lib/dropzone/basic.css" rel="stylesheet" />

<div class="customer-header">
    <div class="row padding customer-header-row">
        <div class="col-3" style="padding: 1%;">
            @if (Model.Partner.ProfilePathGet != null && Model.Partner.ProfilePathGet != "")
            {
                <div class="float-left">
                    <img class="customer-profile-image" src="@Model.Partner.ProfilePathSet" data-toggle="modal" data-target="#EditProfileModal" />
                </div>
            }
            else
            {

                <div class="customer-photo float-left">
                    <i class="fa fa-handshake fa-2x" data-toggle="modal" data-target="#EditProfileModal"></i>
                </div>
            }

            <div id="TitleInfo" class="customer-name float-right">
                <p id="partner-name">@(Model.Partner.FullName)</p>
                <p class="info-text-small">Added on @Model.Partner.CreationTime.Date.ToLongDateString()</p>
            </div>
        </div>

        <div class="col customer-header-right">
            <nav class="nav" role="tablist">
                @{
                    var partnerdocumenttabactiveclass = "";
                    var partnernotetabactiveclass = "";
                    var partnerdetailactiveclass = "";

                    if (TempData["documentTab"] != null && TempData["documentTab"].ToString() == "Documents")
                    {
                        partnerdocumenttabactiveclass = "active";
                    }
                    else if (TempData["partnertab"] != null && TempData["partnertab"].ToString() == "Notes")
                    {
                        partnernotetabactiveclass = "active";
                    }
                    else
                    {
                        partnerdetailactiveclass = "active";
                    }

                }
                <a class="nav-link @partnerdetailactiveclass" id="basic-info-tab" data-toggle="tab" href="#basic-info" role="tab">Partner Details</a>

                <a class="nav-link @partnerdocumenttabactiveclass" id="documents-info-tab" data-toggle="tab" href="#documents-info" role="tab">Documents</a>
                <a class="nav-link @partnernotetabactiveclass" id="notes-tab" data-toggle="tab" href="#notesTab" role="tab">Notes</a>



            </nav>
        </div>
    </div>
</div>

<div class="customer-body" id="partnerProfile">
    <div class="row padding h-100">
        <div id="ContactInfo" class="col-4 col-xl-3 customer-body-left">
            <div class="row padding customer-body-left-row contact-info">
                <div class="col">
                    <label class="custom-form-label">CONTACT INFO</label>
                    <div class="row">
                        <div class="col-1">
                            <div class="icon"><i class="fa fa-phone"></i></div>
                            <div class="icon"><i class="fa fa-envelope"></i></div>
                            <div class="icon"><i class="fa fa-map-marker"></i></div>
                        </div>
                        <div class="col">
                            <div class="icon">
                                @{

                                }
                                <a href="@(Model != null ? String.Format(Model.Partner.PhoneNumber,"tel:+01-###-###-####;;' '") : "")">
                                    @(Model != null ? String.Format(Model.Partner.PhoneNumber, "+1 (###) ###-####;;' '") : "")
                                </a>

                            </div>
                            <div class="icon">
                                <a href="@(Model != null ? "mailto:" + Model.Partner.Email : "")">
                                    @(Model != null ? Model.Partner.Email : "")
                                </a>
                            </div>
                            <div class="icon">@(String.IsNullOrWhiteSpace(Model.Partner.AddressLine1) ? "" : Model.Partner.AddressLine1 + ", ")@Model.Partner.AddressLine2</div>
                            <div class="icon">@(String.IsNullOrWhiteSpace(Model.Partner.City) ? "" : Model.Partner.City + ",")@Model.Partner.ZipCode</div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row padding customer-body-left-row contact-info">
                <div class="col">
                    <label class="custom-form-label">ABOUT ME</label>
                    <div class="row">
                        <div class="col bottom-padding">
                            @Model.Partner.AboutMe
                        </div>
                    </div>
                </div>
            </div>
            <div class="row padding customer-body-left-row contact-info">
                <div class="col">
                    <label class="custom-form-label">RECOMMENDED FOR MEMBER LINKS</label>
                    <div class="col" style="padding:0px">
                        @foreach (var link in Model.GetGetRecommendedLinks.RecommendedLinks)
                        {
                            <div class="rlink">
                                <h6><strong>@link.LinkName</strong></h6>
                                <p><strong>@link.Description</strong></p>
                                <h6><a title="@link.LinkUrl" href="@link.LinkUrl" target="_blank">@link.LinkType ></a></h6>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="col customer-body-right tab-content">
            @{
                var partnerdetailactive = "";

                if (TempData["partnertab"] != null && TempData["partnertab"].ToString() == "Documents")
                {
                    partnerdetailactive = "";
                }
                else if (TempData["partnertab"] != null && TempData["partnertab"].ToString() == "Notes")
                {
                    partnerdetailactive = "";
                }
                else
                {
                    partnerdetailactive = "show active";
                }

            }
            <div class="tab-pane @partnerdetailactive" id="basic-info" role="tabpanel">
                <div id="myAccountForm">
                    <div class="content-container">
                        <div class="card" style="margin-bottom: 35px;">
                            <form name="PartnerEditForm" asp-controller="Partners" asp-action="UpdatePartner" id="PartnerEditForm" role="form" novalidate class="form-validation">
                                <div class="card-header">
                                    <h2>Partner Details</h2>
                                    <div class="profile-action-btns-container">
                                        <button type="button" class="btn btn-secondary float-right h-100 icon-space" style="padding-left:10px;padding-right:10px;margin-right:15px" onclick="toggleConfirm(this)" id="edit-info"><i class="fas fa-pen"></i> EDIT INFO</button>
                                        <button type="submit" style="display: none;margin-right: 1em;" class="btn btn-success float-right h-100 EditBtn" id="EditBasicInfo"><i class='fas fa-save'></i> SAVE</button>
                                        <button data-action-link="true" data-view-loader-refresh="#myAccountForm" type="button" style="display: none;margin-right: 1em;" class="btn btn-secondary float-right h-100" onclick="toggleConfirm(this)" id="cancel-edit-info">CANCEL</button>
                                    </div>
                                    <div class="profile-action-btns-container">
                                        <a asp-action="Index" asp-controller="Partners" class="btn btn-secondary float-right h-100 icon-space">Back To Partner List</a>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="col-12">
                                        @Html.HiddenFor(x => x.Partner.Id)
                                        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <div id="validation-summary" class="text-danger" style="display: none">
                                            <ul></ul>
                                        </div>
                                        <div class="row" style="padding-bottom:20px">
                                            <div class="col-4">
                                                <label class="custom-form-label" for="FirstName">First Name<span class="astrisk">&nbsp;*</span></label>
                                                @*<input class="form-control info text-box single-line" data-val-required="The First Name field is required." required disabled="disabled" id="FirstName" name="FirstName" tabindex="1" type="text" value="@Model.Partner.FirstName">*@
                                                @Html.TextBoxFor(x => x.Partner.FirstName, new { @class = "form-control info text-box single-line", @disabled = "disabled" })
                                                <span asp-validation-for="@Model.Partner.FirstName" class="text-danger"></span>
                                            </div>
                                            <div class="col-4">
                                                <label class="custom-form-label" for="MiddleName">Middle Name</label>
                                                @*<input class="form-control info text-box single-line" disabled="disabled" id="MiddleName" name="MiddleName" tabindex="2" type="text" asp-for="Partner.MiddleName">*@
                                                @Html.TextBoxFor(x => x.Partner.MiddleName, new { @class = "form-control info text-box single-line", @disabled = "disabled" })
                                                <span asp-validation-for="@Model.Partner.MiddleName" class="text-danger"></span>
                                            </div>
                                            <div class="col-4">

                                                <label class="custom-form-label" for="LastName">Last Name<span class="astrisk">&nbsp;*</span></label>
                                                @Html.TextBoxFor(x => x.Partner.LastName, new { @class = "form-control info text-box single-line", @disabled = "disabled" })
                                                <span asp-validation-for="@Model.Partner.LastName" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="row" style="padding-bottom:20px">
                                            <div class="col-4">
                                                <label class="custom-form-label" for="AddressLine1">Address 1<span class="astrisk">&nbsp;*</span></label>
                                                @*<input class="form-control info text-box single-line" required disabled="disabled" id="AddressLine1" name="AddressLine1" tabindex="4" type="text" value="@Model.Partner.AddressLine1">*@
                                                @Html.TextBoxFor(x => x.Partner.AddressLine1, new { @class = "form-control info text-box single-line", @disabled = "disabled" })
                                                <span asp-validation-for="@Model.Partner.AddressLine1" class="text-danger"></span>
                                            </div>

                                            <div class="col-4">
                                                <label class="custom-form-label" for="AddressLine2">Address 2</label>
                                                @*<input class="form-control info text-box single-line" disabled="disabled" id="AddressLine2" name="AddressLine2" tabindex="5" type="text" value="@Model.Partner.AddressLine2">*@
                                                @Html.TextBoxFor(x => x.Partner.AddressLine2, new { @class = "form-control info text-box single-line", @disabled = "disabled" })
                                                <span asp-validation-for="@Model.Partner.AddressLine2" class="text-danger"></span>
                                            </div>

                                            <div class="col-4">
                                                <label class="custom-form-label" for="City">City<span class="astrisk">&nbsp;*</span></label>
                                                @*<input class="form-control info text-box single-line" data-val-required="The City field is required." required disabled="disabled" id="City" name="City" tabindex="6" type="text" value="@Model.Partner.City">*@
                                                @Html.TextBoxFor(x => x.Partner.City, new { @class = "form-control info text-box single-line", @disabled = "disabled" })
                                                <span asp-validation-for="@Model.Partner.City" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="row" style="padding-bottom:20px">


                                            <div class="col-4">
                                                <label class="custom-form-label" for="State">State<span class="astrisk">&nbsp;*</span></label>
                                                @Html.DropDownListFor(x => x.Partner.State, new SelectList(@ViewBag.SelectedListOfState, "Id", "StateName", Model.Partner.State), "--Select State--", new { @class = "form-control info text-box single-line", @disabled = "disabled", @id = "State" })
                                                <span asp-validation-for="@Model.Partner.State" class="text-danger"></span>
                                            </div>

                                            <div class="col-4">
                                                <label class="custom-form-label" for="ZipCode">ZipCode<span class="astrisk">&nbsp;*</span></label>
                                                @*<input class="form-control info text-box single-line" data-val-required="The ZipCode field is required." required disabled="disabled" id="ZipCode" name="ZipCode" tabindex="9" type="text" value="@Model.Partner.ZipCode">*@
                                                @Html.TextBoxFor(x => x.Partner.ZipCode, new { @class = "form-control info text-box single-line", @id = "Zipcode", @disabled = "disabled", @maxlength = "5", @minlength = "5" })
                                                <span asp-validation-for="@Model.Partner.ZipCode" class="text-danger"></span>
                                            </div>
                                            <div class="col-4">
                                                <label class="custom-form-label" for="Email">Email Address<span class="astrisk">&nbsp;*</span></label>
                                                @*<input class="form-control info text-box single-line" data-val-required="The Email field is required." required disabled="disabled" id="Email" name="Email" tabindex="11" type="email" value="@Model.Partner.Email">*@
                                                @Html.TextBoxFor(x => x.Partner.Email, new { @class = "form-control info text-box single-line", @disabled = "disabled", @id = "Email" })
                                                <span asp-validation-for="@Model.Partner.Email" class="text-danger"></span>
                                                <span class="text-danger CheckEmailValidation" id="CheckEmailValidation"></span>
                                            </div>
                                        </div>
                                        <div class="row" style="padding-bottom:20px">

                                            <div class="col-4">
                                                <label class="custom-form-label" for="PhoneNumber">Phone Number<span class="astrisk">&nbsp;*</span></label>
                                                @*<input class="form-control info tet-box single-line" data-val-required="The PhoneNumber field is required." required disabled="disabled" id="PrimaryPhone" name="PhoneNumber" tabindex="12" type="text" value="@Model.Partner.PhoneNumber">*@
                                                @Html.TextBoxFor(x => x.Partner.PhoneNumber, new { @class = "form-control info text-box single-line", @disabled = "disabled", @id = "PrimaryPhone" })
                                                <span asp-validation-for="@Model.Partner.PhoneNumber" class="text-danger"></span>
                                                <span id="ValidationPhoneNumber" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <input type="hidden" name="ProfilePath" value="@Model.Partner.ProfilePathGet" />
                                        <div class="row" style="padding-bottom:20px">
                                            <div class="col-12">
                                                <label class="custom-form-label">About Me</label>
                                                @*<textarea class="form-control info text-box single-line" disabled="disabled" asp-for="Partner.AboutMe" name="AboutMe" rows="3"></textarea>*@
                                                @Html.TextAreaFor(x => x.Partner.AboutMe, new { @class = "form-control info text-box single-line", @disabled = "disabled", @rows = "3" })
                                                <span asp-validation-for="@Model.Partner.AboutMe" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                @await Component.InvokeAsync(typeof(RecommendedLinksViewComponent), new { id = Model.Partner.Id })
            </div>
            @await Component.InvokeAsync(typeof(DocumentViewComponent), new { id = Model.Partner.Id, type = EntityType.Partners })
            @await Component.InvokeAsync(typeof(ProfileNoteViewComponent), new { id = Model.Partner.Id, type = EntityType.Partners })
        </div>
    </div>
</div>



<div class="modal fade" id="RecommendedLinksCreateModal" tabindex="-1" role="dialog" aria-labelledby="RecommendedLinksCreateLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <form method="post" name="RecommendedLinksCreateForm" enctype="multipart/form-data" asp-controller="Partners" asp-action="CreateRecommendedLink" id="RecommendedLinksCreateForm" role="form" novalidate class="form-validation">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">ADD A RECOMMENDED LINK</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-labelledby="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div id="validation-summary" class="text-danger" style="display: none">
                        <ul></ul>
                    </div>
                    <div style="display:none">
                        <input type="hidden" value="@Model.Partner.Id" name="PartnerId" />
                    </div>
                    <div class="row form-group">
                        <div class="col-12">
                            <label class="custom-form-label">Link Type</label>
                            <select class="form-control" name="LinkType">
                                <option disabled>--Link Type--</option>
                                <option value="Show All">Show All</option>
                                <option value="Audio">Audio</option>
                                <option value="Book">Book</option>
                                <option value="Course">Course</option>
                                <option value="Document">Document</option>
                                <option value="Other">Other</option>
                                <option value="Video">Video</option>
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-12">
                            <label class="custom-form-label" for="ExternalResourceName">Link Name</label>
                            <input class="form-control text-box single-line" name="LinkName" required type="text" value="">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-12">
                            <label class="custom-form-label" for="Description">Description</label>
                            <textarea class="form-control text-box single-line" name="Description" required></textarea>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-12">
                            <label class="custom-form-label" for="LinkUrl">Link Url</label>
                            <input type="url" class="form-control text-box single-line" required name="LinkUrl" />
                        </div>
                    </div>
                    <div class="row form-group" style="display: none">
                        <div class="col-sm-6">

                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-sm" id="add-note">Add<span id="spinner" style="display: none"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i></span></button>
                    <button type="button" class="btn btn-dark btn-sm" data-dismiss="modal">CLOSE</button>

                </div>
            </div>
        </form>
    </div>
</div>


<div class="modal fade" id="EditProfileModal" tabindex="-1" role="dialog" aria-labelledby="PartnerCreateModalLabel" data-backdrop="static">
    <div class="modal-dialog">
        <form typeof="post" asp-controller="Partners" asp-action="UploadProfile" id="EditProfileModal" enctype="multipart/form-data">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Profile</h5>

                    <button type="button" class="close" data-dismiss="modal" aria-labelledby="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" value="@Model.Partner.Id" name="PartnerId" />
                    @if (Model.Partner.ProfilePathGet == null)
                    {
                        <h6 class="custom-form-label">No Profile Image</h6>
                    }
                    else
                    {
                        <img src="@Model.Partner.ProfilePathSet" style="width:200px;height:200px" />
                    }
                    <input type="file" required accept=".jpeg,.jpg,.png,.gif,.raw,.svg,.webp,.tiff,.bmp" id="uploadprofile" name="ProfileImage" />
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-sm">ADD<span id="spinner" style="display: none"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i></span></button>
                    <button type="button" class="btn btn-dark btn-sm" data-dismiss="modal">CLOSE</button>
                </div>
            </div>
        </form>
    </div>
</div>
