﻿@model TownSend.Web.Models.Partners.PartnerListViewModel

@section Scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
         var checkPermission = '@IsGranted("Pages.Partners.Delete")';
    </script>
    <script src="~/view-resources/Views/Partners/Index.js" asp-append-version="true"></script>

    <script type="text/javascript">
       
    </script>

}

<div class="content">
    <div class="row padding list-header">
        <div class="col-4">
            <h2>Partner List</h2>
        </div>
        @if (IsGranted("Pages.Partners.Create"))
        {
            <div class="col-2 offset-md-6">
                <button class="btn btn-secondary float-right text-uppercase icon-space" data-toggle="modal" data-target="#PartnerCreateModal"><i class="fas fa-plus-circle"></i>Add a Partner</button>
            </div>
        }
    </div>
    <hr />
    @{
        if (Model != null)
        {
            if (Model.Partners != null && Model.Partners.Any())
            {

                <table class="table table-hover dataTableClass" id="">
                    <thead class="table-header-dark">
                        <tr>
                            <th scope="col">FULL NAME</th>
                            <th scope="col">PHONE NUMBER</th>
                            <th scope="col">EMAIL</th>

                            <th class="hidden-col no-sort"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var partner in Model.Partners)
                        {
                            <tr>

                                <td class="td-first-col">@partner.FullName </td>
                                <td><a href="@partner.PhoneNumber.ToString("tel:+01-###-###-####;;' '")">@partner.PhoneNumber.ToString("+1 (###) ###-####;;' '")</a></td>
                                <td><a href="@(!string.IsNullOrWhiteSpace(partner.Email) ? "mailto" + partner.Email : "")">@partner.Email</a></td>

                                <td>
                                    @if (IsGranted("Pages.Partners.Delete"))
                                    {
                                        <a class="btn btn-secondary float-right delete-partner" onclick="deletePartner(@partner.Id)" style="margin-left: 10px" data-partner-id="@partner.Id" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fas fa-trash"></i></a>
                                    }
                                    <a class="btn btn-secondary float-right" style="margin-left: 10px" asp-controller="Partners" asp-action="EditPartner" asp-route-id="@partner.Id" data-partner-id="@partner.Id" data-toggle="tooltip" data-placement="top" title="View Profile"><i class="fas fa-eye"></i></a>


                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            }
            else
            {
                <div class="col-lg-12">
                    <div id="noMatch" class="alert alert-info alert-dismissible">No data matching specified constraints found.</div>
                </div>
            }
        }
        else
        {
            <div class="col-lg-12">
                <div id="noFilter" class="alert alert-info alert-dismissible">No filter set. Please set a filter.</div>
            </div>
        }
    }
</div>
<div class="modal fade" id="PartnerCreateModal" tabindex="-1" role="dialog" aria-labelledby="PartnerCreateModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-uppercase">Add a Partner</h5>
                <button type="button" class="close" data-dismiss="modal" aria-labelledby="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form name="partnerCreateForm" id="PartnerForm" enctype="multipart/form-data" role="form" asp-controller="Partners" asp-action="CreatePartner" novalidate class="form-validation" autocomplete="off">
                
                <div class="modal-body">                 
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="row form-group">
                        <div class="col-md-6">
                            <label class="custom-form-label" for="FirstName">First Name<span class="astrisk">&nbsp;*</span></label>
                            @Html.TextBoxFor(x=>x.CreatePartner.FirstName,new {@class="validate form-control" })                                                        
                            <span asp-validation-for="@Model.CreatePartner.FirstName" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label class="custom-form-label" for="LastName">Last Name<span class="astrisk">&nbsp;*</span></label>
                            @Html.TextBoxFor(x => x.CreatePartner.LastName, new { @class = "validate form-control" })
                            @*<input id="LastName" type="text" name="LastName" asp-for="CreatePartner.LastName" required maxlength="150" minlength="2" class="validate form-control">*@
                            <span asp-validation-for="@Model.CreatePartner.LastName" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-6">
                            <label class="custom-form-label" for="Email">Email<span class="astrisk">&nbsp;*</span></label>
                           @* <input id="Email" type="email" asp-for="CreatePartner.Email" name="Email" required class="form-control" />*@
                            @Html.TextBoxFor(x => x.CreatePartner.Email, new { @class = "validate form-control", @id="Email" })
                            <span asp-validation-for="@Model.CreatePartner.Email" class="text-danger"></span>
                            <span class="text-danger" id="CheckEmailValidation"></span>
                        </div>
                        @*//changes*@
                    <div class="col-md-6">
                        <label class="custom-form-label" for="PhoneNumber" daa-format="">Phone Number<span class="astrisk">&nbsp;*</span></label>
                        @Html.TextBoxFor(x => x.CreatePartner.PhoneNumber, new { @class = "validate form-control" ,@id="PhoneNumber" })
                        <span id="ValidationPhoneNumber" class="text-danger"></span>
                        <span asp-validation-for="@Model.CreatePartner.PhoneNumber" class="text-danger"></span>
                    </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-6">
                            <label class="custom-form-label" for="AddressLine1">Address Line 1<span class="astrisk">&nbsp;*</span></label>
                            @Html.TextBoxFor(x => x.CreatePartner.AddressLine1, new { @class = "validate form-control" })
                            <span asp-validation-for="@Model.CreatePartner.AddressLine1" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label class="custom-form-label" for="AddressLine2">Address Line 2</label>
                            @Html.TextBoxFor(x => x.CreatePartner.AddressLine2, new { @class = "validate form-control" })
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-4">
                            <label class="custom-form-label" for="City">City<span class="astrisk">&nbsp;*</span></label>
                            @Html.TextBoxFor(x => x.CreatePartner.City, new { @class = "validate form-control" })
                            <span asp-validation-for="@Model.CreatePartner.City" class="text-danger"></span>
                        </div>

                        @* DropDown For State*@
                        <div class="col-md-4">
                            <label class="custom-form-label" for="State">State<span class="astrisk">&nbsp;*</span></label>
                            @Html.DropDownListFor(x=>x.CreatePartner.State,new SelectList(@ViewBag.ListOfState, "Id","StateName"), "--Select State--",new {@class="form-control" })
                            @*<select name="State" class="form-control" asp-for="CreatePartner.State"
                                                   asp-items="@(new SelectList(@ViewBag.ListOfState, "Id","StateName"))" id="State" required>
                                <option value="">Select State</option>
                            </select>*@
                            <span asp-validation-for="@Model.CreatePartner.State" class="text-danger"></span>                  
                        </div>
                        <div class="col-md-4">
                            <label class="custom-form-label" for="ZipCode">Zip Code<span class="astrisk">&nbsp;*</span></label>
                            @Html.TextBoxFor(x => x.CreatePartner.ZipCode, new { @class = "validate form-control",@id="Zipcode", @maxlength="5", @minlength="5"  })
                            <span asp-validation-for="@Model.CreatePartner.ZipCode" class="text-danger"></span>
                        </div>
                    </div>
                    @* ZipCodeValidation Task2 *@
                </div>
                <div class="modal-footer">
                    <button type="submit" id="CreateBtn" class="btn btn-primary text-uppercase">Add <span id="spinner" style="display: none"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i></span></button>
                    <button onclick="reloadpage()" type="button" class="btn btn-dark text-uppercase" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="PartnerEditModal" tabindex="-1" role="dialog" aria-labelledby="PartnerEditModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>