﻿
    <script>       
        function toggleConfirm(button) {
            let buttons = $(button).parent().children("button");
            var form = $(button).parents('form');
            if ($(button).is(buttons.first())) {
                $(button).hide();
                $(buttons[1]).show();
                $(buttons.last()).show();
                //$(".info").find('input[type=text]:first').focus();
                $(form).find(".info").find('input[type=text]:first').focus();
            }
            else if ($(button).is(buttons.last())) {
                $(buttons[1]).hide();
                $(buttons.last()).hide();
                $(buttons.first()).show();

            }

            $(form).find(".info").prop("disabled", function (i, v) { return !v; });
            $(form).find(".dropdown-toggle").toggleClass("disabled");
            //$(".info").prop("disabled", function (i, v) { return !v; });
            //$(".dropdown-toggle").toggleClass("disabled");
        }
    </script>

<button type="button" class="btn btn-secondary float-right h-100 icon-space" style="padding-left:10px;padding-right:10px;margin-right:15px" onclick="toggleConfirm(this)" id="edit-info"><i class="fas fa-pen"></i> EDIT INFO</button>
<button type="submit" style="display: none;margin-right: 1em;" class="btn btn-success float-right h-100 EditBtn" id="EditBasicInfo"><i class='fas fa-save'></i> SAVE</button>
<button data-action-link="true" data-view-loader-refresh="#myAccountForm" type="button" style="display: none;margin-right: 1em;" class="btn btn-secondary float-right h-100" onclick="toggleConfirm(this)" id="cancel-edit-info">CANCEL</button>