﻿<header>
    <nav class="navbar fixed-top navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <a asp-controller="Home" asp-action="Index" class="navbar-brand"><img style="margin-left:10px;width:150px;height:60px" src="~/Townsend/images/mytlg-header-logo.png" /></a>
    </nav>
</header>
