﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<header>
    <nav class="navbar fixed-top navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <a href="/Member/MemberList/" class="navbar-brand"><img style="margin-left:10px;width:150px;height:60px" src="~/Townsend/images/mytlg-header-logo.png" /></a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            @*<span class="sr-only">@_sharedLocalizer.GetString("Toggle navigation")</span>*@
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav ml-auto">
            @*<li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-user fa-lg"></i></a>
            </li>*@
            <li class="nav-item dropdown">
                <a asp-controller="Account" asp-action="MyAccount" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:#0D5080;">
                    <strong>My Account</strong>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" style="color: #212529">Account Settings</a>
                    <div class="dropdown-divider"></div>
                    <form asp-controller="Account" asp-action="Logout" method="post">
                        <button type="submit" class="dropdown-item">Logout</button>
                    </form>
                </div>
            </li>
            @*<li class="nav-item custom-nav-divider">
                <span></span>
            </li>*@

            @*<li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-list-ul fa-lg"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-comments fa-lg"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-envelope fa-lg"></i></a>
            </li>*@
        </ul>
    </nav>
</header>
