﻿@using System.Globalization
@using Abp.Configuration
@using Abp.Configuration.Startup
@using Abp.Web.Mvc.Alerts
@using Abp.Web.Security.AntiForgery
@using TownSend
@using TownSend.Configuration
@using TownSend.Web.Resources
@using TownSend.Web.Views.Shared.Components.SideBarNav
@using TownSend.Web.Views.Shared.Components.SideBarUserArea
@using TownSend.Web.Views.Shared.Components.TopBarLanguageSwitch
@using TownSend.Web.Views.Shared.Components.RightSideBar
@using TownSend.Url

@inject TownSend.Timing.AppTimes AppTimes
@inject IAbpAntiForgeryManager AbpAntiForgeryManager
@inject IMultiTenancyConfig MultiTenancyConfig
@inject IWebResourceManager WebResourceManager
@inject IAlertManager AlertManager
@inject IWebUrlService WebUrlService
@{
    Layout = null;
    AbpAntiForgeryManager.SetCookie(Context);
    var uiTheme = await SettingManager.GetSettingValueAsync(AppSettingNames.UiTheme);

}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @*Added By Nikhil*@
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] - MyTLG</title>



    @*<environment exclude="Development">
            <script src="~/lib/jquery/jquery.min.js"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
            <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
            <script src="~/lib/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.min.js"></script>
            <script src="~/lib/jquery.fileDownload/jquery.fileDownload.min.js"></script>
            <script src="~/js/jquery-growl/js/jquery.growl.js"></script>
            <script src="~/js/hubone-ViewLoader.js"></script>
            <script src="~/js/mmenu.js"></script>
        </environment>*@

    <!-- Begin: Create the side menu (mmenu.js) -->
    <!-- End: Create the side menu (mmenu.js) -->
    @*<environment exclude="Development">
            <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
            <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
            <script src="~/js/site.min.js"></script>
        </environment>*@

    <link rel="stylesheet" href="~/Townsend/css/bootstrap.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="~/Townsend/lib/jquery-datetimepicker//jquery.datetimepicker.min.css">
    <link rel="stylesheet" href="~/Townsend/js/jquery-growl/css/jquery.growl.css" />
    <link rel="stylesheet" href="~/Townsend/lib/datatables/css/dataTables.bootstrap4.css" />
    <link rel="stylesheet" href="~/Townsend/lib/datatables/css/dataTables.jqueryui.css" />
    <link rel="stylesheet" href="~/Townsend/css/mmenu.css" />
    <link rel="stylesheet" href="~/Townsend/css/site.css" />
    <link href="~/Townsend/css/custom.css" rel="stylesheet" />
    <link href="~/Townsend/lib/dropzone/dropzone.css" rel="stylesheet" />

    @*<environment exclude="Development">
            <link rel="stylesheet" href="~/css/bootstrap.min.css" />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
            <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
            <link rel="stylesheet" href="~/js/jquery-growl/css/jquery.growl.css" />
            <link rel="stylesheet" href="~/css/mmenu.css" />
            <link rel="stylesheet" href="~/css/site.min.css" />
            <link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
            <link href="~/lib/datatables/css/dataTables.jqueryui.min.css" rel="stylesheet" />
        </environment>*@

    @RenderSection("styles", required: false)

    <script type="text/javascript">
        // This is used to get the application's root path from javascript. It's useful if you're running application in a virtual directory under IIS.
        var abp = abp || {};
        abp.appPath = '@ApplicationPath';
    </script>
</head>
<body>
    <partial name="_HeaderBeforeLogin" />
    <div id="hubone-page-wrapper">
        <div class="container">
            @RenderBody()
        </div>
        <footer class="border-top card-footer text-muted">
            <div class="container d-flex justify-content-center align-items-center">
                <span style="color: grey; font-size: 11px;">&copy; 2014-@DateTime.UtcNow.Year Flowmark Systems, Inc. - All Rights Reserved</span>
            </div>
        </footer>
    </div>
    @*<partial name="_LeftNav" />*@
    <script>(function (w, d, s) { w._uptime_rum = {}; w._uptime_rum.uuid = '9C5G-4B55AC5C1989ED03'; w._uptime_rum.url = 'https://rum.uptime.com/rum/record-data'; s = document.createElement('script'); s.async = 1; s.src = 'https://uptime.com/static/rum/compiled/rum.js'; d.getElementsByTagName('head')[0].appendChild(s); })(window, document);</script>


    <script src="~/lib/json2/json2.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>
    <script src="~/lib/moment/min/moment-with-locales.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js" asp-append-version="true"></script>
    <script src="~/lib/blockUI/jquery.blockUI.js" asp-append-version="true"></script>
    <script src="~/lib/toastr/toastr.js" asp-append-version="true"></script>
    <script src="~/lib/sweetalert/dist/sweetalert.min.js" asp-append-version="true"></script>
    <script src="~/lib/spin.js/spin.js" asp-append-version="true"></script>
    <script src="~/lib/spin.js/jquery.spin.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap-select/dist/js/bootstrap-select.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-slimscroll/jquery.slimscroll.js" asp-append-version="true"></script>
    <script src="~/lib/Waves/dist/waves.js" asp-append-version="true"></script>
    <script src="~/lib/push.js/push.js" asp-append-version="true"></script>
    <script src="~/lib/abp-web-resources/Abp/Framework/scripts/abp.js" asp-append-version="true"></script>
    <script src="~/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.jquery.js" asp-append-version="true"></script>
    <script src="~/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.toastr.js" asp-append-version="true"></script>
    <script src="~/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.blockUI.js" asp-append-version="true"></script>
    <script src="~/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.spin.js" asp-append-version="true"></script>
    <script src="~/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.sweet-alert.js" asp-append-version="true"></script>
    <script src="~/js/admin.js" asp-append-version="true"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>
    @*<script src="~/view-resources/Views/Shared/_Layout.js" asp-append-version="true"></script>*@
    @*<script src="~/lib/jquery-growl/javascripts/jquery.growl.js"></script>*@
    <script src="~/Townsend/lib/jquery/jquery.js"></script>
    <script src="~/Townsend/js/customjs.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/Townsend/lib/jquery-datetimepicker/jquery.datetimepicker.full.min.js"></script>
    <script src="~/Townsend/lib/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    <script src="~/Townsend/lib/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Townsend/lib/jquery.fileDownload/jquery.fileDownload.js"></script>
    <script src="~/Townsend/js/jquery-growl/js/jquery.growl.js"></script>
    <script src="~/Townsend/js/hubone-ViewLoader.js"></script>
    <script src="~/Townsend/js/mmenu.js"></script>
    <script src="~/Townsend/lib/jquery.inputmask/jquery.inputmask.bundle.min.js"></script>
    <script src="~/Townsend/lib/datatables/js/jquery.dataTables.js"></script>
    <script src="~/Townsend/lib/datatables/js/dataTables.bootstrap4.js"></script>
    <script src="~/Townsend/js/site.js"></script>
    @*<script src="~/Townsend/lib/dropzone/dropzone.js"></script>*@
    @*<script src="~/Townsend/lib/dropzone/dropzone-amd-module.js"></script>*@
    <!-- Dynamic scripts of ABP system (They are created on runtime and can not be bundled) -->
    <script src="~/AbpServiceProxies/GetAll?v=@(AppTimes.StartupTime.Ticks)" type="text/javascript"></script>
    <script src="~/AbpScripts/GetScripts?v=@(AppTimes.StartupTime.Ticks)" type="text/javascript"></script>

    <script src="~/lib/signalr-client/signalr.min.js" asp-append-version="true"></script>
    <script src="~/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.signalr-client.js" asp-append-version="true"></script>
    <script src="~/view-resources/Views/Shared/Message.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.4.0/bootbox.min.js" asp-append-version="true"></script>
    <script src="~/js/Common.js"></script>

    <script src="~/view-resources/Views/Shared/Message.js" asp-append-version="true"></script>
    @if (TempData["Type"] != null && TempData["Message"] != null)
    {
        <script type="text/javascript">
            showMessage('@TempData["Type"]','@TempData["Message"]');
        </script>
    }
    @WebResourceManager.RenderScripts()

    @RenderSection("scripts", required: false)
</body>
</html>
