﻿@*@using TownSend.Web.Views.Shared.Components.SideBarNav
    @await Component.InvokeAsync(typeof(SideBarNavViewComponent), new { activeMenu = ViewBag.CurrentPageName })*@

    <section class="icon-bar-overwrite">
        <a style='display:block;height:70px;width:64px;'></a>
        <a id='open-menu' href='#my-menu' class='icon-bar-overwrite-icon'><i class='fa fa-bars'></i></a>
        @if (IsGranted("Pages.Members"))
    {
        <a asp-controller="Members" asp-action="Index" class="icon-bar-overwrite-icon" data-toggle="tooltip" data-placement="right" title="Members"><i class="fa fa-user"></i></a>
    }
        @if (IsGranted("Pages.Partners"))
    {
        <a asp-controller="Partners" asp-action="Index" class="icon-bar-overwrite-icon" data-toggle="tooltip" data-placement="right" title="Partners"><i class="fa fa-handshake"></i></a>
    }
        @if (IsGranted("Pages.Teams"))
    {
        <a href="javascript: openSubMenu('Teams');" class="icon-bar-overwrite-icon" data-toggle="tooltip" data-placement="right" title="Teams"><i class="fa fa-users"></i></a>
    }
        @if (IsGranted("Pages.Meetings"))
    {
        <a asp-controller="" asp-action="" class="icon-bar-overwrite-icon" data-toggle="tooltip" data-placement="right" title="Meetings"><i class="fa fa-calendar-alt"></i></a>
    }
        @if (IsGranted("Pages.Dashboard"))
    {
        <a asp-controller="" asp-action="" class="icon-bar-overwrite-icon" data-toggle="tooltip" data-placement="right" title="Dashboards"><i class="fa fa-chart-bar"></i></a>
    }
        @if (IsGranted("Pages.Reports"))
    {
        <a asp-controller="" asp-action="" class="icon-bar-overwrite-icon" data-toggle="tooltip" data-placement="right" title="Donate"><i class="fa fa-donate"></i></a>
    }
        @if (IsGranted("Pages.Referrals"))
    {
        <a asp-controller="" asp-action="" class="icon-bar-overwrite-icon" data-toggle="tooltip" data-placement="right" title="Referrals"><i class="fa fas fa-user-plus"></i></a>
    }
        @if (IsGranted("Pages.Scholarships"))
    {
        @*<a asp-controller="" asp-action="" class="icon-bar-overwrite-icon" data-toggle="tooltip" data-placement="right" title="Scholarships"><i class="fa fas fa-graduation-cap"></i></a>*@
        <a href="javascript: openSubMenu('Scholarships');" class="icon-bar-overwrite-icon" data-toggle="tooltip" data-placement="right" title="Scholarships"><i class="fa fas fa-graduation-cap"></i></a>
    }
        @if (IsGranted("Pages.FileManager"))
    {
        <a asp-controller="" asp-action="" class="icon-bar-overwrite-icon" data-toggle="tooltip" data-placement="right" title="File Manager"><i class="fa fas fa-folder-open"></i></a>
    }
        @if (IsGranted("Pages.ExpenseManager"))
    {
        <a asp-controller="" asp-action="" class="icon-bar-overwrite-icon" data-toggle="tooltip" data-placement="right" title="Expense Manager"><i class="fa fas fa-file-invoice-dollar"></i></a>
    }
        @if (IsGranted("Pages.AdminUses"))
    {
        <a href="javascript: openSubMenu('Admins')" class="icon-bar-overwrite-icon" data-toggle="tooltip" data-placement="right" title="Admin"><i class="fa fas fa-tools"></i></a>
    }

        @*<a id='open-menu' href='#my-menu' class='icon-bar-overwrite-icon'><i class='fa fa-bars'></i></a>

        <a asp-controller="Members" asp-action="Index" class="icon-bar-overwrite-icon" data-toggle="tooltip" data-placement="right" title="Members"><i class="fa fa-user"></i></a>
        <a asp-controller="Partners" asp-action="Index" class="icon-bar-overwrite-icon" data-toggle="tooltip" data-placement="right" title="Partners"><i class="fa fa-handshake"></i></a>
        <a asp-controller="" asp-action="" class="icon-bar-overwrite-icon" data-toggle="tooltip" data-placement="right" title="Teams"><i class="fa fa-users"></i></a>

        <a asp-controller="" asp-action="" class="icon-bar-overwrite-icon" data-toggle="tooltip" data-placement="right" title="Meetings"><i class="fa fa-calendar-alt"></i></a>

        <a asp-controller="" asp-action="" class="icon-bar-overwrite-icon" data-toggle="tooltip" data-placement="right" title="Dashboards"><i class="fa fa-chart-bar"></i></a>

        <a asp-controller="" asp-action="" class="icon-bar-overwrite-icon" data-toggle="tooltip" data-placement="right" title="Donate"><i class="fa fa-donate"></i></a>
        <a asp-controller="" asp-action="" class="icon-bar-overwrite-icon" data-toggle="tooltip" data-placement="right" title="Referrals"><i class="fa fas fa-user-plus"></i></a>
        <a asp-controller="" asp-action="" class="icon-bar-overwrite-icon" data-toggle="tooltip" data-placement="right" title="Scholarships"><i class="fa fas fa-graduation-cap"></i></a>
        <a asp-controller="" asp-action="" class="icon-bar-overwrite-icon" data-toggle="tooltip" data-placement="right" title="File Manager"><i class="fa fas fa-folder-open"></i></a>
        <a asp-controller="" asp-action="" class="icon-bar-overwrite-icon" data-toggle="tooltip" data-placement="right" title="Expense Manager"><i class="fa fas fa-file-invoice-dollar"></i></a>
        <a asp-controller="" asp-action="" class="icon-bar-overwrite-icon" data-toggle="tooltip" data-placement="right" title="Admin"><i class="fa fas fa-tool"></i></a>*@



    </section>


@*@inject TownSend.Web.Views.Shared.Components.Navigation.HubOneNavigation navMenu
    <section class="icon-bar-overwrite">
        <a style='display:block;height:70px;width:64px;'></a>
        <a id='open-menu' href='#my-menu' class='icon-bar-overwrite-icon'><i class='fa fa-bars'></i></a>
        @foreach (var navItem in navMenu.NavMenuList)
        {
            // Only add icon for top level nav items
            if (navItem.NavParentId == 0)
            {
                if (navItem.childNavigation == null || navItem.childNavigation.Count == 0)
                {
                    <a href="@navItem.PageLink" class="icon-bar-overwrite-icon" data-toggle="tooltip" data-placement="right" title="@navItem.NavName"><i class="fa @navItem.NavIcon"></i></a>
                }
                else
                {
                    <a href="javascript: openSubMenu('@navItem.Id');" class="icon-bar-overwrite-icon active" data-toggle="tooltip" data-placement="right" title="@navItem.NavName"><i class="fa @navItem.NavIcon"></i></a>
                }
            }

        }
    </section>*@
