﻿@*@using TownSend.Web.Views.Shared.Components.SideBarNav
@await Component.InvokeAsync(typeof(SideBarNavViewComponent), new { activeMenu = ViewBag.CurrentPageName })*@

<nav id="my-menu">
    <ul>
        <li></li>
        @if (IsGranted("Pages.Members"))
        {
            <li><a asp-controller="" asp-action=""><strong>Members</strong></a></li>
        }
        @if (IsGranted("Pages.Partners"))
        {
            <li><a asp-controller="Partners" asp-action="Index"><strong>Partners</strong></a></li>
        }
        @if (IsGranted("Pages.Teams"))
        {
            <li id="Teams">
                <span><strong>Teams</strong></span>
                <ul>
                    <li><a asp-controller="Teams" asp-action="Index"><strong>TLP Teams</strong></a></li>
                    <li><a asp-controller="" asp-action=""><strong>Coaching</strong></a></li>
                    <li><a asp-controller="" asp-action=""><strong>Consulting</strong></a></li>
                </ul>
            </li>
        }
        @if (IsGranted("Pages.Meetings"))
        {
            <li><a asp-controller="" asp-action=""><strong>Meetings</strong></a></li>
        }
        @if (IsGranted("Pages.Dashboard"))
        {
            <li><a asp-controller="" asp-action=""><strong>Dashboard</strong></a></li>
        }
        @if (IsGranted("Pages.Reports"))
        {
            <li>
                <span><strong>Reports</strong></span>
                <ul>
                    <li><a asp-controller="" asp-action=""><strong>Payment Summary</strong></a></li>
                    <li><a asp-controller="" asp-action=""><strong>Member Payment Logs</strong></a></li>
                </ul>
            </li>
        }
        @if (IsGranted("Pages.Referrals"))
        {
            <li>
                <span><strong>Referrals</strong></span>
                <ul>
                    <li>
                        <span><strong>Referral Registration</strong></span>
                        <ul>
                            <li><a asp-controller="" asp-action=""><strong>Partner Referral</strong></a></li>
                            <li><a asp-controller="" asp-action=""><strong>TLP Teams Referral</strong></a></li>
                            <li><a asp-controller="" asp-action=""><strong>Coaching Referral</strong></a></li>
                            <li><a asp-controller="" asp-action=""><strong>Consulting Referral</strong></a></li>
                            <li><a asp-controller="" asp-action=""><strong>Essential Work</strong></a></li>
                        </ul>
                    </li>
                    <li><a asp-controller="" asp-action=""><strong>Refferal Listing</strong></a></li>
                </ul>
            </li>
        }
        @if (IsGranted("Pages.Scholarships"))
        {
            <li id="Scholarships">
                <span><strong>Scholarships</strong></span>
                <ul>
                    <li><a asp-controller="Scholarship" asp-action="Register"><strong>Scholarship Registration</strong></a></li>
                    @if (IsGranted("Pages.Scholarships"))
                    {
                        <li><a asp-controller="Scholarship" asp-action="List"><strong>Scholarship List</strong></a></li>
                    }
                </ul>
            </li>
        }
        @if (IsGranted("Pages.FileManager"))
        {
            <li><a asp-controller="" asp-action=""><strong>File Manager</strong></a></li>
        }
        @if (IsGranted("Pages.ExpenseManager"))
        {
            <li><a asp-controller="" asp-action=""><strong>Expense Manager</strong></a></li>
        }
        @if (IsGranted("Pages.AdminUses"))
        {
            <li id="Admins">
                <span><strong>Admin</strong></span>
                <ul>
                    <li><a asp-controller="Users" asp-action="Index"><strong>User Listing</strong></a></li>
                    <li><a asp-controller="Roles" asp-action="Index"><strong>Role Listing</strong></a></li>
                </ul>
            </li>
        }
            @*<li></li>
            <li><a asp-controller="" asp-action=""><strong>Members</strong></a></li>
            <li><a asp-controller="Partners" asp-action="Index"><strong>Partners</strong></a></li>
            <li>
                <span><strong>Teams</strong></span>
                <ul>
                    <li><a asp-controller="Teams" asp-action="Index"><strong>TLP Teams</strong></a></li>
                    <li><a asp-controller="" asp-action=""><strong>Coaching</strong></a></li>
                    <li><a asp-controller="" asp-action=""><strong>Consulting</strong></a></li>
                </ul>
            </li>
            <li><a asp-controller="" asp-action=""><strong>Meetings</strong></a></li>
            <li><a asp-controller="" asp-action=""><strong>Dashboard</strong></a></li>
            <li>
                <span><strong>Reports</strong></span>
                <ul>
                    <li><a asp-controller="" asp-action=""><strong>Payment Summary</strong></a></li>
                    <li><a asp-controller="" asp-action=""><strong>Member Payment Logs</strong></a></li>
                </ul>
            </li>
            <li>
                <span><strong>Referrals</strong></span>
                <ul>
                    <li>
                        <span><strong>Referral Registration</strong></span>
                        <ul>
                            <li><a asp-controller="" asp-action=""><strong>Partner Referral</strong></a></li>
                            <li><a asp-controller="" asp-action=""><strong>TLP Teams Referral</strong></a></li>
                            <li><a asp-controller="" asp-action=""><strong>Coaching Referral</strong></a></li>
                            <li><a asp-controller="" asp-action=""><strong>Consulting Referral</strong></a></li>
                            <li><a asp-controller="" asp-action=""><strong>Essential Work</strong></a></li>
                        </ul>
                    </li>
                    <li><a asp-controller="" asp-action=""><strong>Refferal Listing</strong></a></li>
                </ul>
            </li>
            <li>
                <span><strong>Scholarships</strong></span>
                <ul>
                    <li><a asp-controller="" asp-action=""><strong>Scholarship Registration</strong></a></li>
                    <li><a asp-controller="" asp-action=""><strong>Scholarship List</strong></a></li>
                </ul>
            </li>
            <li><a asp-controller="" asp-action=""><strong>File Manager</strong></a></li>
            <li><a asp-controller="" asp-action=""><strong>Expense Manager</strong></a></li>
            <li>
                <span><strong>Admin</strong></span>
                <ul>
                    <li><a asp-controller="" asp-action=""><strong>User Listing</strong></a></li>
                </ul>
            </li>*@
        </ul>
</nav>


@*@inject TownSend.Web.Views.Shared.Components.Navigation.HubOneNavigation navMenu

    <nav id="my-menu">
        <ul>
            <li></li>

            @foreach (var navItem in navMenu.NavMenuList)
            {
                if (navItem.childNavigation == null || navItem.childNavigation.Count == 0)
                {
                    <li><a href="@navItem.PageLink"><strong>@navItem.NavName</strong></a></li>
                }
                else
                {
                    <li id="@navItem.Id">
                        <span><strong>@navItem.NavName</strong></span>
                        <ul>
                            @foreach (var childNavItem in navItem.childNavigation)
                            {
                                if (childNavItem.childNavigation == null || childNavItem.childNavigation.Count == 0)
                                {
                                    <li><a href="@childNavItem.PageLink"><strong>@childNavItem.NavName</strong></a></li>
                                }
                                else
                                {
                                    <li>
                                        <span><strong>@childNavItem.NavName</strong></span>
                                        <ul>
                                            @foreach (var childChildNavItem in childNavItem.childNavigation)
                                            {
                                                <li><a href="@childChildNavItem.PageLink"><strong>@childChildNavItem.NavName</strong></a></li>
                                            }
                                        </ul>
                                    </li>
                                }

                            }
                        </ul>
                    </li>
                }
            }
        </ul>
    </nav>*@


