﻿@model TownSend.Web.Models.ErrorMessageModel
@{
    Layout = "~/Views/Account/_LoginLayout.cshtml";
}

<div style="margin-top: 5rem;">
    <div class="alert alert-@Model.AlertType fade show">
        @*<h4 class="alert-heading"><i class="fa @Model.Icon"></i> @Model.Heading</h4>*@
        @if (@Model.AlertType == "warning" || @Model.AlertType == "danger")
        {
            <h4>Our apologies, something has gone wrong.</h4>
        }
        else
        {
            <h4 class="alert-heading"><i class="fa @Model.Icon"></i> @Model.Heading</h4>
        }
        <hr>
        <p class="mb-0">@Html.Raw(Model.Message)</p>
    </div>
</div>