﻿@using Abp.Collections.Extensions
@using Abp.Web.Mvc.Models
@model ErrorViewModel
@*@{ 
    Layout = "~/Views/Account/_LoginLayout.cshtml";
}*@


    @*<div style="margin-top: 5rem; margin-right:20px;margin-left:20px">
        <div class="alert alert-danger fade show">
          
            @if (@Model.AlertType == "warning" || @Model.AlertType == "danger")
            {
                @(!string.IsNullOrEmpty(Model.ErrorInfo.Details) ? Model.ErrorInfo.Details : Model.ErrorInfo.Message)
            }
            else
            {
                <h4 class="alert-heading"><i class="fa @Model.Icon"></i> @Model.Heading</h4>
            }
            <hr>
            <p class="mb-0">@Html.Raw(Model.Exception.Message)</p>
        </div>
    </div>*@


<div class="row">
    <section class="col-lg-12">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">@Model.ErrorInfo.Message</h3>
            </div>
            <div class="panel-body">
                <p>
                    @(!string.IsNullOrEmpty(Model.ErrorInfo.Details) ? Model.ErrorInfo.Details : Model.ErrorInfo.Message)
                </p>
                
                @if (!Model.ErrorInfo.ValidationErrors.IsNullOrEmpty())
                {                     
                    <ul>
                        @foreach (var validationError in Model.ErrorInfo.ValidationErrors)
                        {
                            <li>
                                @validationError.Message
                                @if (validationError.Members != null && validationError.Members.Any())
                                {
                                    <text>(@string.Join(", ", validationError.Members))</text>
                                }
                            </li>
                        }
                    </ul>
                }
            </div>
        </div>
    </section>
</div>
