
$blue: #0D5080;
$red: #bf2000;
$green: #00A66F;
$secondary: #0079F2;
$input-btn-font-size: $font-size-base * 0.75;
$input-btn-padding-y: .56rem;
$gray-800: #0A4066;
$gray-200: #E9F0F5;
$input-bg: #E9F0F5;
$input-border-color: darken(#E9F0F5, 1%);
$input-font-weight: 600;
$btn-font-weight: 600;
$input-btn-font-size-sm: $font-size-sm * 0.75;
$input-btn-font-size-lg: $font-size-lg * 0.75;
$input-group-addon-color: $input-bg;
$input-group-addon-bg: $gray-800;
$custom-file-font-weight: 600;
$gray-700: #0D5080;
$body-color: $gray-700;
$info: #E9F0F5;
$input-btn-padding-y-lg: .65rem;
$input-btn-padding-y-sm: .40rem;
$input-group-addon-border-color: $gray-800;
$custom-file-color: $input-bg;
$custom-file-button-bg: $gray-700;