﻿* {
    margin: 0;
    padding: 0;
}

.form-group .error{
    color:red;
}
label.error{
    color:red;
}

.card{
    border:0 !important; 
}
.content-container .card-header.forAc {
    background-color: #ffffff !important;
    border-bottom:0px;
}
.content-container .card-header.forAc h2 {
    color: #0D5080 !important;
}

label .astrisk{
    color : red
}

.row > .col-4 > .error {
    color: red;
}

button, input {
    overflow: visible;
    background: #0d5080;
    color: #fff;
}

.customer-profile-image {
    height: 55px;
    width: 55px;
    border-radius: 55px;
    background-color: #FFFFFF;
    color: #0D5080;  
    display: flex;
    justify-content: center;
    align-items: center;
}


.ui-datepicker .ui-datepicker-header {
    background: #fff;
}

.ui-datepicker .ui-datepicker-title {
    background: #0d5080;
    color: #fff;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    background: #e9f0f5 !important;
    border: 1px solid #0d5080 !important;
    color: #0d5080 !important;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border: 1px solid #e9f0f5 !important;
    background: #0d5080 !important;
    color: #FFF !important;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: 1px solid #e9f0f5 !important;
    background: #0d5080 !important;
    color: #FFF !important;
}

.customer-name-list-team {
    height: 55px;
    width: 55px;
    border-radius: 55px;
    background-color: #FFFFFF;
    color: #0D5080;
    padding: 10px;
    display: flex;
}

table.dataTable thead th, table.dataTable thead td,
table.dataTable tbody td, table.dataTable tfoot tr.input-row td {
    padding: 10px 18px !important;
}

.tbody > tr > th {
    border-top: 0px !important;
}

.rlink {
    margin-bottom:10px;
    background-color: #E9F0F5;
    padding:15px;
}


.custom-select {
    background: #E9F0F5;
}
a:not([href]):not([tabindex]){
    color:#fff;
}