/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 0px;
    padding-bottom: 20px;
    height: 100%;
    background: #E9F0F5;
    /*color: #0D5080;*/
}

textarea {
    min-height: 3rem;
    resize: none;
    width: 100%;
    overflow: hidden;
}

nav {
    display: none;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}


#hubone-page-wrapper {
    left: 64px;
    width: calc(100% - 64px);
    height: calc(100% - 70px);
    margin-top: 70px;
}

body > .mm-page:not(#hubone-page-wrapper) {
    width: 100%;
    height: 100%;
}

#hubone-page-wrapper,
body > .mm-page {
    position: absolute;
    display: flex;
    flex-direction: column;
}        

    #hubone-page-wrapper > footer {
        margin-top: auto;
    }

    #hubone-page-wrapper .content:first-child {
        flex: 1;
    }

.alert.alert-danger.errorMessage .fa {
    font-size: 1.4rem;
}

.btn.icon-space i::after,
.nav-link.icon-space i::after {
    content: "\00a0\00a0"
}

.content {
    margin: 35px;
    padding: 0;
    background-color: #FFFFFF;
    border-radius: 5px;
}

/*content container with user card and inner cards*/
.content-container {

}

    .content-container .card:first-child .card {
        margin-top: 1.5rem;
        border-color: #E9F0F5;
    }

    .content-container > .card:first-child form,
    .content-container > .card:first-child .card-header {
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
    }

    .content-container > .card:first-child .card-header,
    .content-container > .card:first-child > .card-body .card .card-header {
        display: flex;
        flex-flow: row wrap;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        /*align-items: stretch;*/
    }

    .content-container > .card:first-child .card-body .card .card-header {
        padding: 0.50rem 1.25rem;
    }

        .content-container .card-header h2,
        .content-container .card-header h5 {
            font-weight: 400;
            margin: 0.8rem 0rem;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            flex-grow: 1;
        }

    .content-container .card-header h2, .content-container .card-header h5 {
        margin: 0.5rem 0rem;
    }

    .content-container .card-header,
    .content-container .card-header h2,
    .content-container .card-header h5 {
        color: #ffffff;
    }

    .content-container .card-header label {
        font-size: 0.7rem;
        font-weight: 700;
        text-transform: uppercase;
    }

        .content-container .card-header .card-header-filters {
            display: flex;
            flex: 1 1 auto;
            flex-flow: row wrap;
            justify-content: flex-end;
            align-items: center
        }

        .content-container .card-header .card-header-filters .btn {
            text-transform: uppercase;
            letter-spacing: 2px;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }

            .content-container .card-header .card-header-filters .btn.dropdown-toggle {
                padding-right: 0.75rem;
            }

        .content-container .card-header .card-header-filters .input-group-append .btn {
            padding: 0.375rem 0.75rem;
        }

        .content-container .card-header .card-header-filters .btn:not(:last-child) {
            margin-right: 1.25rem;
        }

        .content-container .card-header div.separator {
            background-color: #ADB0B3;
            display: inline-flex;
            height: 80%;
            margin: 0px 15px;
            max-width: 1px;
            width: 1px;
        }

        /*.content-container .card-header .btn-outline-light:hover {
            color: #000000 !important;
        }*/

    .content-container .card-body hr {
        margin-left: -1.25rem;
        margin-right: -1.25rem;
    }

    .content-container .card-body .card-body-filters {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

    .content-container .card-body .card-body-headers label,
    .content-container .card-body .card-body-filters > div,
    .content-container .card-body .card-body-validation-errors {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        flex: 4 1 auto;
    }

    .content-container .card-footer.flex {
        display: flex;
    }

    .content-container .card-footer.flex .card-footer-left {
        flex: 1 1 auto;
    }

    .content-container .card-footer.flex .card-footer-right {
        align-content: flex-end;
    }

    .content-container .card-footer.flex .card-footer-center {
        flex: 1 1 auto;
        text-align: center;
    }

@media (min-width: 768px) and (max-width: 1200px) {
    .content-container .card-body .card-body-headers label,
    .content-container .card-body .card-body-filters > div,
    .content-container .card-body .card-body-validation-errors {
        flex: 4 1 25%;
    }
}

@media (max-width: 768px) {
    .content-container .card-body .card-body-headers label,
    .content-container .card-body .card-body-filters > div,
    .content-container .card-body .card-body-validation-errors {
        flex: 4 1 100%;
    }
}
/*content container with user card and inner cards END*/

.top-divider {
    /*border: 2px solid #FFFFFF;*/
    display: none;
}

.navbar {
    padding: 0;
    z-index: 99;
}

.navbar-nav li {
    padding: 0 30px 0 0;
}

    .navbar-nav li a, .navbar-nav li a i {
        color: #0D5080;
    }

.custom-nav-divider {
    border-left: 1px solid #ADB0B3;
}

.icon-bar-overwrite {
    position: fixed;
    height: 100%;
    width: 64px;
    background-image: linear-gradient(0deg, #005A7E, #0098D5);
    top: 0px;
    left: 0px;
    z-index: 7;
}

.row.padding {
    padding: 0 20px;
    margin-right: -20px;
    margin-left: -20px;
}

.row.padding-20-all {
    padding: 20px;
    margin-right: -20px;
    margin-left: -20px;
}

.form-group {
    margin-bottom: 0;
}

.login-card .btn-secondary, .login-card .btn-secondary.show {
    background-color: #0079F2;
    border-color: #0079F2;
}

    .login-card .btn-secondary:hover {
        background-color: #0D86FF;
        border-color: #0D86FF;
    }

.login-card .btn-lg {
    border-radius: 0.15rem;
    width: 100%;
    height: 55px;
}

/*Bootstrap Button Overwrites Begin*/
/*.btn {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    height: 38px;
}

.btn-primary, .btn-primary.show {
    color: #ffffff;
    background-color: #0D5080;
    border-color: #0D5080;
}

    .btn-primary:hover {
        background-color: #0F6099;
        border-color: #0F6099;
    }

.btn-dark {
    background-color: #0A4066;
    border-color: #0A4066;
}

.btn-secondary, .btn-secondary.show {
    background-color: #0079F2;
    border-color: #0079F2;
}

    .btn-secondary:hover {
        background-color: #0D86FF;
        border-color: #0D86FF;
    }

.btn-info, .btn-info.show {
    background-color: #E9F0F5;
    border-color: #E9F0F5;
    color: #0D5080;
}

    .btn-info:hover {
        background-color: #ADB0B3;
        border-color: #ADB0B3;
        color: #0D5080;
    }

    .btn-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled).active,
    .show > .btn-info.dropdown-toggle {
        background-color: #E9F0F5;
        border-color: #E9F0F5;
        color: #0D5080;
    }

    
.btn-lg {
    border-radius: 0.15rem;
    width: 100%;
    height: 55px;
}*/

.bs-actionsbox .btn {
    font-size: 0.8rem;
    font-weight: 400;
}

/*Bootstrap Button End*/
/*Bootstrap Card Overwrites Begin*/
.card-header {
    background-image: url(/images/Header-Image-2.png);
}

    /*.card-header .btn {
        color: #FFFFFF;
    }*/

        /*.card-header .btn:hover, #documents-accordion .card-header .btn:active {
            text-decoration: none;
        }*/

.card-body.note-card {
    background-color: #E9F0F5;
}

.login-card {
    margin: 40px 0;
    box-shadow: 0px 0px 1rem #bcc5cc;
}

    .login-card .card-header {
        background: #0D5080;
        color: #FFFFFF;
        font-size: 24px;
        padding: 20px;
    }

    .login-card .card-body {
        padding: 25px 55px;
    }

    .login-card .card-footer {
        background: #FFFFFF;
        padding: 0 15px;
    }

    .login-card .form-group {
        margin-bottom: 25px;
    }
/*Bootstrap Card End*/

/* Overwrites for mmenu.js plugin (side menu) BEGIN */
.mm-listitem:hover {
    background: #E9F0F5;
}

.mm-menu {
    --mm-color-background: #0D5080;
    --mm-color-text-dimmed: #FFFFFF;
    --mm-navbar-size: 127px;
    --mm-listitem-size: 57px;
    --mm-iconbar-size: 64px;
    --mm-iconpanel-size: 64px;
    --mm-color-text: #0D5080
}

.mm-navbar {
    background-image: linear-gradient(0deg, #0093ce, #0090ca);
    --mm-color-text-dimmed: #FFFFFF;
    --mm-line-height: -45px;
}

.mm-panels {
    --mm-color-background: #FFFFFF;
    --mm-color-text-dimmed: #0D5080;
}

.mm-menu, .mm-slideout {
    --mm-sidebar-collapsed-size: 64px;
    --mm-sidebar-expanded-size: 0px;
}

.mm-btn_prev {
    --mm-color-button: #FFFFFF;
    padding-top: 108px;
}
/* Overwrites for mmenu.js plugin (side menu) END */


.list-header {
    padding: 20px 20px 0 20px !important;
}

.table thead th {
    border: none;
}

.icon-bar-overwrite-icon, .icon-bar-overwrite-icon:hover {
    display: block;
    height: 57px;
    padding: 20px 0;
    width: 64px;
    padding: 20px 23px;
    color: #FFFFFF;
}

/*Bootstrap Overwrites Begin*/

.alert-info {
    background-color: #E9F0F5;
    border-color: #E5EEF3;
}

.filter-option {
    color: #0D5080;
    letter-spacing: 1px;
}

.dropdown-toggle.btn-info::after {
    color: #0D5080;
}

.dropdown-toggle::after {
    margin-left: 0.75rem;
}

.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-primary, .bootstrap-select > .dropdown-toggle.bs-placeholder.btn-secondary, .bootstrap-select > .dropdown-toggle.bs-placeholder.btn-success, .bootstrap-select > .dropdown-toggle.bs-placeholder.btn-danger, .bootstrap-select > .dropdown-toggle.bs-placeholder.btn-info, .bootstrap-select > .dropdown-toggle.bs-placeholder.btn-dark, .bootstrap-select > .dropdown-toggle.bs-placeholder.btn-primary:hover, .bootstrap-select > .dropdown-toggle.bs-placeholder.btn-secondary:hover, .bootstrap-select > .dropdown-toggle.bs-placeholder.btn-success:hover, .bootstrap-select > .dropdown-toggle.bs-placeholder.btn-danger:hover, .bootstrap-select > .dropdown-toggle.bs-placeholder.btn-info:hover, .bootstrap-select > .dropdown-toggle.bs-placeholder.btn-dark:hover, .bootstrap-select > .dropdown-toggle.bs-placeholder.btn-primary:focus, .bootstrap-select > .dropdown-toggle.bs-placeholder.btn-secondary:focus, .bootstrap-select > .dropdown-toggle.bs-placeholder.btn-success:focus, .bootstrap-select > .dropdown-toggle.bs-placeholder.btn-danger:focus, .bootstrap-select > .dropdown-toggle.bs-placeholder.btn-info:focus, .bootstrap-select > .dropdown-toggle.bs-placeholder.btn-dark:focus, .bootstrap-select > .dropdown-toggle.bs-placeholder.btn-primary:active, .bootstrap-select > .dropdown-toggle.bs-placeholder.btn-secondary:active, .bootstrap-select > .dropdown-toggle.bs-placeholder.btn-success:active, .bootstrap-select > .dropdown-toggle.bs-placeholder.btn-danger:active, .bootstrap-select > .dropdown-toggle.bs-placeholder.btn-info:active, .bootstrap-select > .dropdown-toggle.bs-placeholder.btn-dark:active {
    color: #0D5080;
}

.form-control {
    letter-spacing: 1px;
}

.custom-file {
    font-size: 0.75rem;
}

    .custom-file > label.custom-file-label {
        border-right: none;
        color: #0D5080;
    }

        .custom-file > label.custom-file-label::after {
            border: 1px solid #0D5080;
            margin-top: -1px;
            height: calc(1.5em + 1.12rem + 2px);
        }
/*Bootstrap Overwrites END*/

label.custom-form-label {
    color: #0D5080;
    vertical-align: middle;
    font-weight: bold;
}

#customer-listing-table td:hover {
    cursor: pointer;
}

.filters .filter-border-right {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.filters .pad-right {
    padding-right: 7px;
}

.filters .date-input {
    width: 140px;
}

#customer-listing-table .hidden-col {
    width: 20px;
}

.seperator {
    padding: 15px 0 !important;
}

.customer-header {
    height: 87px;
    background-image: url(/images/Header-Image-2.png);
    border-radius: 4px 4px 0 0;
}

.customer-header .customer-header-row {
    height: 100%;
    color: #FFFFFF;
}

.customer-header-row .customer-name {
    height: 55px;
    padding: 1%;
    width: calc(100% - 65px);
    margin-left: 10px;
}

.info-text-small {
    font-size: 13px;
}

.customer-photo {
    height: 55px;
    width: 55px;
    border-radius: 55px;
    background-color: #FFFFFF;
    color: #0D5080;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.customer-header-right, .customer-header-right .nav {
    height: 100%;
}

.customer-header .nav .nav-link {
    color: #FFFFFF;
    font-weight: bold;
    height: 100%;
}

    .customer-header .nav .nav-link.active {
        color: #004080;
        border-bottom: 5px solid #004080;
    }

.customer-body-left {
    font-size: 13px;
    border-right: 1px solid #ADB0B3;
}

.customer-body-left-row {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.text-align-center {
    text-align: center;
}

.customer-body-left-row.contact-info {
    border-top: 1px solid #ADB0B3;
    margin-right: -15px;
    margin-left: -15px;
}

.no-padding {
    padding: 0 !important;
}

.contact-info .icon {
    padding: 7px 0;
}

#documents .padding-top {
    padding-top: 20px;
}

.collapse-heading-left {
    padding-right: 20px;
    border-right: 1px solid #FFFFFF;
}

.collapse-heading-right {
    padding-left: 20px;
}

#documents-accordion .button-col {
    min-width: 175px;
}

.modal-body .row {
    margin: 20px 0;
}

.modal-body .btn-group {
    width: 100%;
}

.full-margin-20 {
    margin: 20px !important;
}

.document-drag-and-drop {
    width: 100%;
    border: 3px dashed #ADB0B3;
}

    .document-drag-and-drop .upload-icon {
        font-size: 64px;
        color: #ADB0B3;
        text-align: center;
        padding-top: 20px;
    }

    .document-drag-and-drop .text-div {
        color: #ADB0B3;
        text-align: center;
    }

.padding-bottom-40 {
    padding-bottom: 40px;
}

.modal-dropdown {
    background-color: #E9F0F5;
    color: #495057;
    width: 100%;
}



.custom-form-label span {
    font-size: 12px;
    color: #495057;
}

label.custom-form-label span.required:before {
    content: ' *';
    font-weight: bold;
    color: #278ef4;
}


.contact-info .bottom-padding {
    padding-bottom: 10px;
}

.contact-info .icon-no-bottom {
    padding: 7px 0 0 0;
}

.customer-body-right {
    padding: 35px;
}

.modal-header {
    background-color: #0D5080;
    color: #FFFFFF;
}

    .modal-header button.close {
        color: #FFFFFF;
    }

.table-header-dark {
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    background: #0D5080;
}

.table-header-light {
    font-size: 12px;
    font-weight: bold;
    background: #E9F0F5;
}

 /*.form-control {
    border: 1px solid #E9F0F5;
    border-radius: 0.15rem;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
}*/
table.dataTable tfoot tr.input-row td.col-align-right,
table.dataTable tbody td.col-align-right {
    text-align: right;
}



.forgot-password-link, .resend-code-link {
    font-weight: 800;
    color: #006CD9;
    height: 100%;
}

.twoStepLabel {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    /* Custom radio buttons on login BEGIN */
    /* Hide the browser's default radio button */
    .twoStepLabel input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

/* Create a custom radio button */
.twoStepRadioButton {
    position: absolute;
    top: 0;
    left: 0;
    height: 35px;
    width: 35px;
    border-radius: 4px;
    background-color: #FFFFFF;
    border: 3px solid #ADB0B3;
}

/* On mouse-over, add a grey background color */
.twoStepLabel:hover input ~ .twoStepRadioButton {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.twoStepLabel input:checked ~ .twoStepRadioButton {
    background-color: #2196F3;
    border: none;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.twoStepRadioButton:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.twoStepLabel input:checked ~ .twoStepRadioButton:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.twoStepLabel .twoStepRadioButton:after {
    top: 3px;
    left: 3px;
    width: 29px;
    height: 29px;
    border: 5px solid #FFFFFF;
    background: #2196F3;
    border-radius: 3px;
}
/* Custom radio buttons on login END */

/*Style jquery.growl */
.growl {
    opacity: 0.9;
    filter: alpha(opacity=90);
}
#growls-default {
    top: 82px;
    right: 10px;
}
#growls-tr {
    top: 82px;
    right: 10px;
}
/*Style jquery.growl END*/

/*Style datatables */
div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    background-color: transparent;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0px 0px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    border: 1px solid #ffffff
}

.no-sort::after, .no-sort::before {
    display: none !important;
}

.no-sort {
    pointer-events: none !important;
    cursor: default !important;
}

.tr-action-btn {
    width: 1%;
    white-space: nowrap;
    padding: 0 30px 0px 0 !important;
}

table.dataTable tbody td,
table.dataTable tfoot tr.input-row td {
    vertical-align: middle;
}

table.dataTable tbody td,
table.dataTable tfoot tr.input-row td {
    padding: 5px 30px;
}

table.dataTable thead > tr > th.sorting {
    padding-left: 30px;
}
/*Style datatables END*/

/*Styles for sprucening up the website*/
.filters .input-group {
    margin: 0 8px;
}

.filters .filter-select {
    width: calc(100% - 81px);
    display: inline-block;
    margin: 0 5px 0 5px;
}

.customer-header-right .nav-link {
    padding: 2.3% 1rem 2% 1rem;
}

.border-right-blue {
    border-right: 1px solid #006CD9
}

.customer-name p {
    margin: 0;
}

.customer-body {
    height: calc(100% - 87px);
}

.table .td-btn {
    padding: 0.75rem 0 0.75rem 5px;
}

.table .td-download {
    width: 100px;
    padding-right: 0px;
}

.table .td-edit {
    width: 70px;
}

.table .td-delete {
    width: 75px;
}

.table .td-profile {
    width: 80px;
}

.table .td-first-col {
    padding-left: 17px;
}

.customer-body .content-container > .card:first-child .card-header {
    padding-right: 0.75rem;
}

.profile-action-btns-container {
    padding: 7px;
}
/**END*/
/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}