﻿.tlg-team-summary-title {
    font-weight: 900;
    letter-spacing: 1px;
    font-size: .6rem;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.tlg-team-summary-sub-text {
    font-weight: 500;
    letter-spacing: 1px;
    color: #858688;
    font-size: .7rem;
}

.tlg-summary-table-footer {
    background-color: #e9f0f5;
    font-weight: 900;
    letter-spacing: 1px;
    font-size: .8rem;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.table thead th {
    font-size: .5rem;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.table tbody td {
    font-size: .8rem;
    font-weight: 400;
    color: #858688;
    letter-spacing: 1px;
}

.btn {
    font-size: .6rem;
    font-weight: 600;
    letter-spacing: 2px;
}