﻿/**
All custom css (non bootstrap/framework stuff begins with 'tlg'   
**/
#tlg-container {
    padding: 5% 20% 5% 20%;
}

#tlg-title {
    text-align: center;
    font-weight: 400;
}

#tlg-title-sub-text {
    text-align: center;
    font-weight: 400;
    letter-spacing: 1.5px;
    color: #858688;
}


#tlg-required-text {
    font-weight: 400;
    color: #278ef4;
}

.tlg-control-label {
    font-weight: 500;
    display: block;
}

.tlg-form-input-control {
    height: 60px;
}

.tlg-form-textarea-control {
    height: 150px !important;
}

.tlg-row {
    margin-bottom: 5%;
    margin-top: 5%
}

#tlg-form-submit {
    width: 80%;
    height: 60px;
    letter-spacing: 2px;
    margin-top: 2.5%;
}

#tlg-disclaimer-text {
    font-size: .8rem;
    color: #858688;
    margin-top: 1.5%;
    letter-spacing: 1px;
}

.tlg-asterisk {
    color: #278ef4;
    font-weight: 900;
}