﻿.chart-totals {
    display: flex;
    flex-wrap: nowrap
}
    .chart-totals div.total-line {
        display: flex;
        flex: 1 1 auto;
        flex-flow: row wrap;
        justify-content: flex-end;
        align-items: center;
        margin-left: 2rem;
    }

    .chart-totals div span.title {
        color: #C2D3DF;
        font-size: 0.9rem;
        font-weight: 500;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    .chart-totals div span:not(:last-child) {
        padding-right: 0.7rem;
    }

    .chart-totals div .fa:first-child {
        color: #325D88;
        font-size: 1.2rem;
        padding-right: 0.5rem;
        vertical-align: top;
    }

.uber-chart-container legend {
    margin-bottom: 0px;
    font-size: 0.8rem;
}

.chart-legend {
    width: 100%;
}
    .chart-legend div.legend-row {
        font-size: 0.75rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

    .chart-legend:not(.chart-legend-inline),
    .chart-legend:not(.chart-legend-inline) > div {
        width: 18rem;
    }

    .chart-legend.chart-legend-inline {
        display: flex;
        align-items: center;
        flex-flow: row nowrap;
        justify-content: center;
    }

        .chart-legend.chart-legend-inline > div {
            display: flex;
            align-items: center;
            flex-flow: row nowrap;
        }

        .chart-legend.chart-legend-inline div.legend-item {
            margin-left: 1rem;
            margin-right: 1rem;
        }

    .chart-legend div.legend-item {
        margin-bottom: 0.5rem;
        margin-top: 0.75rem;
        display: flex;
        flex-direction: row;
        flex-basis: 100%;
        flex: 1;
        align-items: center;
    }

        .chart-legend div.legend-item span {
            border-radius: 0.15rem;
            width: 0.75rem;
            height: 1.60rem;
            margin-right: 5px;
        }

        .chart-legend  div.legend-item div {
            white-space: nowrap;
        }

.uber-chart-container {
    border: none !important;
    background: #ffffff;
    border: 1px solid;
    flex-wrap: nowrap;
}

    .uber-chart-container > div {
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
    }

    .uber-chart-container .widget:first-child {
        border-right: 1px solid #E9F0F5;
    }


.chart-container {
    flex: 1 1 auto;
    display: none;
}

.widget.pie-widget {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding-right: 1.25rem;
    margin-right: 1.25rem;
}

    .widget.pie-widget .chart-container {
        height: 20rem;
        width: 20rem;
    }

.widget.bar-widget {
    flex-flow: column wrap;
    display: flex;
    flex: 1 1 auto;
    min-width: 0; /*super important or char responsiveness will not work*/
}

    .widget.bar-widget .chart-container {
        width: 100%;
    }

/*@media (min-width: 768px) {
    .dashboard-header .form-check-label {
        padding-left: 1.5rem;
    }

    .dashboard-header :not(.bs-searchbox):not(.input-group:first-child) > input,
    .dashboard-header .btn-group, .dashboard-header .bootstrap-select {
        margin-left: 0.5rem;
        margin-right: 1rem !important;
    }

    .dashboard-header :not(.bs-searchbox) .input-group:last-child > input {
        margin-right: 0px !important;
    }

    .dashboard-header .hasDatepicker {
        width: 7rem
    }

    .dashboard-header .pipeline-percent {
        width: 3rem
    }

    .dashboard-header .bootstrap-select.target-market {
        max-width: 9rem;
    }

    .dashboard-header .bootstrap-select.product-market {
        max-width: 10.5rem;
    }

    .dashboard-header .bootstrap-select.loan-status {
        max-width: 12rem;
    }

    form.form-inline .inline-row + .inline-row {
        margin-top: 10px;
    }

    .uber-chart-container fieldset ~ fieldset {
        margin-top: 0.5rem;
    }
}

@media (min-width: 576px) {
    .widget {
        height: 50vh;
    }

    .widget-group .list-group {
        margin-top: 10px;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .widget-group .list-group {
        flex-direction: row;
        padding-left: 3px;
        margin-bottom: 10px;
        border-radius: 4px;
    }

        .widget-group .list-group .list-group-item {
            display: inline-block;
            flex-grow: 1;
        }

        .widget-group .list-group .list-group-item {
            margin-bottom: 0;
            margin-left: -4px;
            margin-right: 0;
            border-right-width: 0;
        }

            .widget-group .list-group .list-group-item:first-child {
                border-top-right-radius: 0;
                border-bottom-left-radius: 4px;
            }

            .widget-group .list-group .list-group-item:last-child {
                border-top-right-radius: 4px;
                border-bottom-left-radius: 0;
                border-right-width: 1px;
            }
}

@media (min-width: 768px) {
    .widget {
        height: 40vh;
    }
}

@media (min-width: 992px) {
    .widget {
        height: 40vh;
    }
}

@media (min-width: 1200px) {
    .widget-group {
        height: 45vh;
    }

    .widget {
        height: auto;
    }
}
*/